.template-article {

  main {
    // remove gutters on mobile for the content part
    @include until($medium) {
      margin-left: -1rem;
      margin-right: -1rem;
    }
  }

  // activate justified paragraphs if hyphenation is possible
  @supports(hyphens: auto) {
    p {
      text-align: justify;
    }
  }
}
