@import 'bower_components/compass-breakpoint/stylesheets/breakpoint';

$smallest-breakpoint:  rem-calc(320);
$small-breakpoint:     rem-calc(640);
$medium-breakpoint:    rem-calc(1024);
$large-breakpoint:     rem-calc(1440);
$xlarge-breakpoint:    rem-calc(1920);

$small-range: 0 $small-breakpoint;
$medium-range: $small-breakpoint $medium-breakpoint;
$large-range: $medium-breakpoint $large-breakpoint;
$xlarge-range: $large-breakpoint $xlarge-breakpoint;

$small-up: min-width 0;
$medium-up: min-width $small-breakpoint + rem-calc(1);
$large-up: min-width $medium-breakpoint + rem-calc(1);
$xlarge-up: min-width $large-breakpoint + rem-calc(1);

$small-down: max-width $small-breakpoint;
$medium-down: max-width $medium-breakpoint;
$large-down: max-width $large-breakpoint;
$xlarge-down: max-width $xlarge-breakpoint;


@mixin resp-medium-scale($attr, $small-value, $medium-value) {
    @include resp-scale($attr, $small-value, $medium-value, $small-breakpoint, $medium-breakpoint);
}
