// Typography

// font alternatives list
//
// use Cabin and Crimson Text as fonts
// this also sets our alternatives in case the main font isnt available
$font-family-sans-serif: "Cabin", Helvetica, Roboto, Arial, sans-serif;
$font-family-serif: "Crimson Text", "Times New Roman", Times, serif;

// sans-serif text
@mixin sans {
  font-family: $font-family-sans-serif;
}

// serif text
@mixin serif {
  //font-family: $font-family-serif;
  font-family: $font-family-sans-serif;
}

// default font size
//
// is 100% meaning 16px in most browsers
// setting this to 100% enables users to zoom the text
// all other font sizes should be set in rem (using rem-calc)
html {
    font-size: 100%;
}

@import 'bower_components/modular-scale/stylesheets/modular-scale';
// modular scale settings
//
// this can set the font-size (and any ohter attribute) based on a scale
// and this can be responsive, meaning font is smaller on smaller screens
// using css calc.
// More documentation: https://github.com/modularscale/modularscale-sass
//
// $ms-base:  base font size, i.e. ms-respond('attr', 1)
// $ms-range: table of scales (1st col) and media breakpoints (2nd col)
// $ms-fluid: wether $ms-range is interpreted as a list of steppoints (false)
//            or font-sizes are fluid between them (true)
//
$ms-base: rem-calc(14);
$ms-fluid: true;
$ms-range:
  1.2     $small-breakpoint,
  1.3333  $medium-breakpoint;


body {
  @include sans;
  @include ms-respond(font-size, 1);
  color: $brown;
}

@mixin header-commons {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  font-weight: normal;
}

h4 {
  @include header-commons;
  @include ms-respond(font-size, 2);
  line-height: 1.2;
}
h3 {
  @include header-commons;
  @include ms-respond(font-size, 2);
  line-height: 1.2;
}
h2 {
  @include header-commons;
  @include ms-respond(font-size, 4);
  line-height: 1.2;
}
h1 {
  @include header-commons;
  @include ms-respond(font-size, 5);
  @media (max-width: 40rem) {

  }
  font-weight: bold;
  line-height: 1.2;
}


// styling for paragraphs
//
// they are serif and have font-size scale of 1
//
// adjacent paragraphs dont have top and bottom margins,
// instead they have a text-indent of a font-size scale of 1
//
p {
  line-height: 1.3;
  @include serif;
  @include ms-respond(font-size, 1);
  margin-top: 0;
  @include ms-respond(margin-bottom, 1);
}


// styling of links/anchors
//
// they are normally blue and dont have an underline
//
// :hover   -
// :active  -
a {
  color: $blue;
  text-decoration: none;
  &:hover {
    color: $darkblue;
  }
  &:active {
    color: $darkblue;
    text-decoration: underline;
  }
}

// clickable headings
h1 a, h2 a, h3 a, h4 a {
  color: $brown;
  &:hover {
    color: $brown;
    text-decoration: none;
  }
  &:active {
    color: $brown;
  }
}


// styling of normal lists, i.e. those next to paragraphs
ul li, ol li {
  @include serif;
  @include ms-respond(font-size, 1);
}

// generic shadow to be used for text at many places
@mixin janun-text-shadow {
  text-shadow: rem-calc(2) rem-calc(2) rem-calc(2) rgba(0, 0, 0, 0.25);
}

// headings for areas on pages
.area-title {
  text-align: center;
  color: $lighterdark;
  @include sans;
  @include ms-respond(font-size, 0);
  font-weight: normal;
}
