@import 'bower_components/modular-scale/stylesheets/modular-scale';


// using the google fonts Cabin, Crimson Text
@import url(https://fonts.googleapis.com/css?family=Cabin|Crimson+Text:400,700,400italic);
$font-family-sans-serif: "Cabin", Helvetica, Roboto, Arial, sans-serif;
$font-family-serif: "Crimson Text", "Times New Roman", Times, serif;


$ms-base: rem-calc(14);
$ms-range:
  $minor-third        $small-breakpoint,
  $augmented-fourth   $medium-breakpoint;


.sans-serif, .sans {
  font-family: $font-family-sans-serif;
}
.serif {
  font-family: $font-family-serif;
}

body {
  @extend .sans;
  @include ms-respond(font-size, 1);
  color: $brown;
}

@mixin header-commons {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  line-height: 1.5;
}

h4 {
  @include header-commons;
  @include ms-respond(font-size, 2);
}
h3 {
  @include header-commons;
  @include ms-respond(font-size, 3);
}
h2 {
  @include header-commons;
  @include ms-respond(font-size, 4);
}
h1 {
  @include header-commons;
  @include ms-respond(font-size, 5);
  line-height: 1.2;
}


// styling for paragraphs
//
// .intro
// +p
p {
  @extend .serif;
  @include ms-respond(font-size, 1);
  margin-top: 0; margin-bottom: 0;

  &.intro {
    @include ms-respond(font-size, 1);
    color: $green;
  }

  &+p {
    @include ms-respond(text-indent, 1);
  }
}


// styling of links
a {
  color: $blue;
  text-decoration: none;
  &:hover {
    color: $darkblue;
  }
  &:active {
    color: $darkblue;
    text-decoration: underline;
  }
}


// styling of normal lists, i.e. those next to paragraphs
ul li, ol li {
  @extend .serif;
  @include ms-respond(font-size, 1);
}

// generic shadow to be used everywhere for text
@mixin janun-text-shadow {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

// headings for areas on pages
.area-title {
  text-align: center;
  color: $lighterdark;
  @extend .sans;
  @include ms-respond(font-size, 0);
  font-weight: normal;
}
