// Typography


// use Cabin and Crimson Text as fonts
//
// these need to be loaded using a link in the head of our html docs
// as this is faster than using css import.
$font-family-sans-serif: "Cabin", Helvetica, Roboto, Arial, sans-serif;
$font-family-serif: "Crimson Text", "Times New Roman", Times, serif;

// use sans-serif text
// this mixin is in case we need special settings per font
@mixin sans {
  font-family: $font-family-sans-serif;
}
// use serif text
// this mixin is in case we need special settings per font
@mixin serif {
  font-family: $font-family-serif;
}


$rem-base: 16px;
html {
    font-size: 16px;
}

@import 'bower_components/modular-scale/stylesheets/modular-scale';

$ms-base: rem-calc(13px);
$ms-range:
  $minor-third        $small-breakpoint,
  $augmented-fourth   $medium-breakpoint;


body {
  @include sans;
  @include ms-respond(font-size, 1);
  color: $brown;
}

@mixin header-commons {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

h4 {
  @include header-commons;
  @include ms-respond(font-size, 2);
  line-height: 1.5;
}
h3 {
  @include header-commons;
  @include ms-respond(font-size, 3);
  line-height: 1.5;
}
h2 {
  @include header-commons;
  @include ms-respond(font-size, 4);
  line-height: 1.5;
}
h1 {
  @include header-commons;
  @include ms-respond(font-size, 5);
  line-height: 1.2;
}


// styling for paragraphs
//
// they are serif and have font-size scale of 1
//
// adjacent paragraphs dont have top and bottom margins,
// instead they have a text-indent of a font-size scale of 1
//
p {
  @include serif;
  @include ms-respond(font-size, 1);
  margin-top: 0; margin-bottom: 0;

  &+p {
    @include ms-respond(text-indent, 1);
  }
}


// styling of links/anchors
//
// they are normally blue and dont have an underline
//
// :hover   -
// :active  -
a {
  color: $blue;
  text-decoration: none;
  &:hover {
    color: $darkblue;
  }
  &:active {
    color: $darkblue;
    text-decoration: underline;
  }
}


// styling of normal lists, i.e. those next to paragraphs
ul li, ol li {
  @include serif;
  @include ms-respond(font-size, 1);
}

// generic shadow to be used everywhere for text
@mixin janun-text-shadow {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

// headings for areas on pages
.area-title {
  text-align: center;
  color: $lighterdark;
  @include sans;
  @include ms-respond(font-size, 0);
  font-weight: normal;
}
