// this mixin is being used to hide things
@mixin hide{ display: none; }
// .hide { @include hide; }


// these mixins hide things only for their specific screen size
@mixin hide-for-medium-only {
  @include breakpoint($medium-range) { @include hide; }
}
// // .hide-for-medium-only { @include hide-for-medium-only }

@mixin hide-for-large-only {
  @include breakpoint($large-range) { @include hide; }
}
// // .hide-for-large-only { @include hide-for-large-only }

@mixin hide-for-xlarge-only {
  @include breakpoint($xlarge-range) { @include hide; }
}
// // .hide-for-xlarge-only { @include hide-for-xlarge-only }


// these mixins hide things for their specific screen size and all bigger
@mixin hide-for-medium-up {
  @include breakpoint($medium-up) { @include hide; }
}
// .hide-for-medium-up { @include hide-for-medium-up }

@mixin hide-for-large-up {
  @include breakpoint($large-up) { @include hide; }
}
// .hide-for-large-up { @include hide-for-large-up }

@mixin hide-for-xlarge-up {
  @include breakpoint($xlarge-up) { @include hide; }
}
// .hide-for-xlarge-up { @include hide-for-xlarge-up }


// these mixins hide things for their specific screen size and all smaller
@mixin hide-for-small-down {
  @include breakpoint($small-down) { @include hide; }
}
// .hide-for-small-down { @include hide-for-small-down; }

@mixin hide-for-medium-down {
  @include breakpoint($medium-down) { @include hide; }
}
// .hide-for-medium-down { @include hide-for-medium-down; }

@mixin hide-for-large-down {
  @include breakpoint($large-down) { @include hide; }
}
// .hide-for-large-down { @include hide-for-large-down; }

@mixin hide-for-xlarge-down {
  @include breakpoint($xlarge-down) { @include hide; }
}
// .hide-for-xlarge-down { @include hide-for-xlarge-down; }


// these mixins show things for their specific screen size and all bigger
@mixin show-for-small-up {
  // do nothing
}
// .show-for-small-up { @include show-for-small-up; }

@mixin show-for-medium-up {
  @include hide-for-small-down;
}
// .show-for-medium-up { @include show-for-medium-up; }

@mixin show-for-large-up {
  @include hide-for-medium-down;
}
// .show-for-large-up { @include show-for-large-up; }

@mixin show-for-xlarge-up {
  @include hide-for-large-down;
}
// .show-for-xlarge-up { @include show-for-xlarge-up; }


// these mixins show things for their specific screen size and all smaller
@mixin show-for-small-down {
  @include hide-for-medium-up;
}
// .show-for-small-down { @include show-for-small-down; }

@mixin show-for-medium-down {
  @include hide-for-large-up;
}
// .show-for-medium-down { @include show-for-medium-down; }

@mixin show-for-large-down {
  @include hide-for-xlarge-up;
}
// .show-for-large-down { @include show-for-large-down; }

@mixin show-for-xlarge-down {
  // do nothing
}
// .show-for-xlarge-down { @include show-for-xlarge-down; }



// Only display content to screen readers
//
// See: http://a11yproject// .com/posts/how-to-hide-content/
@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.hidden {
  @include sr-only;
}

// Use in conjunction with // .sr-only to only display content when it's focused// .
// Useful for "Skip to main content" links; see http://www// .w3// .org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
// Credit: HTML5 Boilerplate
@mixin sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}
