{% if search_results.has_previous or search_results.has_next %}
  <div class="pagination">
    {% if search_results.has_previous %}
      <a class="pagination__previous" title="Vorherige Seite"
         href="{% url 'search' %}?q={{ query_string|urlencode }}&amp;page={{ search_results.previous_page_number }}">
        <i class="icon-arrow-left"></i>
      </a>
    {% endif %}

    {% for page in search_results.paginator.page_range %}
      {% if page == search_results.number %}
        <span title="Du bist auf Seite {{ page }}"
              class="pagination__page pagination__page--active">{{ page }}</span>
      {% else %}
        <a title="Zu Seite {{ page }}" class="pagination__page"
           href="{% url 'search' %}?q={{ query_string|urlencode }}&amp;page={{ page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if search_results.has_next %}
      <a class="pagination__next" title="Nächste Seite"
         href="{% url 'search' %}?q={{ query_string|urlencode }}&amp;page={{ search_results.next_page_number }}">
        <i class="icon-arrow-right"></i>
      </a>
    {% endif %}
  </div>
{% endif %}
