{% extends "core/__base.html" %}
{% load wagtailcore_tags nettes_datum %}
{% load static from staticfiles %}
{% load render_partial %}

{% block body_class %}template-seminaranmeldung{% endblock %}

{% block content %}


{% if self.description %}
<div class="container container--margin-top">
  <div class="text-container userim">
    <h1 class="title title--color-green">{{ self.title }}</h1>
    {% include_block self.description %}
  </div>
</div>
{% endif %}

<form action="." method="post" class="form">
  <div class="block-paragraph">
    <h2>Dein Antrag für eine Förderung</h2>
  </div>

  {% csrf_token %}
  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}

  {% for field in form.visible_fields %}
    <div id="wrapper-{{field.id_for_label}}" class="form__fieldwrapper {% if field.errors %}form__fieldwrapper--has-error{% endif %}">
      <div class="form__textwrapper">
        <label for="{{ field.id_for_label }}">
          {{ field.label }}{% if field.field.required == False %} (optional){% endif %}
        </label>
        {% if field.help_text %}
          <p class="form__helptext">{{ field.help_text|safe }}</p>
        {% endif %}
      </div>
      {{ field }}
      {{ field.errors }}
    </div>
  {% endfor %}


  <div class="block-paragraph">
    <h2>Wie hoch ist die mögliche Förderung?</h2>
    <p>Dein Seminar kann mit folgendem Satz pro Bildungstag und Teilnehmer_in gefördert werden:</p>
    <ul class="activity-list">
      <li id="li_oneDay">bei Eintagesseminaren: 6,50&nbsp;€</li>
      <li id="li_group">bei Mitgliedern und Projektgruppen: 11,50&nbsp;€</li>
      <li id="li_nogroup">bei Einzelaktiven: 9&nbsp;€</li>
    </ul>
    <p class="hide@no-js">
      <span id="fundingUnknown">
        Fülle die Felder <a href="#id_days">Bildungstage</a>
        und <a href="#id_attendees">Anzahl Teilnehmer_innen</a> aus,
        um die mögliche Förderungshöhe für Dein Seminar zu erfahren.
      </span>
      <span class="hide" id="fundingKnown">
        Dein Seminar kann vielleicht mit <span id="fundingAmount"></span> gefördert werden.
      </span>
    </p>
  </div>

  <div class="form__controls">
    <input class="button button--filled font-weight-bold color-green" type="submit" value="Beantragen" />
    <a href="/veranstaltungen" class="button float-right@medium">Zurück zu Veranstaltungen</a>
  </div>

</form>

{% endblock %}

{% block extra_js %}
  <script>
    $("#id_publish").on('change', function() {
      if ($("#id_publish").prop('checked')) {
        $('#wrapper-id_image').show();
      } else {
        $('#wrapper-id_image').hide();
      }
    })

    function updateFunding() {
      var attendees = parseInt($("#id_attendees").val());
      var days = parseInt($("#id_days").val());
      var hasGroup = $("#id_group").val() !== "";
      var baseFunding = hasGroup ? 11.5 : 9.0;
      var funding;
      var fundingStr;

      // update activity-list
      if (days == NaN ) {
        $(".activity-list li").removeClass('activity-list__active');
      } else if (days === 1) {
        $("#li_oneDay").siblings().removeClass('activity-list__active');
        $("#li_oneDay").addClass('activity-list__active');
      } else if (hasGroup) {
        $("#li_group").siblings().removeClass('activity-list__active');
        $("#li_group").addClass('activity-list__active');
      } else if (!hasGroup ) {
        $("#li_nogroup").siblings().removeClass('activity-list__active');
        $("#li_nogroup").addClass('activity-list__active');
      }

      // update fundingAmount
      if (attendees > 0 && days > 0) {
        if (days === 1) {
          funding = attendees * 6.5;
        } else {
          funding = attendees * days * baseFunding;
        }
        fundingStr = funding.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1.').replace('.', ',');
        $("#fundingUnknown").addClass('hide');
        $("#fundingKnown").removeClass('hide');
        $("#fundingAmount").html(fundingStr + "&nbsp;€");
      } else {
        $("#fundingKnown").addClass('hide');
        $("#fundingUnknown").removeClass('hide');
      }
    }

    $("#id_attendees").on('input', updateFunding);
    // $("#id_begin").focusout(updateFunding);
    // $("#id_end").focusout(updateFunding);
    $("#id_days").on('input', updateFunding);
    $("#id_group").on('input', updateFunding);
    updateFunding();

    // focus first one with an error:
    $(".form__fieldwrapper--has-error input").first().focus();
  </script>
{% endblock %}
