{% extends "core/__base.html" %}
{% load wagtailcore_tags nettes_datum %}
{% load static from staticfiles %}
{% load render_partial %}

{% block body_class %}template-event-index-page-dis{% endblock %}

{% block content %}

{% include "core/_pageheader.html" %}

<div class="center-container">

{% if search_query %}
  {% if events %}
    Okay, wir haben {{ events|length }} Veranstaltungen für dich gefunden.
    {% regroup events by month as events_by_month %}
    {% for events in events_by_month %}
      <h2 id="{{ month|date:"FY" }}" class="area-title onpagemenu-scrollmark">{{ events.grouper|date:"F Y" }}</h2>
      <div class="card-grid">
        {% for event in events.list %}
          {% render_partial event %}
        {% endfor %}
      </div>
    {% endfor %}
  {% else %}
    <div class="padding-top-6 padding-bottom-5">
      <i class="icon-ghost color-red" style="font-size: 7rem" aria-hidden="true"></i>
      <div class="margin-bottom-3 margin-top-4 big-font">
        <div class="color-red">Sorry, Weltenbummler!</div>
        <div>Wir konnten kein Abenteuer für dich finden.</div>
      </div>
    </div>
  {% endif %}
{% else %}
  {% if events %}
    <h2 id="aktuell" class="area-title onpagemenu-scrollmark">Die nächsten drei Veranstaltungen</h2>
    <div class="card-grid">
      {% for event in events|slice:":3" %}
        {% render_partial event %}
      {% endfor %}
    </div>
    {% regroup events|slice:"3:" by month as events_by_month %}
    {% for events in events_by_month %}
      <h2 id="{{ month|date:"FY" }}" class="area-title onpagemenu-scrollmark">{{ events.grouper|format_month }}</h2>
      <div class="card-grid">
        {% for event in events.list %}
          {% render_partial event %}
        {% endfor %}
      </div>
    {% endfor %}
  {% else %}
    <div class="padding-top-6 padding-bottom-5">
      <i class="icon-present color-green" style="font-size: 7rem" aria-hidden="true"></i>
      <div class="margin-bottom-3 margin-top-4 big-font">
      <div class="color-green">Ein Geschenk für Dich.</div>
        <div>Veranstaltungen, die wir zeigen könnten, gibt es aber leider keine.</div>
      </div>
      <span>Du kannst das ändern: <a class="color-green" href="{{ self.get_add_mail }}">Schlag uns eine Veranstaltung vor</a> und wir tragen sie hier ein.</span>
    </div>
  {% endif %}
{% endif %}

</div>

{% endblock %}
