{% extends "core/__base.html" %}
{% load wagtailcore_tags wagtailimages_tags srcset humanize stuff %}
{% load render_partial %}

{% block body_class %}event-page{% endblock %}

{% block content %}
<div class="container margin-top-2"
     itemscope itemtype="http://schema.org/Event">
  <div class="grid-12">

    <!-- title and subtitle -->
    <header class="event-page__title grid-12__col-12">
      <h1 class="title" itemprop="name">{{ self.hyphenated_title|safe }}</h1>
      {% if self.subtitle %}
        <p class="subtitle">{{ self.subtitle }}</p>
      {% endif %}
    </header>


    <!-- the side column -->
    <div class="grid-12__col-4@medium float-left">

      <!-- image -->
      {% if self.main_image %}
      <div class="margin-bottom-2">
        {% image self.main_image width-768 as original_image %}
        {% image self.main_image fill-300x150 format-jpeg as image %}
          <a href="{{ original_image.url }}">
            <img src="{{ image.url }}"
              srcset="{{ self.main_image|srcset:'fill-300x150|format-jpeg fill-600x300|format-jpeg fill-900x450|format-jpeg fill-1200x600|format-jpeg' }}"
              sizes="(min-width: 48em) and (max-width: 59.9375em) 30vw, (min-width: 60em) 19.1875em, 95vw"
              alt="{{ original_image.alt }}"
              class="main-image panel panel--no-padding image">
            <link itemprop="image" href="{{ original_image.url }}">
          </a>
          {% if self.main_image.attribution %}
            <div class="block-image__caption">
              <span class="block-image__attribution">{{ self.main_image.attribution }}</span>
            </div>
          {% endif %}
      </div>
      {% endif %}

      <!-- time -->
      <div class="grid-12 font-family-extra margin-bottom-1">
        <i class="grid-12__col-1 icon-clock" aria-hidden="true"></i>
        <div class="grid-12__col-11 font-size-2">
          {% include "events/_event_page_dates.html" %}
          <meta itemprop="startDate" content="{{ self.start_datetime|date:"c" }}">
          <meta itemprop="endDate" content="{{ self.end_datetime|date:"c" }}">
          <div class="font-size-1 font-family-sans color-grey">
            <a class="color-grey" target="_blank" href="{{ self.create_google_calendar_link }}">Google-Kalender</a>,
            <a class="color-grey" target="_blank" href="?format=ical">iCal-Datei</a>
          </div>

        </div>
      </div>

      <!-- location -->
      {% if self.location %}
      <div class="grid-12 margin-top-2 margin-bottom-2 font-family-extra">
        <i class="grid-12__col-1 icon-location-pin" aria-hidden="true"></i>
        <span class="grid-12__col-11 font-size-2"
              itemprop="location" itemscope itemtype="http://schema.org/Place">
          {{ self.location }}<br>
          <meta itemprop="name" content="{{ self.location }}">
          <meta itemprop="address" content="{{ self.location }}">
          <a class="font-size-1 font-family-sans color-grey" target="_blank" href="https://www.google.de/maps/search/{{ self.location|urlencode }}">Auf Google Maps anzeigen</a>
        </span>
      </div>
      {% endif %}

      <!-- links etc. -->
      {% if self.website_url %}
        <a itemprop="url" target="_blank" href="{{ self.website_url }}"
           class="grid-12 margin-top-1 margin-bottom-1 display-block"
           title="zur externen Website">
          <i class="grid-12__col-1 icon-direction" aria-hidden="true"></i>
          <span class="grid-12__col-11">{{ self.website_url|prettyurl }}</span>
        </a>
      {% endif %}

      {% if self.facebook_event_url %}
      <a target="_blank" href="{{ self.facebook_event_url }}"
         class="grid-12 margin-top-1 margin-bottom-1 display-block"
         title="zur Facebook-Veranstaltung">
        <i class="grid-12__col-1 icon-social-facebook" aria-hidden="true"></i>
        <span class="grid-12__col-11">Facebook-Event</span>
      </a>
      {% endif %}

      <!-- Call to action button -->
      {% if true or self.register_url %}
        <a class="grid-12__offset-1 button button--primary margin-top-1 margin-bottom-1"
           target="_blank" href="{{ self.register_url }}">
          Anmelden
        </a>
      {% endif %}

      <!-- contact information -->
      {% if self.contact_mail or self.contact_phone %}
      <div class="margin-top-2 margin-bottom-1">
        <span class="grid-12__offset-1 color-grey">Kontakt: {% if self.contact_name %}{{ self.contact_name }}{% endif %}</span>

        {% if self.contact_mail %}
        <a target="_blank" href="mailto:{{ self.contact_mail }}"
           class="grid-12 margin-top-1 margin-bottom-1 display-block"
           title="E-Mail schreiben">
          <i class="grid-12__col-1 icon-envelope" aria-hidden="true"></i>
          <span class="grid-12__col-11">{{ self.contact_mail }}</span>
        </a>
        {% endif %}

        {% if self.contact_phone %}
        <a target="_blank" href="{{ self.contact_phone.as_rfc3966 }}"
           class="grid-12 margin-top-1 margin-bottom-1 display-block"
           title="Anrufen">
          <i class="grid-12__col-1 icon-phone" aria-hidden="true"></i>
          <span class="grid-12__col-11">{{ self.contact_phone }}</span>
        </a>
        {% endif %}

      </div>
      {% endif %}

      <!-- related group -->
      {% if self.related_group %}
      <div class="margin-top-2 margin-bottom-1">
        <span class="grid-12__offset-1 color-grey">organisiert von</span>
        <a href="{% pageurl self.related_group %}"
           class="grid-12 margin-top-1 display-block">

          <span class="grid-12__col-1">
            {% if self.related_group.logo %}
              {% image self.related_group.logo fill-24x24 %}
            {% else %}
              {{ self.related_group.abbr }}
            {% endif %}
          </span>

          <span class="grid-12__col-11">{{ self.related_group.title }}</span>
        </a>
      </div>
      {% endif %}

    </div>


    <!-- the main column -->
    <div class="grid-12__col-7@medium float-right margin-top-2@until-medium"
         itemprop="description">
      <!-- the content -->
      {% include_block self.content %}
    </div>
  </div>

  <!-- show chilren below the event-->
  {% if self.get_children.live %}
  <div class="center-container margin-top-2">
    <div class="card-grid">
      {% for child in self.get_children.live %}
        {% render_partial child.specific %} 
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
