{% extends "core/__base.html" %}
{% load wagtailcore_tags nettes_datum %}
{% load static from staticfiles %}

{% block body_class %}template-event-index-page{% endblock %}

{% block content %}
<header class="header js-sticky@until-medium js-onpagemenu__scroller">
  <div class="header__inner js-scroll-horizontal__offsetElement">

    <form class="event-search {% if not search %}hide{% endif %} js-search" action="{% pageurl self %}" method="get">
      <input class="event-search__input js-search-focus big-font js-swap-placeholder" data-placeholder-small="Suche" autofocus type="search" name="query" placeholder="Was interessiert dich? Oder wo?" autocomplete="off" value="{{ search_query }}">
      <input class="hide@until-medium event-search__submit" type="submit" value="Suchen">
      <a class="event-search__close icon-clicktarget@until-medium {% if not search %}js-search-close-button{% endif %}"
         href="{% pageurl self %}">
        <span class="hide@until-medium">Schließen</span>
        <span class="hide@medium" style="line-height: 1rem">×</span>
      </a>
    </form>

    <div class="{% if search %}hide{% endif %} js-no-search">
      <h1 class="hide@until-medium title lettering {% if not upcoming %}line-through{% endif %}">Veranstaltungen, Seminare, Demos und vieles mehr!</h1>
      {% if upcoming %}
        <a class="js-search-reveal-button color-green font-size-2 icon-clicktarget@until-medium" href="?search=1">
          <i class="icon-magnifier" aria-hidden="true"></i>
          <span class="hide@until-medium">Suchen</span>
        </a>
      {% endif %}
      <a class="hide@until-medium color-green font-size-2 margin-left-2" href="{{ self.get_add_mail }}">
        <i class="icon-plus" aria-hidden="true"></i>
        Vorschlagen
      </a>

      <!-- on page menu -->
      <span class="hide@medium onpagemenu js-onpagemenu" data-offset="58">
        {% if today %}<a class="onpagemenu__item" href="#today">Heute</a>{% endif %}
        {% if tomorrow %}<a class="onpagemenu__item" href="#tomorrow">Morgen</a>{% endif %}
        {% for day, events in days_of_this_week %}<a class="onpagemenu__item" href="#{{ day|date:"l" }}">{{ day|date:"l" }}</a>{% endfor %}
        {% if this_week %}<a class="onpagemenu__item" href="#this_week">{% if today or tomorrow or days_of_this_week %}Rest dieser Woche{% else %}Noch diese Woche{% endif %}</a>{% endif %}
        {% if next_week %}<a class="onpagemenu__item" href="#next_week">Nächste Woche</a>{% endif %}
        {% if later_this_month %}<a class="onpagemenu__item" href="#later_this_month">Später im {% now "F" %}</a>{% endif %}
        {% for month, events in by_month %}<a class="onpagemenu__item" href="#{{ month|date:"F" }}">{{ month|date:"F" }}</a>{% endfor %}
        {% if after %}<a class="onpagemenu__item" href="#after">Später</a>{% endif %}
      </span>

    </div>

  </div>
</header>


{% if upcoming %}
<div class="horizontal-scroll__wrapper">
<div class="horizontal-scroll js-scroll-horizontal">

  <!-- scroll right button -->
  <span class="hide@no-js horizontal-scroll__gradient horizontal-scroll__gradient--left js-scroll-horizontal__left js-scroll-horizontal__unhide cursor-pointer"
        title="Zurück in die Vergangenheit">
    <span class="horizontal-scroll__arrow horizontal-scroll__arrow--left js-scroll-horizontal__unhide js-sticky@medium">
      <img class="center-vert margin-right-1 right" alt="Pfeil links" src="{% static 'core/images/icons/arrow-left.svg' %}">
    </span>
  </span>

  <!-- scroll left button -->
  <span class="hide@no-js horizontal-scroll__gradient horizontal-scroll__gradient--right js-scroll-horizontal__right cursor-pointer"
        title="Weiter in die Zukunft">
    <span class="horizontal-scroll__arrow horizontal-scroll__arrow--right js-sticky@medium">
      <img class="center-vert margin-left-1" alt="Pfeil rechts" src="{% static 'core/images/icons/arrow-right.svg' %}">
    </span>
  </span>



  <div class="fixed-grid-12 horizontal-scroll__inner">

    {% if today %}
      <div class="fixed-grid-12__col-4 horizontal-scroll__item">
        <h2 id="today" class="onpagemenu-scrollmark area-title">Heute</h2>
        {% for event in today %}
          {% include "events/_event_partial.html" %}
        {% endfor %}
      </div>
    {% endif %}

    {% if tomorrow %}
      <div class="fixed-grid-12__col-4 horizontal-scroll__item">
        <h2 id="tomorrow" class="onpagemenu-scrollmark area-title">Morgen</h2>
        {% for event in tomorrow %}
          {% include "events/_event_partial.html" %}
        {% endfor %}
      </div>
    {% endif %}

    {% for day, events in days_of_this_week %}
      <div class="fixed-grid-12__col-4 horizontal-scroll__item">
        <h2 id="{{ day|date:"l" }}" class="onpagemenu-scrollmark area-title">{{ day|date:"l" }}</h2>
        {% for event in events %}
          {% include "events/_event_partial.html" with only_weekday=True %}
        {% endfor %}
      </div>
    {% endfor %}

    {% if this_week %}
      <div class="fixed-grid-12__col-4 horizontal-scroll__item">
        <h2 id="this_week" class="onpagemenu-scrollmark area-title">
        {% if today or tomorrow or days_of_this_week %}
          Rest dieser Woche
        {% else %}
          Noch diese Woche
        {% endif %}
        </h2>
        {% for event in this_week %}
          {% include "events/_event_partial.html" with only_weekday=True %}
        {% endfor %}
      </div>
    {% endif %}

    {% if next_week %}
      <div class="fixed-grid-12__col-4 horizontal-scroll__item">
        <h2 id="next_week" class="onpagemenu-scrollmark area-title">Nächste Woche</h2>
        {% for event in next_week %}
          {% include "events/_event_partial.html" %}
        {% endfor %}
      </div>
    {% endif %}

    {% if later_this_month %}
      <div class="fixed-grid-12__col-4 horizontal-scroll__item">
        <h2 id="later_this_month" class="onpagemenu-scrollmark area-title">Später im {% now "F" %}</h2>
        {% for event in later_this_month %}
          {% include "events/_event_partial.html" %}
        {% endfor %}
      </div>
    {% endif %}

    {% for month, events in by_month %}
      <div class="fixed-grid-12__col-4 horizontal-scroll__item">
        <h2 id="{{ month|date:"F" }}" class="area-title onpagemenu-scrollmark">{{ month|format_month }}</h2>
        {% for event in events %}
          {% include "events/_event_partial.html" %}
        {% endfor %}
      </div>
    {% endfor %}

    {% if after %}
      <div class="fixed-grid-12__col-4 horizontal-scroll__item">
        <h2 id="after" class="onpagemenu-scrollmark area-title">Noch Später</h2>
        {% for event in after %}
          {% include "events/_event_partial.html" %}
        {% endfor %}
      </div>
    {% endif %}

  </div>
</div>
</div>

{% elif search_query %}
<div class="container padding-top-6 padding-bottom-5">
  <i class="icon-ghost color-red" style="font-size: 7rem" aria-hidden="true"></i>
  <div class="margin-bottom-3 margin-top-4 big-font">
    <div class="color-red">Sorry, Weltenbummler!</div>
    <div>Wir konnten kein Abenteuer für dich finden.</div>
  </div>
  {% comment TODO %}
  <span>In der Vergangenheit gab es jedoch </a>2 Veranstaltungen</a> mit diesem Suchbegriff.</span>
  {% endcomment %}
</div>
{% else %}
<div class="container padding-top-6 padding-bottom-5">
  <i class="icon-present color-green" style="font-size: 7rem" aria-hidden="true"></i>
  <div class="margin-bottom-3 margin-top-4 big-font">
  <div class="color-green">Ein Geschenk für Dich.</div>
    <div>Veranstaltungen, die wir zeigen könnten, gibt es aber leider keine.</div>
  </div>
  <span>Du kannst das ändern: <a class="color-green" href="{{ self.get_add_mail }}">Schlag uns eine Veranstaltung vor</a> und wir tragen sie hier ein.</span>
</div>
{% endif %}

{% endblock %}
