.about-page {

// links on the about-page will be shown in a special style
 .rich-text {
    a {
      color: $brown;
      padding-top: 7px;
      margin-top: -7px;
      padding-bottom: 2px;
      margin-bottom: -2px;
      padding-left: 5px;
      padding-right: 5px;
      background-color: rgba($green, 0.2);
      font-weight: normal;
      border-bottom: none;
      border-radius: 5px;

      &:hover {
        background-color: rgba($green, 0.4);
      }
    }
  }

}
