.event-page-template {
  background-color: $ghost;

  .content {
    margin-top: rem-calc(34);
  }


  h1 {
    font-size: rem-calc(50);
    line-height: rem-calc(60);
    font-family: $font-family-extra;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: rem-calc(5);
  }

  h2 {
    font-size: rem-calc(20);
    line-height: rem-calc(24);
    font-family: $font-family-extra;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: rem-calc(42);
  }

  p {
    font-size: rem-calc(16);
    line-height: rem-calc(22);
  }
  ul {
    font-size: rem-calc(16);
    line-height: rem-calc(22);
  }
}
