.event-page {
  background-color: $ghost;



  // TODO: this needs to be moved away to classes or sth.

  &__title {
    margin-bottom: rem-calc(38);

    h1 {
      font-size: rem-calc(50);
      line-height: 1.2;
      font-family: $font-family-extra;
      font-weight: normal;
      margin-top: 0;
      margin-bottom: rem-calc(5);
    }
  }

  h2 {
    font-size: rem-calc(20);
    line-height: 1.2;
    font-family: $font-family-extra;
    font-weight: normal;
    margin-top: 0;
  }


  // fix empty p tags
  p:blank {
    display: none;
  }


}
