.template-homepage {
  // .container {
  //   margin-bottom: $height-area-title - $grid_margin;
  // }

  &__menu {
    background-color: $white;
    margin-bottom: 1rem;
  }
  &__menu-inner {
    @extend .container;
    //padding-left: 145px;

    .menu {
      padding-left: 0;
    }
  }


  // .area-title {
  //   // display: none;
  //   position: relative;
  //   margin-top: 2.5rem;
  //   margin-bottom: 1.5rem;
  //   font-family: $font-family-extra;
  //   font-weight: bold;
  //   font-size: rem-calc(35px);
  //
  //   @include above($medium) {
  //     margin-top: 4rem;
  //     height: 0;
  //     font-size: rem-calc(50px);
  //   }
  //
  //   &__inner {
  //     @include above($medium) {
  //       position: absolute;
  //       transform: rotate(270deg);
  //       transform-origin: top;
  //       top: -200px;
  //       left: -250px;
  //     }
  //   }
  // }

}
