.person-page {

  &__photo {
  }

  &__photo-attribution {
    position: relative;
    transform: rotate(90deg);
    right: -170px;
    top: -125px;
    font-size: rem-calc(12px);
    text-align: center;
    width: rem-calc(250px);
    color: $grey;
  }

}
