$event-index-background: rgb(240, 240, 240);

.template-event-index-page {
  background-color: $event-index-background;


  .header {
    //text-shadow: rgba($grey, 0.9) 0.5px 0.5px 1px;
    font-family: $font-family-extra;
  }

  .title {
    margin-top: rem-calc(-60px);
    margin-bottom: rem-calc(40px);
    font-size: rem-calc(50px);
    //text-shadow: rgba($grey, 0.9) 1px 1px 1px;
    line-height: 0.75;

    .word1 {
      @for $i from 1 through 20 {
        .char#{$i} {
          &:hover {
            display: inline-block;
            text-shadow: none;
            transform: rotate(2deg);
            transition: transform 0.2s;
          }
        }
      }

      letter-spacing: -4px;
      font-size: rem-calc(90px);

      .char1 {
        //color: $red;
        position: relative;
        font-size: rem-calc(160px);
        letter-spacing: -15px;
        bottom: -15px;
        display: inline-block;
        transform: rotate(-5deg);
      }
      .char2 {
        position: relative;
        display: inline-block;
        transform: rotate(30deg);
        font-size: rem-calc(95px);
      }
      .char3 {
        letter-spacing: 0px;
      }
      .char13 {
        display: inline-block;
        position: relative;
        bottom: -10px;
        transform: rotate(-15deg);
      }
      .char8 {
        display: inline-block;
        position: relative;
        left: 10px;
        transform: rotate(20deg);
      }
    }

    .word2 {
      //color: rgb(248, 231, 28);
      color: $orange;
    }

    .word3 {
      color: $red;
    }
    .word5 {
      color: $blue;
    }
    .word6 {
      position: relative;
      color: $green;

      .char5 {
        color: $red;
        position: relative;
        left: 20px;
        font-size: rem-calc(100px);
        display: inline-block;
        transform: rotate(15deg);
        transition: transform 0.1s, left 0.1s;
        &:hover {
          transform: rotate(-5deg);
          left: 10px;
        }
      }
    }
  }

  // TODO: this needs to be moved away to classes or sth.





  // needed by js-sticky.js
  .sticky-wrapper {
    @include above($medium) {
      float: left;
    }
  }


  // needs position rel or abs on parent, I think
  // center image in div
  .center-vert {
    max-height: 100%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
  .center-horiz {
    max-width: 100%;
    width: auto;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }


  .event {
    margin-bottom: rem-calc(18px);
    width: rem-calc(300);
    height: rem-calc(205);
    overflow: hidden;
    border-radius: 5px;

    // highlight on hover for large screens
    // because medium probably have touch
    @include above($large) {
      transition: box-shadow .2s;
      &:hover {
        box-shadow: rem-calc(0 2px 5px) rgba($black, 0.25);
      }
    }

    h3 {
      font-family: $font-family-extra;
      margin-bottom: 0;
      a {
        color: $brown;
      }
    }
  }


}
