$event-index-background: rgb(240, 240, 240);
.template-event-index-page {
  background-color: $event-index-background;

  // TODO: this needs to be moved away to classes or sth.





  // needed by js-sticky.js
  .sticky-wrapper {
    @include above($medium) {
      float: left;
    }
  }


  // needs position rel or abs on parent, I think
  // center image in div
  .center-vert {
    max-height: 100%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
  .center-horiz {
    max-width: 100%;
    width: auto;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }


  .event {
    margin-bottom: rem-calc(18px);
    width: rem-calc(300);
    height: rem-calc(205);
    overflow: hidden;
    border-radius: 5px;

    // highlight on hover for large screens
    // because medium probably have touch
    @include above($large) {
      transition: box-shadow .2s;
      &:hover {
        box-shadow: rem-calc(0 2px 5px) rgba($black, 0.25);
      }
    }

    h3 {
      font-family: $font-family-extra;
      margin-bottom: 0;
      a {
        color: $brown;
      }
    }
  }


}
