.template-error {
  h1, p, a {
    text-align: center;
  }

  h1 {
    font-size: rem-calc(30px);
    margin-top: 1rem;
    margin-bottom: 2rem;
    @include above($medium) {
      font-size: rem-calc(40px);
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  }

  &__emotion {
    color: $red;
    font-size: rem-calc(35px);
    @include above($medium) {
      font-size: rem-calc(45px);
    }
  }

  &__sorry {
    color: $blue;
  }

  &__searchinput {
    @extend .event-search__input;
    width: 100%;
    float: none;
    font-size: 1.5rem;
    line-height: 1.36;
    font-weight: bold;
    display: block;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    color: $brown;
    border-bottom-color: $brown !important;

    @include above($medium) {
      font-size: 2rem;
      width: rem-calc(400px);
    };
  }
  &__searchsubmit {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


}
