[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "~=2.2"
wagtail = "*"
html2text = "*"
wand = "*"
icalendar = "*"
django-phonenumber-field = "*"
django-softhyphen = "*"
django-storages = "*"
boto3 = "*"
whitenoise = "*"
django-toolbelt = "*"
phonenumberslite = "*"
elasticsearch = ">=7.0.0,<8.0.0"
django-request = "*"
django-filter = "*"
altair = "*"
django-node-assets = "*"
wagtailmedia = "*"
wagtail-inventory = "*"
django-widget-tweaks = "*"
collectfast = "*"

[dev-packages]
django-debug-toolbar = "*"
django-debug-toolbar-template-profiler = "*"
pylint = "*"
pylint-django = "*"
pylint-quotes = "*"
flake8 = "*"
flake8-django = "*"
black = "==19.10b0"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = false
