$link-color: $text-color-standard;
$link-color-hover: $green;
$link-color-visited: darken($link-color-hover, 18%);

/**
 * Einfacher Link für überall außer im Text
 * @atom Link
 * @markup
 *   <a href="#">anchor</a>
 */
a, .anchor {
  text-decoration: none;
  color: $link-color;

  &:hover {
    color: $link-color-hover;
  }
}

// TODO: according to atomic design, this should be moved to a paragraph molecule?
/**
 * Link für im Text
 * @atom Link im Text
 * @markup
 *   <p class="block-paragraph"><a href="#">Link</a></p>
 */
// .block-paragraph a, p a {
//   color: $link-color;
//   text-decoration: none;
//   border-bottom: 1px solid $link-color;
//   border-bottom-color: currentColor;

//   // &:visited {
//   //   color: $link-color-visited;
//   //   text-decoration: none;
//   //   border-bottom-color: $link-color-visited;
//   //   border-bottom-color: currentColor;
//   // }

//   &:hover, &:active {
//     color: $link-color-hover;
//     text-decoration: none;
//     border-bottom-color: $link-color-hover;
//     border-bottom-color: currentColor;
//   }
// }
