/// media breakpoints
///
/// thumb rules about devices:
///   until($medium) its a smartphone
///   above($medium) its a tablet or a landscape smartphone
///   above($large)  its a netbook or a landscape tablet
///   above($xlarge) its a desktop
///
/// but we will treat $netbook and desktop the same

$small:     rem-calc(320);  // 20rem
$smedium:   rem-calc(480);  // 30rem
$medium:    rem-calc(640);  // 40rem
$large:     rem-calc(1024); // 64rem
$xlarge:    rem-calc(1280); // 80rem
$xxlarge:   rem-calc(1440); // 90rem


@mixin above($width) {
  @media (min-width: $width) {
    @content
  }
}

@mixin until($width) {
  @media (max-width: $width - rem-calc(1)) {
    @content
  }
}

@mixin between($width1, $width2) {
  @media (min-width: $width1) and (max-width: $width2 - rem-calc(1)) {
    @content
  }
}
