/// media breakpoints
///
/// thumb rules about devices:
///   until($medium) its a smartphone
///   above($medium) its a tablet or a landscape smartphone
///   above($large)  its a netbook or a landscape tablet
///   above($xlarge) its a desktop
///
/// but we will treat $netbook and desktop the same

/**
 * @nuclide small-breakpoint
 * @section Breakpoints
 */
$small:     rem-calc(320px);  // 20rem

/**
 * @nuclide medium-breakpoint
 * @section Breakpoints
 */
$medium:    rem-calc(768px);  // 48rem

/**
 * @nuclide large-breakpoint
 * @section Breakpoints
 */
$large:     rem-calc(1024px); // 64rem

 /**
  * @nuclide xlarge-breakpoint
  * @section Breakpoints
  */
$xlarge:    rem-calc(1224px); // 76.5rem

$breakpoints: (
  small: $small,
  //smedium: $smedium,
  medium: $medium,
  large: $large,
  xlarge: $xlarge,
  //xxlarge: $xxlarge,
);

/**
 * @mixin
 * @section Mediaqueries
 */
@mixin above($width) {
  @media (min-width: $width) {
    @content
  }
}

/**
 * @mixin
 * @section Mediaqueries
 */
@mixin until($width) {
  @media (max-width: $width - rem-calc(1)) {
    @content
  }
}

/**
 * @mixin
 * @section Mediaqueries
 */
@mixin between($width1, $width2) {
  @media (min-width: $width1) and (max-width: $width2 - rem-calc(1)) {
    @content
  }
}

/**
 * @mixin
 * @section Mediaqueries
 */
@mixin only($width1) {
  $width1-index: index( map-values($breakpoints), $width1 );
  @if $width1-index < length(map-values($breakpoints)) {
    $width2-index: $width1-index + 1;
    $width2-key: nth( map-keys($breakpoints), $width2-index );
    @include between($width1, map-get($breakpoints, $width2-key)) {
      @content
    }
  } @else {
    @include above($width1) {
      @content
    }
  }
}
