// here we define a couple of colors
// they are then used in the other files
// and possibly redefined under semantic names like $text-color-standard

/** @color Green */
$green: rgb(70, 187, 0);

/** @color Blue */
$blue: rgb(0, 118, 164);

/** @color Red */
$red: rgb(196, 23, 55);

/** @color Orange*/
$orange: rgb(233, 88, 34);

/** @color darkblue*/
$darkblue: rgb(0, 58, 81);

/** @color brown*/
$brown: rgb(55, 23, 26);

/** @color dark*/
$dark: rgb(20, 20, 20);

/** @color middledark*/
$middledark: rgb(60, 60, 60);

/** @color lighterdark*/
$lighterdark: rgb(74, 74, 74);

/** @color baige*/
$baige: rgb(236, 235, 232);

/** @color white*/
$white: rgb(255, 255, 255);

/** @color ghost*/
$ghost: rgb(250, 250, 250);

/** @color silver*/
$silver: rgb(239, 239, 239);

/** @color aluminum*/
$aluminum: rgb(153, 153, 153);

/** @color grey*/
$grey: rgb(147, 130, 130);

/** @color steel*/
$steel: rgb(103, 103, 103);

/** @color black*/
$black: rgb(0, 0, 0);

$green-overlay: rgba($green, 0.65);

$colors: (
  green: $green,
  blue: $blue,
  darkblue: $darkblue,
  red: $red,
  orange: $orange,
  brown: $brown,
  dark: $dark,
  middledark: $middledark,
  lighterdark: $lighterdark,
  baige: $baige,
  white: $white,
  ghost: $ghost,
  silver: $silver,
  aluminum: $aluminum,
  grey: $grey,
  steel: $steel,
  black: $black
);

// setting the background-color
body {
  background-color: $baige;
}

.bg-color {
  @each $color, $value in $colors {
    &-#{$color} {
      background-color: $value;
    }
  }
}

.color {
  &-blue {
    color: $blue;
  }
  &-green {
    color: $green;
  }
  &-orange {
    color: $orange;
  }
  &-red {
    color: $red;
  }
  &-grey {
    color: $grey;
  }
}

.hover-color {
  &-green:hover {
    color: $green;
  }
}
