// here we define a couple of colors
// they are then used in the other files
// and possibly redefined under semantic names like $text-color-standard

/** @color Green */
$green: rgb(70, 187, 0);

/** @color Blue */
$blue: rgb(0, 118, 164);

/** @color Red */
$red: rgb(196, 23, 55);

/** @color Orange*/
$orange: rgb(233, 88, 34);

/** @color brown*/
$brown: rgb(55, 23, 26);

/** @color lighterdark*/
$lighterdark: rgb(74, 74, 74);

/** @color baige*/
$baige: rgb(236, 235, 232);

/** @color white*/
$white: rgb(255, 255, 255);

/** @color ghost*/
$ghost: rgb(250, 250, 250);

/** @color silver*/
$silver: rgb(239, 239, 239);

/** @color aluminum*/
$aluminum: rgb(153, 153, 153);

/** @color grey*/
$grey: rgb(147, 130, 130);

/** @color black*/
$black: rgb(0, 0, 0);

$green-overlay: rgba($green, 0.65);

$colors: (
  green: $green,
  blue: $blue,
  red: $red,
  orange: $orange,
  brown: $brown,
  lighterdark: $lighterdark,
  baige: $baige,
  white: $white,
  ghost: $ghost,
  silver: $silver,
  aluminum: $aluminum,
  grey: $grey,
  black: $black
);

/**
 * background color for all pages
 * @nuclide body background color
 */
body {
  background-color: $ghost;
}

/**
 * helper class to assign background color
 *
 * @atom Background Color
 * @section Helpers > Color
 * @markup
 *   <span class="bg-color-green">green</span>
 *   <span class="bg-color-red">red</span>
 *   <span class="bg-color-blue">blue</span>
 *   <span class="bg-color-orange">orange</span>
 */
.bg-color {
  @each $color, $value in $colors {
    &-#{$color} {
      background-color: $value !important;
    }
  }
}

/**
 * helper class to assign color
 *
 * @atom Color
 * @section Helpers > Color
 * @markup
 *   <span class="color-green">green</span>
 *   <span class="color-red">red</span>
 *   <span class="color-blue">blue</span>
 *   <span class="color-orange">orange</span>
 */
.color {
  &-blue {
    color: $blue;
  }
  &-green {
    color: $green;
  }
  &-orange {
    color: $orange;
  }
  &-red {
    color: $red;
  }
  &-grey {
    color: $grey;
  }
}

/**
 * helper class to assign hover color
 *
 * @atom Hover Color
 * @section Helpers > Color
 * @markup
 *   <span class="hover-color-green">green</span>
 */
.hover-color {
  &-green:hover {
    color: $green;
  }
}
