@mixin h1 {
  font-weight: bold;
  font-size: rem-calc(30px);
  line-height: 1.2;

  @include above($medium) {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: rem-calc(42px);
    line-height: 1.235;
  }
}

/**
 * @atom h1
 * @section Typography
 * @markup
 *   <h1>Überschrift 1</h1>
 */
h1, .h1 {@include h1}

/**
 * @atom h2
 * @section Typography
 * @markup
 *   <h2>Überschrift 2</h2>
 */
h2 {
  font-size: rem-calc(24px);
  line-height: 1.2;
  font-weight: normal;
  margin-top: 1rem;
}

// reduce margin between subheading and subsequent paragraph
// but not other elements like images
.block-h2 + .block-paragraph {
  margin-top: -0.5rem;
}

/**
 * @atom h3
 * @section Typography
 * @markup
 *   <h3>Überschrift 3</h3>
 */
h3 {
  font-size: 1.3rem;
  line-height: 1.2;
  font-weight: normal;
}

/**
 * @atom h4
 * @section Typography
 * @markup
 *   <h4>Überschrift 4</h4>
 */
h4 {
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: normal;
}
