// Typography

// font stack
$font-family-sans-serif: "Cabin", Helvetica, Roboto, Arial, sans-serif;
$font-family-serif: "Crimson Text", "Times New Roman", Times, serif;
$font-family-extra: "Bitter", serif;

// colors
$text-color-standard: $brown;

/**
 * helper to set the font family
 * @atom font-family
 * @section Helpers > Fonts
 * @markup
 *   <span class="font-family-extra">Bitter</span>
 *   <span class="font-family-sans">Cabin</span>
 *   <span class="font-family-serif">Crimson</span>
 */
.font-family {
  &-extra {
    font-family: $font-family-extra;
  }
  &-sans {
    font-family: $font-family-sans-serif;
  }
  &-serif {
    font-family: $font-family-serif;
  }
}


/**
 * helper to set the font weight
 * @atom font-weight
 * @section Helpers > Fonts
 * @markup
 *   <span class="font-weight-normal">normal</span>
 *   <span class="font-weight-bold">bold</span>
 */
.font-weight {
  &-normal {
    font-weight: normal;
  }
  &-bold {
    font-weight: bold;
  }
}

/**
 * @mixin font-size-2
 * @section Fonts
 */
@mixin font-size-2() {
  font-size: rem-calc(20px);
  line-height: 1.2;
}

/**
 * helper to set the font size
 * @atom font-size
 * @section Helpers > Fonts
 * @markup
 *   <span class="font-size-very-small">very small</span>
 *   <span class="font-size-small">small</span>
 *   <span class="font-size-1">1</span>
 *   <span class="font-size-2">2</span>
 *   <span class="font-size-3">3</span>
 */
.font-size {
  &-very-small {
    font-size: rem-calc(14);
    line-height: rem-calc(16);
  }
  &-small {
    font-size: rem-calc(18);
    line-height: rem-calc(22);
  }
  &-1 {
    font-size: rem-calc(16);
    line-height: 1.2;
  }
  &-2 {
    @include font-size-2
  }
  &-3 {
    font-size: rem-calc(24);
    line-height: rem-calc(28);
  }
}

/**
 * @mixin big-font
 * @section Fonts
 */
@mixin big-font() {
  font-size: rem-calc(24);
  font-family: $font-family-extra;
  font-weight: bold;
  line-height: 1.36;

  @include above($medium) {
    font-size: rem-calc(40);
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  @include above($xlarge) {
    font-size: rem-calc(50);
  }
}

/**
 * helper to set the font size to big
 * @atom big-font
 * @section Helpers > Fonts
 * @markup
 *   <span class="big-font">big font</span>
 */
.big-font { @include big-font }

/**
 * helper to line trough
 * @atom font-size
 * @section Helpers > Fonts
 * @markup
 *   <span class="line-through">lined through</span>
 */
.line-through {
  text-decoration: line-through;
}


/**
 * generic shadow to be used for text at many places
 * @mixin janun-text-shadow
 */
@mixin janun-text-shadow() {
  text-shadow: rem-calc(0 1 2) rgba(0, 0, 0, 0.25);
}


/// default font size
html {
  font-size: 100%;
  font-family: $font-family-sans-serif;
  color: $text-color-standard;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



$paragraph-font-size: rem-calc(16px);
$paragraph-line-height: 1.75;
$paragraph-font-size-medium: rem-calc(16px);
$paragraph-line-height-medium: 1.75;

/**
 * paragraph style
 * @mixin p
 */
@mixin p() {
  font-family: $font-family-serif;
  font-size: $paragraph-font-size;
  line-height: $paragraph-line-height;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  font-feature-settings: "kern";
	font-kerning: normal;

  @include above($medium) {
    font-size: rem-calc(20px);
    line-height: 1.6;
  }
}

/**
 * paragraph style
 *
 * @atom paragraph
 * @section Typography
 * @markup
 *   <p>@{lipsum:1:paragraph}</p>
 */
p {
  @include p;
  margin-top: 0;
  margin-bottom: 1rem;
}
