// Typography

// font stack
$font-family-sans-serif: "Cabin", Helvetica, Roboto, Arial, sans-serif;
$font-family-serif: "Crimson Text", "Times New Roman", Times, serif;
$font-family-extra: "Bitter", serif;

// colors
$text-color-standard: $brown;

.font-family-extra {
  font-family: $font-family-extra;
}
.font-family-sans {
  font-family: $font-family-sans-serif;
}
.font-family-serif {
  font-family: $font-family-serif;
}

.font-weight-normal {
  font-weight: normal;
}
.font-weight-bold {
  font-weight: bold;
}

.font-size-very-small {
  font-size: rem-calc(14);
  line-height: rem-calc(16);
}
.font-size-small {
  font-size: rem-calc(18);
  line-height: rem-calc(22);
}
.font-size-1 {
  font-size: rem-calc(16);
  line-height: rem-calc(22);
}
.font-size-2 {
  font-size: rem-calc(16px);
  line-height: rem-calc(19px);
  @include above($xlarge) {
    font-size: rem-calc(20px);
    line-height: rem-calc(24px);
  }
}
.font-size-3 {
  font-size: rem-calc(24);
  line-height: rem-calc(28);
}

.line-through {
  text-decoration: line-through;
}


/// generic shadow to be used for text at many places
@mixin janun-text-shadow {
  text-shadow: rem-calc(0 1 2) rgba(0, 0, 0, 0.25);
}


/// default font size
html {
  font-size: 100%;
  font-family: $font-family-sans-serif;
  color: $text-color-standard;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}





/// font size p
@mixin p {
  font-size: rem-calc(18);
  line-height: 1.444444;

  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  font-feature-settings: "kern";
	font-kerning: normal;
  font-family: $font-family-serif;
}
/// styling for paragraphs
p {
  @include p;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  @supports(hyphens: auto) {
    hyphens: auto;
    text-align: justify;
  }
}
