$dropdown-menu-padding-top: rem-calc(25);
$dropdown-menu-padding-bottom: rem-calc(22);

// make the background darker
body.fadeOut:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
}

// grey out toplevel closed links
.navbar-container.dropdown-open {
  .menu > li > a {
    color: rgba(255, 255, 255, 0.5);
  }
  li.open > a {
    color: white;
  }
}

// styling for dropdowns
.dropdown {
  position: relative;

  &.open .dropdown-menu {
    display: block;
  }

  .dropdown-menu {
    position: absolute;
    display: none;
    left: 0;
    width: 200%;
    z-index: 1000;
    padding-top: $dropdown-menu-padding-top;
    padding-bottom: $dropdown-menu-padding-bottom;
    padding-left: 0;

    // white background when open
    @include white-background(-$dropdown-menu-padding-top);

    li {
      clear: both;
      a {
        padding: rem-calc(4 11);
        margin: rem-calc(3 0);
        color: get-color(brown);
        @include ms-respond(font-size, 0);

        // small left bars on hover
        &:hover {
          border-left: rem-calc(2) solid get-color(green);
          margin-left: rem-calc(-2);
        }
      }
      &.active a {
        border-left: rem-calc(2) solid get-color(brown);
        margin-left: rem-calc(-2);
      }
    }
  }
}
