$colors: (
  green			  : rgb(70, 187, 0),
  blue			  : rgb(0, 118, 164),
  darkblue		: rgb(0, 58, 81),
  red			    : rgb(196, 23, 55),
  orange			: rgb(233, 88, 34),
  brown			  : rgb(55, 23, 26),
  dark			  : rgb(20, 20, 20),
  lighterdark	: rgb(74, 74, 74),
  baige			  : rgb(236, 235, 232),
  white       : rgb(255, 255, 255),
  ghost       : rgb(250, 250, 250),
  silver      : rgb(239, 239, 239),
  aluminum    : rgb(153, 153, 153),
  steel       : rgb(103, 103, 103),
  green-overlay: rgba(70, 187, 0, 0.65),
);

// colors should be retrieved using this function
@function get-color($color){
  @return map-get($colors, $color)
}

// make color classes
@each $name, $color in $colors {
  .#{$name} {
    background-color: $color !important;
  }
}

body {
  background-color: get-color(baige);
}

.colorbox {
  float: left;
  & + .colorbox {
    margin-left: 1rem;
  }
  div {
    width: 10rem; height: 10rem;
    border-radius: 50%;
    padding: 0 0;
    text-align: center;
    line-height: 10rem;
  }

  text-align: center;
}

@mixin janun-box-shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
