{% load staticfiles %}

<header class="header">

  <div id="header-video">
    <video autoplay loop poster="{% static 'janunde_styleguide/images/header-poster.jpg' %}">
      <source src="{% static 'janunde_styleguide/videos/header-video.mp4' %}" type="video/mp4" />
      <source src="{% static 'janunde_styleguide/videos/header-video.webm' %}" type="video/webm" />
    </video>
  </div>

  <div class="content">
    <h1>Wir sind das<br>Jugendumweltnetzwerk Niedersachsen</h1>
    <p>JANUN ist aktiv für ein gutes Leben in einer ökologischen und sozial gerechten Welt.</p>
    <div class="buttons">
      <a href="#" class="button white">JANUN entdecken</a><br>
      <a href="/aktuelles" class="button white">Aktuelles</a>
    </div>
  </div>
</header>
