{% load wagtailcore_tags wagtailimages_tags janun_tags %}

<article class="panel">

  {% if article.main_image %}
  <a href="{% pageurl article %}">
    {% image article.main_image original as original_image %}

    <img src="{{ original_image.url }}" alt="{{ original_image.alt }}"
         srcset="{{article.main_image|srcset:'fill-320x240-c30|jpg fill-400x300-c30|jpg fill-1000x750-c30|jpg fill-1400x1050-c30|jpg'}}"
         sizes="(min-width: 64em) 20vw, (min-width: 40em) and (max-width: 64em) 50vw, 99vw"
         class="main-image">
  </a>
  {% endif %}

  <h3>
    <a href="{% pageurl article %}" title="{{article.title}}">{{ article.title }}</a>
  </h3>

  {% if not short or not article.main_image %}
  <div>
    {{ article.body|truncatewords_html:20 }}
  </div>
  {% endif %}

  <time datetime="{{ article.first_published_at|date:'Y-m-d H:i' }}">
    {{ article.first_published_at|date }}
  </time>
  <meta content="{{ article.latest_revision_created_at|date:'Y-m-d H:i' }}"/>
</article>
