{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-article{% endblock %}

{% block content %}

<div class="container">

  <article class="panel" itemscope itemtype="http://schema.org/NewsArticle">

    {% if self.main_image %}
      {# on small screens we want to use the same image as in the listing #}
      {% image self.main_image fill-320x240-c75 jpg as image_tiny %}
      {% image self.main_image fill-400x300-c75 jpg as image_small %}
      {% image self.main_image fill-1000x750-c75 jpg as image_big %}
      {% image self.main_image fill-1400x1050-c75 jpg as image_bigger %}

      {# on medium screens we want only a spec height #}
      {% if self.dont_crop %}
        {% image self.main_image width-640 jpg as medium_image %}
        {% image self.main_image width-1280 jpg as medium_image_hd %}
        {% image self.main_image width-1004 jpg as large_image %}
        {% image self.main_image width-2008 jpg as large_image_hd %}
      {% else %}
        {% image self.main_image fill-640x320-c75 jpg as medium_image %}
        {% image self.main_image fill-1280x640-c75 jpg as medium_image_hd %}
        {% image self.main_image fill-1004x502-c75 jpg as large_image %}
        {% image self.main_image fill-2008x1004-c75 jpg as large_image_hd %}
      {% endif %}

      {% image self.main_image original jpg as original_image %}

      <picture>
        <source media="(min-width: 40em)"
                srcset="{{medium_image.url}} {{medium_image.width}}w,
                        {{medium_image_hd.url}} {{medium_image_hd.width}}w,
                        {{large_image.url}} {{large_image.width}}w,
                        {{large_image_hd.url}} {{large_image_hd.width}}w"
                sizes="(min-width: 64em) 62em, 99vw">
        <img class="main-image" src="{{medium_image.url}}"
             srcset="{{image_tiny.url}} {{image_tiny.width}}w,
                     {{image_small.url}} {{image_small.width}}w,
                     {{image_big.url}} {{image_big.width}}w,
                     {{image_bigger.url}} {{image_bigger.width}}w"
             sizes="99vw"
             itemProp="image" alt="{{small_image.alt}}">

        <div class="overlay">
          <h1 class="{% if self.hide_title %}hidden{% endif %}">{{self.title}}</h1>
          <br>
          <div>
            <span>veröffentlicht:
              <time itemprop="datePublished" datetime="{{ self.first_published_at|date:'Y-m-d H:i' }}">
                {{ self.first_published_at|date }}
              </time>
            </span><br>
            <span>
              zuletzt geändert:
              <time itemprop="dateModified" datetime="{{ self.latest_revision_created_at|date:'Y-m-d H:i' }}">
                {{ self.latest_revision_created_at|date }}
              </time>
            </span>
          </div>
        </div>

      </picture>
    {% else %}
    <h1>{{self.title}}</h1>
    <div>
      <span>veröffentlicht:
        <time itemprop="datePublished" datetime="{{ self.first_published_at|date:'Y-m-d H:i' }}">
          {{ self.first_published_at|date }}
        </time>
      </span><br>
      <span>
        zuletzt geändert:
        <time itemprop="dateModified" datetime="{{ self.latest_revision_created_at|date:'Y-m-d H:i' }}">
          {{ self.latest_revision_created_at|date }}
        </time>
      </span>
    </div>
    {% endif %}



    {{self.body}}

  </article>

</div>

{% endblock %}
