{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-current{% endblock %}

{% block content %}

    <div class="current">
        <h2 class="area-title">Aktuelles zu JANUN und den Projektgruppen</h2>
        {% if articles %}
        <div class="panel-container">
        {% for article in articles %}
            {% include "current/_article.html" %}
        {% endfor %}
        </div>
        {% else %}
        Keine Einträge vorhanden.
        {% endif %}
    </div>



{% endblock %}
