.teaser {
  color: get-color(white);
  @include ms-respond(font-size, 3);
  @include janun-text-shadow;
  text-align: center;
  padding: 2.125rem 1.75rem;

  background:
    linear-gradient(get-color(green-overlay), get-color(green-overlay)),
    url(static('components/header/header_video_poster.jpg')) repeat center/cover fixed;
}
