{% extends "base.html" %}
{% load compress static %}

{% block title %}{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/x-scss" href="{% static "janunde_styleguide/scss/styleguide.scss" %}" />
  {% block extra_css %}{% endblock %}
{% endblock %}

{% block content_base %}
  <nav class="styleguide-menu">
    <ul>
      {% for name, path in pages %}
      <li><a href="/styleguide/{{ path }}">{{ name }}</a></li>
      {% endfor %}
    </ul>
  </nav>
  <div class="content">
  {% block content %}{% endblock %}
  </div>
{% endblock %}

{% block js %}{% block extra_js %}{% endblock %}{% endblock %}
