// headings for areas on pages
$height-area-title: 3rem;
$font-size-area-title: 0.9rem;
$line-height-area-title: $height-area-title;
.area-title {
  display: block;
  //text-align: center;
  color: $brown;
  @include sans;
  font-size: $font-size-area-title;
  line-height: $line-height-area-title;
  font-weight: normal;
  height: $height-area-title;
}
