/// headings for areas on pages
///
/// @example markup
///  <h2 class="area-title">Aktuelles und Interessantes</h2>
$height-area-title: 3rem;
$margin-area-title: 0.3rem;
.area-title {
  display: block;
  color: $lighterdark;
  a {
    color: $lighterdark;
  }
  font-family: $font-family-sans-serif;
  font-size: rem-calc(13);
  line-height: $height-area-title;
  font-weight: normal;
  height: $height-area-title;
  margin-top: $margin-area-title;
  margin-bottom: $margin-area-title;
}
