// Buttons

// resets for all possible buttons
button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

// the standard button class
//
// it can be used as <button.button>, <a.button> and <input.button>
// they should all look the same
//
// it is green and has a small roundness
//
// :hover        - the standard button has green background when hovered
// :active       - just dont underline when active
// .white        - the buttons border and text is white
// .white:hover  - the white button has white background when hovered
//
.button {
  @include scale-from-medium-to-large(
    font-size, rem-calc(14), rem-calc(18)
  )
  font-weight: bold;
  color: $green;
  text-align: center;

  border: solid rem-calc(1) $green;
  @include above($medium) {
    border-width: rem-calc(2);
  }
  border-radius: rem-calc(4);

  // TODO: also scale padding
  padding: rem-calc(12 12 10);
  margin-bottom: rem-calc(12);

  @include scale-from-medium-to-large(
    min-width, rem-calc(150), rem-calc(220)
  )


  background: transparent;
  cursor: pointer;
  display: inline-block;

  transition: background 0.1s ease-out 0s;

  &:focus {
    outline: 0;
  }

  &:hover, &:focus {
    color: $white !important;
    text-shadow: none;
    background-color: $green;
  }

  &:active {
    text-decoration: none;
  }


  &.white {
    border-color: $white;
    color: $white;

    &:hover, &:focus {
      color: $lighterdark !important;
      background-color: $white;
    }
  }

  &.brown {
    border-color: $lighterdark;
    color: $lighterdark;

    &:hover, &:focus {
      color: $white !important;
      background-color: $lighterdark;
    }
  }

  &.center {
    display: block;
    width: 2em;
    margin-left: auto;
    margin-right: auto;
  }
}
