$text-color-image-attribution: rgba($white, 0.8);
$padding-image-attribution: 1rem;

.attributed-image {
  position: relative;
}

.image-attribution {
  @include scale-from-small-to-medium(
    font-size, rem-calc(5), rem-calc(10)
  );
  color: $text-color-image-attribution;
  a {
    color: $text-color-image-attribution;
    &:hover {
      color: darken($text-color-image-attribution, 30%);
    }
  }
  position: absolute;
  right:  0;
  bottom: $panel-padding;
  text-align: right;
}
