/// image overlays
///
/// @example markup
///   <div class="image-wrapper">
///     <img ...>
///     <div class="image-overlay">...</div>
///   </div>
.image-wrapper {
  position: relative;
}

.image-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  padding-left: $panel-padding;
  padding-right: $panel-padding;
  text-align: left;
  background: rgba($white, 0.75);
}
