/// image attribution
///
/// @example markup
///   <div class="image-wrapper">
///     <img ...>
///     <div class="image-attribution">...</div>
///   </div>

$text-color-image-attribution: rgba($white, 0.8);
$padding-image-attribution: 1rem;

.image-wrapper {
  position: relative;
}

.image-attribution {
  @include scale-from-small-to-medium(
    font-size, rem-calc(5), rem-calc(10)
  );

  color: $text-color-image-attribution;
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;

  a {
    color: $text-color-image-attribution;
    &:hover {
      color: darken($text-color-image-attribution, 30%);
    }
  }

  .block-image & {
    padding-top: $panel-padding;
  }

}
