$panel-padding: rem-calc(20);

// panel
//
// is a container for content, article etc.
@mixin panel {
  display: block;
  overflow: hidden;
  word-wrap: break-word;
  background-color: $white;
  @include janun-box-shadow;
  padding: $panel-padding;

  @mixin embedded {
    width: calc(100% + #{2*$panel-padding});
    margin-left: -$panel-padding;
    margin-right: -$panel-padding;
  }

  // embedded main-image
  .main-image {
    @include embedded;
    margin-top: -$panel-padding;
  }

  // embedded image
  .block-image img {
    @include embedded;
  }

  // embedded video
  .block-embedded_video {
    @include embedded;
    .responsive-object {
      position: relative;
      iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

}

.panel {
  @include panel;
}
