$panel-padding: rem-calc(22);

@mixin remove-panel-padding($left: true, $right: true,
                            $top: false, $bottom: false) {
  width: calc(100% + #{2*$panel-padding});
  @if $left {
    margin-left: -$panel-padding;
  }
  @if $right {
    margin-right: -$panel-padding;
  }
  @if $top {
    margin-top: -$panel-padding;
  }
  @if $bottom {
    margin-bottom: -$panel-padding;
  }
}

// panel
//
// is a container for content, article etc.
.panel {
  @include janun-box-shadow;

  display: block;
  word-wrap: break-word;
  background-color: $white;
  padding: $panel-padding;

  // embedded main-image
  .main-image {
    @include remove-panel-padding($top: true);
  }

  // embedded image
  .block-image img {
    @include remove-panel-padding;
  }

  // embedded video
  .block-embedded_video {
    @include remove-panel-padding;

    .responsive-object {
      position: relative;
      iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

}
