/// teaser
///
/// is a kind of full-width heading with background
/// but not an actual heading; like a pull-quote or sth.
///
/// @example markup
///      <div class="teaser">
///        <p>Dies ist der Teaser-Text</p>
///      </div>
///
.teaser {
  @include scale-from-small-to-medium(
    padding-top, rem-calc(30), rem-calc(50)
  );
  @include scale-from-small-to-medium(
    padding-bottom, rem-calc(30), rem-calc(50)
  );
  padding-left: 1rem;
  padding-right: 1rem;

  p {
    margin: 0 auto;
    max-width: $medium;
    font-family: $font-family-sans-serif;
    @include h1;
    text-align: center;
    color: $white;
    @include janun-text-shadow;
  }

  /// this is a background image with (green) colored overlay
  background: linear-gradient($green-overlay, $green-overlay),
    url(static('core/images/header-poster.jpg')) repeat-y center/cover fixed;
}
