// teaser
//
// is a kind of full-width heading with background
// but not an actual heading
// like a pull-quote or sth.
//
// Markup:
//      <div class="teaser">Dies ist der Teaser-Text</div>
//
.teaser {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: rem-calc(50);
  margin-bottom: rem-calc(50);

  color: $white;
  font-size: $font-size-h1;
  @include janun-text-shadow;
  text-align: center;
  min-height: rem-calc(300);
  padding: rem-calc(50 28);

  // this is a background image with (green) colored overlay
  background: linear-gradient(darken($green-overlay, 10%), $green-overlay),
    url(static('core/images/header-poster.jpg')) repeat-y center/cover fixed;
}
