/// media breakpoints
///
/// thumb rules about devices:
///   until($medium) its a smartphone
///   above($medium) its a tablet or a landscape smartphone
///   above($large)  its a netbook or a landscape tablet
///   above($xlarge) its a desktop
///
/// but we will treat $netbook and desktop the same

$small:     rem-calc(320);
$medium:    rem-calc(640);
$large:     rem-calc(1024);
$xlarge:    rem-calc(1440);


@mixin above($device-width) {
  @media screen and (min-width: $device-width) {
    @content
  }
}

@mixin until($device-width) {
  @media screen and (max-width: $device-width - rem-calc(1)) {
    @content
  }
}

@mixin between($device-width1, $device-width2) {
  @media screen and (min-width: $device-width1) and (max-width: $device-width2 - rem-calc(1)) {
    @content
  }
}
