/// Typography

/// font stack aka font alternatives
$font-family-sans-serif: "Cabin", Helvetica, Roboto, Arial, sans-serif;
$font-family-serif: "Crimson Text", "Times New Roman", Times, serif;


/// generic shadow to be used for text at many places
@mixin janun-text-shadow {
  text-shadow: rem-calc(0 1 2) rgba(0, 0, 0, 0.25);
}


/// default font size
html {
  font-size: 100%;
  font-family: $font-family-sans-serif;
  color: $brown;
}


h4, h3, h2, h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: normal;
  line-height: 1.2;
}

/// font size h1
@mixin h1 {
  @include scale-from-small-to-medium(
    font-size, rem-calc(26), rem-calc(42)
  );
  line-height: 1.235;
  font-weight: bold;
}
h1 {
  @include h1;
}

/// font size h2
@mixin h2 {
  @include scale-from-small-to-medium(
    font-size, rem-calc(18), rem-calc(24)
  );
  line-height: 1.2;
  font-weight: normal;
}
h2 {
  @include h2;
  margin-top: 2rem;
}

// reduce margin between subheading and subsequent paragraph
// but not other elements like images
.block-h2 + .block-paragraph {
  margin-top: -0.5rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}


/// font size p
@mixin p {
  @include scale-from-small-to-medium(
    font-size, rem-calc(16), rem-calc(18)
  );

  line-height: 1.25;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  font-feature-settings: "kern";
	font-kerning: normal;
  font-family: $font-family-serif;

  // activate justified paragraphs if hyphenation is possible
  @supports(hyphens: auto) {
    text-align: justify;
  }
}
/// styling for paragraphs
p {
  @include p;

  margin-top: 0.5rem;
  margin-bottom: 1rem;
  hyphens: auto;
}

/// styling of lists
ul, ol {
  @include p;

  margin-left: 0;
  padding-left: rem-calc(30);
}







/// styling of links/anchors
a {
  color: $blue;
  text-decoration: none;
  &:hover {
    color: $darkblue;
  }
  &:active {
    color: $darkblue;
    text-decoration: underline;
  }
}

.zoom-in {
  cursor: zoom-in;
}

/// clickable headings
h1 a, h2 a, h3 a, h4 a {
  color: $brown;
  &:hover {
    color: $brown;
    text-decoration: none;
  }
  &:active {
    color: $brown;
  }
}
