.cursor {
  &-zoom-in {
    cursor: zoom-in;
  }
  &-pointer {
    cursor: pointer;
  }
  &-move {
    cursor: move;
  }
  &-help {
    cursor: help;
  }
  &-wait {
    cursor: wait;
  }
  &-text {
    cursor: text;
  }
}
