/**
 * darken the whole page
 * i.e. for open menus
 * js can add the classes .collapse-open and .dropdown-open
 * to body and this will darken the page accordingly
 * .collapse-open                       - enabled
 * .collapse-open and above $large      - disabled
 * .dropdown-open and above $large      - enabled
 *
 * @markup
 *   <body class="dropdown-open">darkened on desktop</body>
 *   <body class="collapse-open">darkened on mobile</body>
 */
body {
  &:before {
    content: none;
    background: rgba($black, 0.33);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
  }

  &.collapse-open:before {
    content: "";
  }
  @include above($large) {
    &.collapse-open:before {
      content: none;
    }
    &.dropdown-open:before {
      content: "";
    }
  }
}
