/**
 * @section Helpers
 * @markup
 *   <div class="display-none"></div>
 *   <div class="display-inline"></div>
 *   <div class="display-block"></div>
 *   <div class="display-inline-block"></div>
 *   <div class="display-table-cell"></div>
 */
.display {
  &-none {
    display: none;
  }
  &-inline {
    display: inline;
  }
  &-block {
    display: block;
  }
  &-inline-block {
    display: inline-block;
  }
  &-table-cell {
    display: table-cell;
  }
}
