/**
 * @atom display
 * @section Helpers
 */
.display {
  &-none {
    display: none;
  }
  &-inline {
    display: inline;
  }
  &-block {
    display: block;
  }
  &-inline-block {
    display: inline-block;
  }
  &-table-cell {
    display: table-cell;
  }
}
