/**
 * @markup
 *   <span class="float-right">right</span>
 *   <span class="float-left">left</span>
 */
.float {
  &-right {
    float: right !important;
  }
  &-left {
    float: left !important;
  }

  &-right\@medium {
    @include above($medium) {
      float: right !important;
    }
  }
  &-left\@medium {
    @include above($medium) {
      float: left !important;
    }
  }
}
