/**
 * helper for quickly setting margins
 *
 * @markup
 *   <div class="margin-quarter">margin quarter rem</div>
 *   <div class="margin-half">margin half rem</div>
 *   <div class="margin-1">margin 1 rem</div>
 *   <div class="margin-6">margin 6 rem</div>
 *
 */
@for $i from 0 through 6 {
  .margin-#{$i} {
    margin: #{$i}rem !important;
  }
}
.margin-half {
  margin: 0.5rem !important;
}
.margin-quarter {
  margin: 0.25rem !important;
}



$directions: left right top bottom;

/**
 * helper for quickly setting margins
 *
 * @section Helpers > Positioning
 * @markup
 *   <div class="margin-top-quarter">margin top quarter rem</div>
 *   <div class="margin-top-half">margin top half rem</div>
 *   <div class="margin-top-1">margin top 1 rem</div>
 *   <div class="margin-top-6">margin top 6 rem</div>
 *
 */
@each $dir in $directions {

  @for $i from 0 through 6 {
    .margin-#{$dir}-#{$i} {
      margin-#{$dir}: #{$i}rem !important;
    }
  }

  .margin-#{$dir}-half {
    margin-#{$dir}: 0.5rem !important;
  }
  .margin-#{$dir}-quarter {
    margin-#{$dir}: 0.25rem !important;
  }

  .margin-#{$dir}-5px {
    margin-#{$dir}: 5px !important;
  }
  .margin-#{$dir}-10px {
    margin-#{$dir}: 10px !important;
  }

}

.margin-top-2\@until-medium {
  @include until($medium) {
    margin-top: 2rem !important;
  }
}

.margin-top-2\@medium {
  @include above($medium) {
    margin-top: 2rem !important;
  }
}
