/**
 * Helper to align to top, bottom, etc.
 */
.top    { top: 0; }
.bottom { bottom: 0; }
.left   { left: 0; }
.right  { right: 0; }

/**
 * Helper to set the position attribute
 */
.position {
  &-fixed {
    position: fixed;
  }
  &-absolute {
    position: absolute;
  }
  &-relative {
    position: relative;
  }
}
