/**
 * @markup
 *   <span class="width-full">100% width</span>
 *   <span class="width-60">960px width</span>
 *   <span class="width-1">1rem width</span>
 */
.width {
  &-full {
    width: 100%;
  }
  &-60 {
    width: 60rem; // this is 960px
  }

  &-1 {
    width: 1rem;
  }
  &-2 {
    width: 2rem;
  }
  &-3 {
    width: 3rem;
  }

}
