.template-article {

  background: $white;
  .main-image {
    width: 100%;
  }
  .container {
    max-width: $small-breakpoint;
  }

  .block-image img {
    width: 100%;
    @include breakpoint($medium-breakpoint) {
      width: 140%;
      margin-left: -20%;
      height: auto;
    }
  }
}
