// the navbar
//
//

// we are using this hamburger-icon
@import 'bower_components/hamburger-icon/hamburger-icon';


$medium-navbar-height: rem-calc(65);
$small-navbar-height: rem-calc(54);
$navbar-color: $green;



// used to control navbar height
//
// useful since we have <div.navbar-container> and actual <nav.navbar>
// uses the global vars $medium-navbar-height and $small-navbar-height
//
// $attr - the attribute to be controlled
@mixin navbar-height($attr: 'height') {
  @include resp-scale($attr, $small-navbar-height, $medium-navbar-height, $small-breakpoint, $medium-breakpoint);
}

// special shadow for the navbar
// remember to remove it for transparent navbars
@mixin navbar-shadow {
  box-shadow: rem-calc(0 2 4) rgba($black, 0.2);
}

// a white background in full screen width
// used for dropdowns
//
// $margin-top - optionaly move evrth. down
@mixin white-background ($margin-top: 0) {
  &:before {
    position: absolute;
    width: 5000%;
    background: white;
    left: -2500%;
    content: "";
    height: 100%;
    margin-top: $margin-top;
    @include navbar-shadow;
    display: block;
    z-index: -10;
  }
}


// navbar-container
//
// renders a green background
// and is always in full-width whereas the <nav.navbar> is smaller
//
// .fixed                                                 - position: fixed
// .transparent                                           - transparent bg and no shadow
// .transparent.collapse-open and breakpoint $medium-down - not transparent
// .transparent.dropdown-open and breakpoint $large-up    - not transparent
//
.navbar-container {
  background: $navbar-color;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
  @include navbar-height;
  @include navbar-shadow;

  &.fixed {
    position: fixed;
  }

  &.transparent {
    background: transparent;
    box-shadow: none;

    @include breakpoint($medium-down) {
      &.collapse-open {
        background: $navbar-color;
        @include navbar-shadow;
      }
    }
    @include breakpoint($large-up) {
      &.dropdown-open {
        background: $navbar-color;
        @include navbar-shadow;
      }
    }
  }
}

// the actual navbar
.navbar {
  position: relative;
  // fit to the "grid" of $medium-breakpoint
  @include container($medium-breakpoint);

  a {
    color: $white;
    @include sans;
    &:active {
      text-decoration: none;
    }
  }

  li {
    display: block;
  }

  &>* {
    float: left;
  }
  .search, .login, .menu-toggle {
    float: right;
  }

  .title {
    padding: rem-calc(20 20);
    @include breakpoint($small-down) {
      padding: rem-calc(17 17);
    }
  }

  .logo {
    height: rem-calc(65);
    padding: rem-calc(14 0);
    img {
      @include resp-scale('width', rem-calc(28), rem-calc(37), $small-breakpoint, $medium-breakpoint);
      @include resp-scale('height', rem-calc(27), rem-calc(36), $small-breakpoint, $medium-breakpoint);
    }
  }

  // this is being collapsed
  .collapse {
    @include breakpoint($medium-down) {
      display: none;
      opacity: 0;
      transition: opacity 0.2s linear;
    }
    &.in { // someone pressed the menu button
      display: block;
      opacity: 1;
      transition: opacity 0.2s linear;
    }
  }

  // buttons
  button {
    &:hover {
      background: rgba(white, 0.25);
    }
    width: rem-calc(30);
    height: rem-calc(30);
    margin: rem-calc(17 0);
    @include breakpoint($small-down) {
      margin: rem-calc(12 0);
    }
    padding: 0;
    border-radius: rem-calc(2);
  }

  // the search button
  .search-button {
    @include breakpoint($small-down) {
      padding: rem-calc(7 7);
    }
  }

  // the login button
  .login-button {
    padding: rem-calc(4 4);
  }

  // the menu toggle button
  .menu-toggle {
    @include breakpoint($large-up) {
      display: none;
    }
    padding: rem-calc(0 7);

    // the hamburger menu icon
    .hamburger {
      @include hamburger-generator(
        rem-calc(16), rem-calc(3), rem-calc(2), white,
        $timing-function: linear, $duration: 0.2s
      );
    }
    &:not(.collapsed) {
      .hamburger {
        @include hamburger-animation;
      }
    }

  }
}



// the menu inside .navbar
.navbar-menu {
  position: absolute;
  margin-top: 0;
  left: 0;
  width: 100vw;
  @include navbar-height('top');
  background: white;
  padding-top: rem-calc(25);
  padding-bottom: rem-calc(37);
  @include resp-scale('padding-left', rem-calc(20), rem-calc(180), $smallest-breakpoint, $medium-breakpoint);
  border-bottom: rem-calc(1) solid $navbar-color;

  a {
    color: $brown;
  }
  li + li {
    margin-top: rem-calc(24);
  }

  // now for large screens
  @include breakpoint($large-up) {
    background: transparent;
    border-bottom: none;
    padding-top: 0;
    top: 0;
    width: auto;

    & > li + li {
      margin-top: rem-calc(20);
      margin-left: rem-calc(30);
    }

    & > li {
      margin-top: rem-calc(20);
      float: left;
      & > a {
        padding-top: rem-calc(20);
        padding-bottom: rem-calc(20);
        color: white;
      }
    }
  }

  @include breakpoint($large-up) {
    .dropdown {
      position: relative;
    }
  }

  // dropdown menu (mobile first)
  .dropdown-menu {
    display: none;
    position: absolute;
    @include resp-scale('left', rem-calc(70), rem-calc(400), $smallest-breakpoint, $medium-breakpoint);
    width: 100vw;
    top: 0;
    height: 100%;
    background: white;
    padding-top: rem-calc(25);
    padding-left: rem-calc(20);
    @include navbar-shadow;

    li + li {
      margin-top: rem-calc(12);
    }

    // now for larger screens
    @include breakpoint($large-up) {
      height: auto;
      left: 0;
      top: rem-calc(45);
      width: 200%;
      background: transparent;
      box-shadow: none;
      padding-bottom: rem-calc(32);
      padding-left: 0;
      margin-left: 0;
      @include white-background(rem-calc(-25));

      li {
        clear: both;

        a {
          padding: rem-calc(4 0);
          margin: rem-calc(3 0);
          color: $brown;
          @include ms-respond(font-size, 0);
        }
      }
    }
  }

  .open .dropdown-menu {
    display: block;
    z-index: 1000;
  }
}

// grey out toplevel closed links
.dropdown-open {
  .navbar-menu > li > a {
    opacity: 0.5;
  }
  li.open > a {
    opacity: 1;
  }
}
