$panel-margin: rem-calc(10);
$panel-padding: rem-calc(20);

// panel
//
// is a container for content, article etc.
@mixin panel {
  display: block;
  overflow: hidden;
  background-color: $white;
  @include janun-box-shadow;

  &.no-bg {
    background-color: inherit;
    box-shadow: inherit;
  }

  &.centered-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  padding: $panel-padding;
  margin: $panel-margin 0;

  @include breakpoint($medium-up) {
    margin-left: $panel-margin;
    margin-right: $panel-margin;
  }

  .main-image {
    width: calc(100% + #{2*$panel-padding});
    margin: -$panel-padding;
    margin-bottom: inherit;
  }
}

.panel {
  @include panel;
}


// panel container
//
// makes a row-based layout
// on medium and big screens panels get 50% width each
// on small screen they get 100% width each
@mixin panel-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


@mixin panel-in-container {
  @include panel;
  width: 100%;
  @include breakpoint($medium-up) {
    // width: so that 3 panels fit
    width: $medium-breakpoint/3 - 2*$panel-margin;
  }
}

@mixin small-panel-in-container {
  @include panel;
  width: 100%;
  @include breakpoint($medium-up) {
    width: $medium-breakpoint/4 - 3*$panel-margin;
  }
}


.panel-container {
  @include panel-container;

  .panel {
    @include panel-in-container;
  }
  .small-panel {
    @include small-panel-in-container;
  }
}


picture {
  position: relative;
  .overlay {
    position: absolute;
    bottom: 0;
    left: -$panel-padding;
    margin-bottom: $panel-padding;

    &>* {
      display: inline-block;
      background-color: white;
      padding: rem-calc(3 20);
    }
  }
}



/* picture with overlay often in panel
 *
 * img will be cropped left and right if viewport is too small
 *
 * example usage:
 * <div class="picture">
 *   <img src="../img/content/macht-wachstum-glueck.png">
 *   <div class="overlay">
 *     <h3><small>30. Oktober bis 02. November</small></h3>
 *     <h3>Macht. Wachstum. Glück.</h3>
 *   </div>
 * </div>
 */

$picture-height: rem-calc(205);

.picture {
  position: relative;
  height: $picture-height;
  overflow: hidden;
  text-align: center;   // center image if cropped

  img {
    position: relative;
    top: 0;
    left: 100%;         // center image if cropped
    margin-left: -200%; // center image if cropped
    min-width: 100%;
    max-width: none;    // was set by foundation, argh
    min-height: $picture-height;
  }

  // picture overlay
  .overlay {
    width: 100%;
    position: absolute;
    &:first-child { // shown at the top
      top: 0;
    }
    &:last-child { // shown at the bottom
      bottom: 0;
    }
    z-index: 20;
    min-width: 100%;
    background: rgba($white, 0.75);
    text-align: left;

    // full overlay
    &.full {
      height: 100%;
    }

    // colored overlay
    &%color-overlay {
    //@include color-all-text;
      .button {
        //@extend .button.line; // all buttons should be line buttons
      }
    }

    &.blue {
      @extend %color-overlay;
      background-color: rgba($blue, 0.75);
    }
    &.green {
      @extend %color-overlay;
      background-color: rgba($green, 0.75);
    }
    &.red {
      @extend %color-overlay;
      background-color: rgba($red, 0.75);
    }
    &.brown {
      @extend %color-overlay;
      background-color: rgba($brown, 0.75);
    }

    small {
      color: $lighterdark;
    }
    a {
      color: inherit;
    }
  }
}

.ellipsize *, .ellipsize {
  white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}
