.principles {
  @include panel-container;

  li {
    @include panel-in-container;
    list-style: none;

    span {
      position: relative;
      display: block;

      font-family: $font-family-sans-serif;
      font-size: rem-calc(18);
      background-position: rem-calc(40) center;
      background-repeat: no-repeat;
      padding: rem-calc(44 0 44 140);

      small {
        display: none;
      }

      @media #{$medium-up} {
        fonz-size: rem-calc(20);
        background-position: center rem-calc(30);
        text-align: center;
        height: rem-calc(154);
        padding: rem-calc(94 0 0);
        small {
          display: block;
        }
      }

      &.diverse {
        color: $green;
        background-image: url(static('janunde_styleguide/images/components/principles/diverse.png'));
      }
      &.democratic {
        color: $blue;
        background-image: url(static('janunde_styleguide/images/components/principles/democratic.png'));
      }
      &.political {
        color: $orange;
        background-image: url(static('janunde_styleguide/images/components/principles/political.png'));
      }
      &.attractive {
        color: $red;
        background-image: url(static('janunde_styleguide/images/components/principles/attractive.png'));
      }
    }
  }

}
