// teaser
//
// is a kind of full-width heading with background
// but not an actual heading
// like a pull-quote or sth.
//
// Markup:
//      <div class="teaser">Dies ist der Teaser-Text</div>
//
.teaser {
  display: flex;
  align-items: center;
  justify-content: center;
  
  color: $white;
  @include ms-respond(font-size, 4);
  @include janun-text-shadow;
  text-align: center;
  min-height: rem-calc(300);
  padding: rem-calc(50 28);

  // this is a background image with (green) colored overlay
  background:
    linear-gradient($green-overlay, $green-overlay),
    url(static('janunde_styleguide/images/header-poster.jpg')) repeat-y center/cover fixed;
}
