// teaser
//
// is a kind of full-width heading with background
// but not an actual heading
// like a pull-quote or sth.
//
// Markup:
//      <div class="teaser">Dies ist der Teaser-Text</div>
//
.teaser {
  color: $white;
  @include ms-respond(font-size, 4);
  @include janun-text-shadow;
  text-align: center;
  padding: 2.125rem 1.75rem;

  // this is a background image with (green) colored overlay
  background:
    linear-gradient($green-overlay, $green-overlay),
    url(static('janunde_styleguide/images/header-poster.jpg')) repeat-y center/cover fixed;
}
