{% extends "base.html" %}
{% load static wagtailcore_tags wagtailsearchpromotions_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
    <h1>Search</h1>

    <form action="{% url 'search' %}" method="get">
        <input type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
        <input type="submit" value="Search">
    </form>

    {% get_search_promotions search_query as search_promotions %}
    {% if search_promotions %}
    <ul>
        {% for search_promotion in search_promotions %}
            <li>
                <a href="{% pageurl search_promotion.page %}">
                    <h3>{{ search_promotion.page.title }}</h3>
                    <p>{{ search_promotion.description }}</p>
                </a>
            </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if search_results %}
        <ul>
            {% for result in search_results %}
                <li>
                    <h3><a href="{% pageurl result %}">{{ result }}</a></h3>
                    {% if result.search_description %}
                        {{ result.search_description|safe }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        {% if search_results.has_previous %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
        {% endif %}

        {% if search_results.has_next %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
        {% endif %}
    {% elif search_query %}
        No results found
    {% endif %}
{% endblock %}
