{% load wagtailcore_tags wagtailimages_tags navbar %}


{% comment %} menu items (desktop) {% endcomment %}
{% with menu=settings.navbar.NavbarSettings.menu  %}
<ul class="hidden lg:flex xl:ml-8 h-full" role="menu">
  {% for item in menu %}
    
    {% if item.block_type == "internal_page" %}
      <li class="group flex px-2 xl:mx-1">
        <a role="menuitem" href="{% pageurl item.value.page %}"
          class="text-sm xxl:text-base flex items-center border-b-4 pt-1 border-transparent
          {% if self.url|startswith:item.value.page.url %}border-green-500 text-gray-900{% else %}hover:border-gray-500 text-gray-700 hover:text-gray-900{% endif %}">
          {{ item.value.get_title }}
        </a>
      </li>

    {% elif item.block_type == "submenu" %}
      {% submenu_active item.value.submenu self as submenu_active %}
      <li class="group flex px-2 xl:mx-1">
        <a href="#" aria-expanded="false" aria-haspopup="true"
          class="text-sm xxl:text-base js-toggle-menu flex items-center border-b-4 pt-1 border-transparent
          {% if submenu_active %}border-green-500 text-gray-900{% else %}group-hover:border-gray-500 text-gray-700 hover:text-gray-900{% endif %}">
          {{ item.value.title }}
          <svg class="fill-current h-4 w-4 ml-1 transition-transform duration-300 transform" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
        </a>
        <ul role="menu"
          class="invisible opacity-0 transition-opacity duration-300 flex justify-between mx-4 px-4 py-8 rounded-lg border-t absolute top-0 inset-x-0
                  bg-white shadow-lg mt-16 lg:mt-18">
          {% for item in item.value.submenu %}
            <li class="mx-4 xl:mx-8">
              <h5 class="text-xs text-gray-600 mb-3">{{ item.value.title|default:"&nbsp;" }}</h5>
              <ul role="menu">
                {% for item in item.value.submenu %}
                  <li class="block mb-4 max-w-xs">
                    <a role="menuitem" href="{% pageurl item.value.page %}"
                      class="inline-block text-gray-900 px-2 -mx-2 py-2 hover:bg-gray-150 rounded-lg {% if item.value.page.url == self.url %}bg-gray-150{% endif %}">
                      <div class="text-sm font-bold">{{ item.value.get_title }}</div>
                      <div class="text-xs text-gray-700">{{ item.value.get_subtitle }}</div>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}

        </ul>
      </li>
    {% endif %}

  {% endfor %}
</ul>
{% endwith %}


<script>
// toggle megamenu
document.querySelectorAll('.js-toggle-menu').forEach(function (button) {
  var menu = button.parentElement.querySelector('[role="menu"]')
  var arrow = button.querySelector("svg")

  menu.addEventListener('transitionend', function () {
    if (menu.classList.contains('opacity-0')) {
      menu.classList.add('invisible')
    }
  })
  function hide() {
    menu.classList.add('opacity-0')
    arrow.classList.remove('rotate-180')
    button.setAttribute('aria-expanded', 'false')
  }
  function show() {
    menu.classList.remove('invisible')
    menu.classList.remove('opacity-0')
    button.setAttribute('aria-expanded', 'true')
    arrow.classList.add('rotate-180')
  }
  
  // toggle on click
  button.addEventListener('click', function (event) {
    event.preventDefault()
    if (menu.classList.contains('invisible')) {
      show()
    } else {
      hide()
    }
  })

  // close on click outside
  document.addEventListener('click', function (event) {
    if (event.target === menu || menu.contains(event.target) || event.target === button || button.contains(event.target)) {
      return
    }
    if (!menu.classList.contains('invisible')) {
      hide()
    }
  })

  // close on ESC
  document.addEventListener('keydown', function (event) {
    if (event.which == 27 && !menu.classList.contains('invisible')) {
      event.preventDefault()
      hide()
    }
  })

})
</script>