{% load wagtailcore_tags wagtailimages_tags navbar %}

{% with menu=settings.navbar.NavbarSettings.menu  %}
<div id="mobileMenuBg" class="invisible transition-opacity duration-300 opacity-0 fixed inset-0 bg-black-75"></div>
<div id="mobileMenu" class="invisible fixed inset-y-0 right-0 overflow-auto transition-transform transform translate-x-full duration-300 lg:hidden bg-gray-150 shadow-lg z-40">

  <div class="h-16 flex justify-end items-center shadow-md">
    <button onclick="closeMobileMenu();" class="text-gray-700 mx-3 px-3 h-full outline-none">
      <svg class="h-4 w-4 fill-current" viewBox="0 0 20 20">
        <path
          d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z" />
      </svg>
    </button>
  </div>
<ul role="menu" class="mt-4 text-sm">
  {% for item in menu %}
    {% if item.block_type == "internal_page" %}
      <li>
        <a role="menuitem" class="block pl-8 py-5 {% if self.url|startswith:item.value.page.url %}font-bold text-green-500{% endif %}"
          href="{% if item.value.page %}{% pageurl item.value.page %}{% endif %}">{{ item.value.get_title }}</a>
      </li>
    {% elif item.block_type == "submenu" %}
      <li>
        <a href="#" role="menuitem" aria-expanded="false" aria-haspopup="true"
                class="js-toggle-mobile-menu w-full pl-8 pr-4 py-5 flex items-center">
          {{ item.value.title }}
          <svg class="ml-4 h-4 w-4 fill-current transition-transform duration-300 transform" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
        </a>

        <ul role="menu" class="overflow-hidden px-8 bg-gray-200 shadow-inner max-h-0 transition-all duration-300">
          {% for item in item.value.submenu %}
            <li>
              <h5 class="text-xs text-gray-600 pt-6 mb-4">{{ item.value.title|default:"&nbsp;" }}</h5>
              <ul role="menu">
                {% for item in item.value.submenu %}
                  <li class="block mb-2 max-w-xs">
                    <a role="menuitem" href="{% if item.value.page %}{% pageurl item.value.page %}{% endif %}"
                      class="py-2 pl-4 block text-gray-800 hover:text-gray-900
                        {% if item.value.page.url == self.url %}font-bold text-green-500{% endif %}">
                      <div class="text-sm">{{ item.value.get_title }}</div>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}

        </ul>
      </li>
    {% endif %}
  {% endfor %}
</ul>

</div>
{% endwith %}


<script>
// toggle mobile menu
function openMobileMenu() {
  //document.querySelector('.navbar').classList.add('menuOpen')
  mobileMenu.classList.remove('translate-x-full')
  mobileMenuBg.classList.remove('invisible')
  mobileMenuBg.classList.remove('opacity-0')
  mobileMenu.classList.remove('invisible')
  document.body.classList.add('overflow-hidden')
}

function closeMobileMenu() {
  mobileMenu.classList.add('translate-x-full')
  mobileMenuBg.classList.add('opacity-0')
  document.body.classList.remove('overflow-hidden')
  // other stuff done in transitionend

  // close sub menus
  document.querySelectorAll('.js-toggle-mobile-menu').forEach(function (button) {
    var menu = button.parentElement.querySelector('[role="menu"]')
    var arrow = button.querySelector('svg')

    function close() {
      menu.classList.remove('max-h-1000')
      arrow.classList.remove('rotate-180')
      button.setAttribute('aria-expanded', 'false')
    }
    close()
  })
}

mobileMenu.addEventListener('transitionend', function () {
  if (mobileMenu.classList.contains('translate-x-full')) {
    mobileMenu.classList.add('invisible')
    //document.querySelector('.navbar').classList.remove('menuOpen')
    mobileMenuBg.classList.add('invisible')
  }
})

// close on click outside
document.addEventListener('click', function (event) {
  if (event.target === mobileMenu || mobileMenu.contains(event.target) || event.target === menuButton || menuButton.contains(event.target)) {
    return
  }
  if (!mobileMenu.classList.contains('invisible')) {
    event.preventDefault()
    closeMobileMenu()
  }
})


// toggle on click on menuButton
menuButton.addEventListener('click', function () {
  if (mobileMenu.classList.contains('invisible')) {
    openMobileMenu()
  } else {
    closeMobileMenu()
  }
})


// toggle mobile megamenu
document.querySelectorAll('.js-toggle-mobile-menu').forEach(function (button) {
  var menu = button.parentElement.querySelector('[role="menu"]')
  var arrow = button.querySelector('svg')

  function toggle() {
    menu.classList.toggle('max-h-1000')
    arrow.classList.toggle('rotate-180')
    button.setAttribute('aria-expanded', menu.classList.contains('max-h-1000') ? 'false' : 'true')
  }
  
  // toggle on click
  button.addEventListener('click', function (event) {
    event.preventDefault()
    toggle()
  })
})
</script>