{% extends "__base.html" %}

{% load wagtailuserbar %}
{% load wagtailimages_tags srcset %}
{% load static from staticfiles %}

{% block meta %}
  {% include "core/_metadata.html" %}
{% endblock %}

{% block body_content %}

  {% block top %}
    {% include "navbar/navbar.html" %}
  {% endblock %}

  <div class="{% block content_class %}pt-16 content{% endblock %}">
    {% wagtailuserbar %}
    {% block content %}{% endblock %}
  </div>

  {% block footer %}
    {% include "core/_footer.html" %}
  {% endblock %}

{% endblock %}


{% block js %}
  <script type="text/javascript" src="{% static 'core/js/app.js' %}"></script>
{% endblock %}
