{% extends "__base.html" %}
{% include "core/_rollbar.html" %}

{% load wagtailuserbar %}
{% load wagtailimages_tags srcset %}
{% load static from staticfiles %}

{% block meta %}
  {% include "core/_metadata.html" %}
{% endblock %}

{% block body_content %}

  {% block top %}
    {% include "core/_navbar.html" with navbar_class="navbar--white" %}
  {% endblock %}

  <div class="{% block content_class %}content{% endblock %}"
       itemprop="mainContentOfPage">
    {% wagtailuserbar %}
    {% block content %}{% endblock %}
  </div>

  {% block footer %}
    {% include "core/_footer.html" %}
  {% endblock %}

{% endblock %}


{% block js %}
  <script type="text/javascript" src="{% static 'core/js/app.js' %}"></script>
{% endblock %}
