{% load wagtailcore_tags nettes_datum srcset wagtailimages_tags stuff humanize %}

<div class="card click-area card--small card--color-{{ object.color }}"
     itemscope itemtype="http://schema.org/Article">

  <a class="click-area__area-link" href="{% pageurl object %}" itemprop="url">
    {{ object.title }}
  </a>

  {% if object.main_image %}
    {% image object.main_image fill-300x113 as image %}
    <img class="card__image"
         srcset="{{ object.main_image|srcset:'fill-300x113 fill-600x226 fill-900x339 fill-1200x452' }}"
         sizes="18.75em"
         src="{{ image.url }}" alt="image.alt">
    {% image object.main_image original as orig_image %}
    <link itemprop="image" href="{{ orig_image.url }}">
  {% else %}
    <div class="card__image-placeholder"></div>
  {% endif %}

  <div class="card__overlay">
    Artikel {{ object.first_published_at|naturaltime }}
  </div>

  <div class="card__text">
    <h2 class="card__title" itemprop="name">{{ object.title|softhyphen }}</h2>
  </div>

  {% if object.related_group.logo %}
    <a href="{% pageurl object.related_group %}"
       class="card-icon"
       title="{{ object.related_group.title }}">

      <span class="card-icon__reveal">
        {{ object.related_group.title }}
      </span>

      <span class="card-icon__content">
        {% image object.related_group.logo width-35 as group_logo %}
        <img src="{{ group_logo.url }}"
             {% if object.related_group.logo.aspect < 100 %}
               srcset="{{ object.related_group.logo|srcset:'width-35 width-70 width-105 width-140' }}"
             {% else %}
               srcset="{{ object.related_group.logo|srcset:'height-35 height-70 height-105 height-140' }}"
             {% endif %}
             sizes="2.1875em"
             alt="Logo {{ object.related_group.title }}">
      </span>
    </a>
  {% endif %}

</div>
