{% load wagtailcore_tags wagtailimages_tags srcset %}

<div class="author click-area"
     itemprop="author" itemscope itemtype="http://schema.org/Person">
  {% if author.photo %}
    {% image author.photo fill-100x100 as fallback_image %}
    <img src="{{ fallback_image.url }}"
      srcset="{{ author.photo|srcset:'fill-64x64 fill-100x100 fill-128x128 fill-200x200 fill-300x300' }}"
      sizes="(min-width: 53em) 6.25em, 4em"
      alt="{{ fallback_image.alt }}"
      class="author__photo">
    <link href="{{ fallback_image.url }}" itemprop="image" >
  {% endif %}
  <span class="author__name">
    von <strong itemprop="name">{{ author.title }}</strong>
  </span>

  <time datetime="{{ date|date:"c" }}"
        class="author__date">{{ date|date }}</time>

  <a href="{% pageurl author %}" class="click-area__area-link"
     itemprop="url"></a>
</div>
