{% load wagtailcore_tags wagtailimages_tags srcset humanize %}

{% if self.author %}
  <div class="byline" itemprop="author" itemscope itemtype="http://schema.org/Person">
      {% if self.author.photo %}
        {% image self.author.photo fill-100x100 as fallback_image %}
        <a href="{% pageurl self.author %}">
          <img src="{{ fallback_image.url }}"
            srcset="{{ self.author.photo|srcset:'fill-64x64 fill-100x100 fill-128x128 fill-200x200 fill-300x300' }}"
            sizes="(min-width: 53em) 6.25em, 4em"
            alt="{{ fallback_image.alt }}"
            class="byline__author-photo">
        </a>
        <link href="{{ fallback_image.url }}" itemprop="image" >
      {% endif %}
      <a href="{% pageurl self.author %}" class="byline__author-name">von <span itemprop="name">{{ self.author.title }}</span></a>
      <span class="byline__published">vom <time itemprop="datePublished" title="{{ self.first_published_at|date:'SHORT_DATETIME_FORMAT' }}" datetime="{{ self.first_published_at|date:"c" }}">{{ self.first_published_at|date:'SHORT_DATE_FORMAT' }}</time></span>
  </div>
{% else %}
  <div class="byline">
    <link itemprop="author" href="#janunOrg">
    <span class="byline__published">vom <time itemprop="datePublished" title="{{ self.first_published_at|date:'SHORT_DATETIME_FORMAT' }}" datetime="{{ self.first_published_at|date:"c" }}">{{ self.first_published_at|date:'SHORT_DATE_FORMAT' }}</time></span>
  </div>
{% endif %}
