<footer class="footer">

  <a class="icon-social-youtube font-size-2 footer__item" target="_blank"
    href="https://www.youtube.com/user/JANUNvideo"></a>
  <a class="icon-social-facebook font-size-2 footer__item" target="_blank"
    href="https://www.facebook.com/jugendumweltnetzwerk/"></a>
  <a class="icon-social-twitter font-size-2 footer__item" target="_blank"
    href="https://twitter.com/janun_de"></a>

  <br>
  <a class="footer__item" href="http://janun.de/impressum">Impressum</a>
  <a class="footer__item" href="http://janun.de/impressum/datenschutz_auf_beta_janun_de">Datenschutz</a>
</footer>
