{% load wagtailcore_tags %}


<footer class="footer">
  <div class="footer__inner">

    <span class="float-left">
      <a class="footer__item" href="/">
        <span class="footer__logo">{% include 'core/janun_logo.svg' %}</span>
        JANUN
      </a>
    </span>

    <a class="footer__item" href="{% slugurl 'impressum' %}">Impressum</a>

    <span class="float-right">
      <a class="icon-social-youtube font-size-2 footer__item" target="_blank"
        href="https://www.youtube.com/user/JANUNvideo"></a>
      <a class="icon-social-facebook font-size-2 footer__item" target="_blank"
        href="https://www.facebook.com/jugendumweltnetzwerk/"></a>
      <a class="icon-social-twitter font-size-2 footer__item" target="_blank"
        href="https://twitter.com/janun_de"></a>
    </span>

  </div>
</footer>
