{% load wagtailcore_tags wagtailimages_tags srcset humanize stuff %}
{% load static from staticfiles %}

<div class="bigcircle click-area"
     itemscope itemtype="http://schema.org/Organization">

  <a href="{% pageurl object %}" itemprop="url" class="click-area__area-link">
    {{ object.title }}
  </a>

  <div class="bigcircle__image-wrapper">
    {% if object.logo %}
      {% image object.logo max-170x170 as fallback_image %}
      <img src="{{ fallback_image.url }}"
        srcset="{{ object.logo|srcset:'max-170x170 max-340x340 max-510x510 max-680x680' }}"
        sizes="10.625em"
        alt="{{ original_image.alt }}"
        class="bigcircle__image">
      <link itemprop="logo" href="{{ fallback_image.url }}">
    {% else %}
      <span class="bigcircle__image-placeholder"></span>
    {% endif %}
  </div>

  <div class="bigcircle__text">
    <a href="{% pageurl object %}" class="bigcircle__title">{{ object.title|softhyphen }}</a>
    {% if object.subtitle %}
      <div>{{ object.subtitle|softhyphen }}</div>
    {% endif %}
  </div>

  <meta itemprop="name" content="{{ object.title }}">

</div>
