{% load static from staticfiles %}

<header class="site-header video-background">
  <video class="video-background__video js-mq-video-loader" autoplay muted playsinline loop poster="{% static 'core/images/header-poster/header-poster-1024.jpg' %}">
    <source media="(min-device-width: 1280px)" data-src="{% static 'core/videos/header-video/header-video-1280.mp4' %}" type="video/mp4">
    <source media="(min-device-width: 1280px)" data-src="{% static 'core/videos/header-video/header-video-1280.webm' %}" type="video/webm">
    <source media="(min-device-width: 1024px) and (max-device-width: 1279px)" data-src="{% static 'core/videos/header-video/header-video-1024.mp4' %}" type="video/mp4">
    <source media="(min-device-width: 1024px) and (max-device-width: 1279px)" data-src="{% static 'core/videos/header-video/header-video-1024.webm' %}" type="video/webm">
  </video>
  <div class="site-header__content">
    <h1>JANUN ist das<br>Jugendumweltnetzwerk<br>Niedersachsen</h1>
    <p>JANUN ist aktiv für ein gutes Leben in einer ökologischen und sozial gerechten Welt.</p>
    <a class="site-header__arrow js-scroll-window-height" href="">
      <i class="icon-arrow-down-circle"></i>
    </a>
  </div>
</header>
