{% load static from staticfiles %}
{% load cache %}

{% cache 36000 header %}
  <header class="site-header video-background">

    <div class="video-background__wrapper">
      <div class="video-background__video" id="site-video"></div>
    </div>
    <script async src="https://www.youtube.com/iframe_api"></script>
    <script>
     function onYouTubeIframeAPIReady() {
      var player;
      player = new YT.Player('site-video', {
        videoId: 'YGXxlRYozD0',
        width: 1024,
        height: 500,
        playerVars: {
          autoplay: 1,
          controls: 0,
          showinfo: 0,
          modestbranding: 1,
          loop: 1,
          playlist: 'YGXxlRYozD0',
          fs: 0,
          cc_load_policy: 0,
          iv_load_policy: 3,
          autohide: 0
        },
        events: {
          onReady: function(e) {
            e.target.mute();
          }
        }
      });
     }
    </script>

    <div class="site-header__content">
      <h1>JANUN ist das<br>Jugendumweltnetzwerk<br>Niedersachsen</h1>
      <p>JANUN ist aktiv für ein gutes Leben in einer ökologischen und sozial gerechten Welt.</p>
      <a class="site-header__arrow js-scroll-window-height" href="">
        <i class="icon-arrow-down-circle"></i>
      </a>
    </div>

    <div style="position: absolute; bottom: 10px; width: 100%">
      <div class="container hide@until-medium">
        <a href="/veranstaltungen/silent-climate-parade-2" style="color: white">Am 13. Mai wieder: Silent Climate Parade</a>
      </div>
    </div>
  </header>
{% endcache %}
