{% load static from staticfiles %}
{% load srcset %}

<div class="hero  click-area">

  <picture>
    <source>
    <img class="hero__image" src="{% static 'core/images/herbstspektakel_planungstreffen.jpg' %}">
  </picture>

  <div class="hero__overlay">
    <div class="container">
    <a href="#" class="hero__text">
      <h2 style="line-height: 1.0">
        <div style="font-size: 20px; line-height: 1.2">Komm zu:</div>
        <span class="big-font">Grenzen der Freiheit in Gren&shy;zen!</span>
      </h2>
      <p class="font-family-sans">Der Jugend&shy;kongress zum Thema Flucht.
      vom 30.9. bis 3.10. in der Waldorfschule Sorsum bei Hannover.</p>
    </a>
  </div>

  </div>

  <a href="#" class="click-area__area-link"></a>

</div>
