{% load wagtailimages_tags srcset %}
<figure class="{{ class }}">
  {% image image width-768 as original_image %}
  <a href="{{ original_image.url }}"
     {% if aspect %}
       class="responsive-object"
       style="padding-bottom: {{ aspect|stringformat:"f" }}%"
     {% endif %}>
    <img src="{{ original_image.url }}"
      srcset="{{ image|srcset:srcset }}"
      sizes="{{ sizes }}"
      class="images__image"
      alt="{{ image.alt }} ">
  </a>
  {% if caption or image.attribution %}
    <figcaption class="images__caption">
      {% if caption %}
      <span itemprop="caption">
        {{ caption }}
      </span>
      {% endif %}
      {% if image.attribution %}
        <span itemprop="copyrightHolder"
              itemscope itemtype="http://schema.org/Person"
              class="images__attribution">
          <span itemprop="name">{{ image.attribution }}</span>
        </span>
      {% endif %}
    </figcaption>
  {% endif %}
</figure>
