{% load wagtailcore_tags wagtailimages_tags srcset %}

<article class="panel">

  {% if object.main_image %}
    <div class="panel__negative-margin-up">
      <div class="image overlay overlay--white-box responsive-object"
           style="padding-bottom: 60%">
        <a href="{% pageurl object %}">
          {% image object.main_image fill-320x192 jpg as fallback_image %}
          <img src="{{ fallback_image.url }}"
            srcset="{{ object.main_image|srcset:'fill-320x192|jpg fill-640x384|jpg fill-1280x768|jpg fill-695x417|jpg fill-1792x1075|jpg' }}"
            sizes="(min-width: 40em) and (max-width: 64em) 50vw, (min-width: 64em) 20em, 100vw"
            alt="{{ fallback_image.alt }}">
        </a>
        <div class="overlay__content add-panel-padding--on-sides add-panel-padding--on-bottom">
          {% block overlay %}
            <h3><a href="{% pageurl object %}">{{ object.title }}</a></h3>
          {% endblock %}
        </div>
      </div>
    </div>
  {% else %}
    <h3><a href="{% pageurl object %}">{{ object.title }}</a></h3>
  {% endif %}

  {% if object.body %}
    <div>
      <p>{{ object.body|truncatewords_html:30 }}</p>
    </div>
  {% endif %}

  {% if object.related_group %}
    Gruppe: {{ object.related_group.title }}
  {% endif %}

</article>
