{% load wagtailcore_tags %}
{% load menu %}
{% load static from staticfiles %}

{% get_site_root as site_root %}
{% get_menuitems parent=site_root calling_page=self as menuitems %}

<!-- begin of navbar -->
<div class="navbar navbar--green {{ navbar_class }}">
  <nav class="navbar__inner" role="navigation" aria-label="Hauptmenü">

    <span itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
      <!-- logo -->
      <a class="navbar__item" href="{% pageurl site_root %}"
         itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
        <!-- <img class="navbar__logo"
             alt="JANUN Logo"
             src="{% static 'core/images/components/navbar/janun_logo.svg' %}"> -->
        <span class="navbar__logo">{% include 'core/janun_logo.svg' %}</span>
        <meta itemprop="url" content="{% static 'core/images/janun_logo.svg' %}">
        <meta itemprop="width" content="37">
        <meta itemprop="height" content="36">
      </a>

      <!-- title -->
      <meta itemprop="name" content="JANUN">
      <meta itemprop="url" content="http://janun.de/">
      <a href="{% pageurl site_root %}"
         class="navbar__item navbar__title">
        JANUN
      </a>
    </span>


    <div class="float-right">
      <!-- menu toggle button -->
      <div class="navbar__item">
        <button class="hamburger
                       js-aria-hidden"
                data-js-aria-hidden-media="(min-width: 1024px)"
                type="button"
                title="Menü ein-/ausblenden"
                data-a11y-toggle="collapsible"
                aria-expanded="false">
          <span class="hamburger__inner"></span>
        </button>
      </div>
    </div>


    <!-- collapsible menu -->
    <div id="collapsible" aria-hidden="true"
         class="navbar__item navbar__collapsible js-aria-hidden"
         data-js-aria-hidden-media="(max-width: 1023px)">
      <ul role="menubar" class="menu">
        {% for menuitem in menuitems %}
          <li role="menuitem" class="menu__item
              {% if menuitem.is_active %}menu__item--active{% endif %}">
            <a href="{% pageurl menuitem %}">
              {{ menuitem.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

  </nav>
</div>
<!-- end of navbar -->
