{% load wagtailcore_tags wagtailimages_tags srcset humanize stuff cache %}

{% cache 600 pageheader self.id self.latest_revision_created_at %}
  <div class="pageheader">
    <div class="container">
      <h1 class="pageheader__heading">{% if self.heading %}{{ self.heading }}{% else %}{{ self.title }}{% endif %}</h1>
      {% if self.header_image %}
        {% image self.header_image height-100 as image %}
        <img class="pageheader__image"
             srcset="{{ self.header_image|srcset:'height-100 height-200 height-300 height-400' }}"
             sizes="{{ image.width }}"
             src="{{ image.url }}" alt="{{ image.alt }}">
        {% image object.main_image original as orig_image %}
        <link itemprop="image" href="{{ orig_image.url }}">
      {% endif %}
    </div>
  </div>
{% endcache %}
