{% load wagtailcore_tags wagtailimages_tags srcset %}

<article class="{% block partial-class %}panel panel--fixed-height{% endblock %}">

  {% if object.main_image %}
    <div class="image image--fixed-height
                remove-panel-padding--all overlay">
      <a href="{% pageurl object %}">
        {% image object.main_image fill-320x192 jpg as fallback_image %}
        <img src="{{ fallback_image.url }}"
          srcset="{{ object.main_image|srcset:'fill-320x192|jpg fill-640x384|jpg fill-1280x768|jpg fill-695x417|jpg fill-1792x1075|jpg' }}"
          sizes="(min-width: 40em) and (max-width: 64em) 33vw, (min-width: 64em) 20em, 100vw"
          alt="{{ fallback_image.alt }}">
      </a>
      <div class="overlay__content add-panel-padding--on-sides">
        {% block overlay %}
          <h3><a href="{% pageurl object %}">{{ object.title }}</a></h3>
          {% if object.related_group %}
            Gruppe: {{ object.related_group.title }}
          {% endif %}
        {% endblock %}
      </div>
    </div>
  {% else %}
    <h3><a href="{% pageurl object %}">{{ object.title }}</a></h3>
    {% if object.related_group %}
      Gruppe: {{ object.related_group.title }}
    {% endif %}
  {% endif %}

  {% block content %}{% endblock %}



</article>
