{% load wagtailcore_tags nettes_datum srcset wagtailimages_tags stuff humanize %}

<div class="bigcard click-area">

  <div class="bigcard__inner">

    <a class="click-area__area-link" href="{% pageurl object %}"
       itemprop="url" title="{{ object.title }}">
      {{ object.title }}
    </a>

    {% if object.main_image %}
      {% image object.main_image fill-300x150 as image %}
      <img class="bigcard__image"
           srcset="{{ object.main_image|srcset:'fill-300x150 fill-600x300 fill-900x450 fill-1200x600' }}"
           sizes="18.75em"
           src="{{ image.url }}" alt="{{ image.alt }}">
      {% image object.main_image original as orig_image %}
      <link itemprop="image" href="{{ orig_image.url }}">
    {% else %}
      <div class="bigcard__image-placeholder bigcard__image-placeholder--color-{{ object.color }}"></div>
    {% endif %}

    <div class="bigcard__content">
      <h2 class="bigcard__title" itemprop="name">{{ object.title|softhyphen }}</h2>
      {% if object.subtitle %}
        <p class="bigcard__subtitle">{{ object.subtitle|softhyphen }}</p>
      {% endif %}
      {% if object.get_description %}
        <p class="bigcard__text">{{ object.get_description|softhyphen }}</p>
      {% endif %}
    </div>

    <div class="bigcard__footer">
      <a href="{% pageurl object %}" class="bigcard__button">Weiterlesen</a>
      <span class="">{{ object.first_published_at|naturaltime }}</span>
    </div>

  </div>

</div>
