{% load wagtailcore_tags nettes_datum srcset wagtailimages_tags stuff %}

<a href="{% pageurl related_group %}"
   class="card-icon"
   title="{{ related_group.title }}">

  <span class="card-icon__reveal">
    {{ related_group.title }}
  </span>

  <span class="card-icon__content">
    {% image related_group.logo max-35x35 as group_logo %}
    <img src="{{ group_logo.url }}"
           srcset="{{ related_group.logo|srcset:'max-35x35 max-70x70 max-105x105 max-140x140' }}"
         sizes="2.1875em"
         alt="Logo {{ related_group.title }}">
  </span>
</a>
