{% extends "core/__base.html" %}
{% load wagtailcore_tags humanize wagtailimages_tags srcset %}

{% block body_class %}{% endblock %}

{% block content %}
<article class="container container--margin-top"
         itemprop="mainEntity" itemscope itemtype="http://schema.org/Article"
         itemref="publisher">

  <div class="text-container userim">
    <h1 class="title title--color-{{self.title_color}}"
        itemprop="headline">
      {{ self.title }}
    </h1>
    {% if self.subtitle %}
      <p class="subtitle">{{ self.subtitle }}</p>
    {% endif %}

    <div itemprop="articleBody">

      {% include "core/_byline.html" %}

      <!-- the actual text -->
      {% include_block self.body %}
    </div>


  </div>

</article>
{% endblock %}
