{% extends "core/__base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static from staticfiles %}
{% load srcset %}
{% load stuff %}
{% load render_partial %}
{% load cache %}


{% block body_class %}template-article-index-page{% endblock %}

{% block content %}

  <div class="container">
    {% cache 600 articles %}
      {% if articles %}
        <div class="card-grid margin-top-3 clear-after">
          {% for article in articles %}
            {% render_partial article %}
          {% endfor %}
        </div>
      {% else %}
        Schade, es wurden noch keine Artikel veröffentlicht…
      {% endif %}
    {% endcache %}

  </div>


{% endblock %}
