{% extends "core/__base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-article-index-page base-layout{% endblock %}

{% block content %}

  <main>
    <h2 class="area-title">Aktuelles zu JANUN und den Projektgruppen</h2>
    <div class="grid
                grid--of-2@medium
                grid--of-3@large
                js-masonry">
      {% if articles %}
        {% for object in articles %}
          <div class="grid__element js-masonry__element">
            {% include object.medium_partial_template_name %}
          </div>
        {% endfor %}
      {% else %}
        Keine Einträge vorhanden.
      {% endif %}
    </div>
  </main>



{% endblock %}
