{% extends "core/__base.html" %}
{% load wagtailcore_tags humanize wagtailimages_tags srcset %}

{% block body_class %}{% endblock %}

{% block content %}
<article class="container container--margin-top"
         itemprop="mainEntity" itemscope itemtype="http://schema.org/Article">

  <div class="text-container userim">

    {% include "core/_dateline.html" %}

    <h1 class="title title--color-{{self.title_color}}"
        itemprop="headline">
      {{ self.title }}
    </h1>
    {% if self.subtitle %}
      <p class="subtitle">{{ self.subtitle }}</p>
    {% endif %}

    {% include "core/_byline.html" %}

    <div itemprop="articleBody">
      {% include_block self.body %}
    </div>

    {% image self.main_image original as image %}
    <link itemprop="image" href="{{ image.url }}">

    <link itemprop="publisher" href="#janunOrg"/>

  </div>

</article>
{% endblock %}
