{% extends "core/__base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-article-index-page base-layout{% endblock %}

{% block content %}

  <main>
    <h2 class="area-title">Aktuelles zu JANUN und den Projektgruppen</h2>
    <div class="grid-12">
      {% if upcoming %}
        {% for object in upcoming %}
          <div class="grid-12__col-4">
            {% include object.medium_partial_template_name %}
          </div>
        {% endfor %}
      {% else %}
        Keine Einträge vorhanden.
      {% endif %}
    </div>
  </main>



{% endblock %}
