{% extends "core/__base.html" %}
{% load wagtailcore_tags wagtailimages_tags srcset humanize nettes_datum %}

{% block body_class %}event-page-template{% endblock %}

{% block content %}
<div class="container">
  <div class="grid-12">

    <!-- the main column -->
    <main class="grid-12__col-7">
      <h1>{{ self.title }}</h1>
      <h2>
        <!-- short date -->
        {% if self.end_datetime and self.end_datetime.date != self.start_datetime.date %}
          von {{ self.start_datetime|nettes_datum:True }} bis {{ self.end_datetime.date|nettes_datum:True }}
        {% else %}
          {{ self.start_datetime.date|nettes_datum:True }}
        {% endif %}

        <!-- short location -->
        {% if self.location %}
          in {{ self.location }}
        {% endif %}
      </h2>
      {{ self.content }}
    </main>


    <!-- the side column -->
    <aside class="grid-12__col-4 float-right">

      <!-- image -->
      {% if self.main_image %}
      <div class="image">
        {% image self.main_image jpg as original_image %}
          <img src="{{ original_image.url }}"
            srcset="{{ self.main_image|srcset:'width-320|jpg width-640|jpg width-1280|jpg width-695|jpg width-1792|jpg' }}"
            sizes="(min-width: 60em) 20em, 95vw"
            alt="{{ original_image.alt }}"
            class="main-image">
      </div>
      {% endif %}

      <!-- time -->
      <div class="grid-12 margin-top-2 font-family-extra font-size-2">
        <div class="grid-12__col-1"><i class="icon-clock"></i></div>
        <div class="grid-12__col-11">
          {% if self.end_datetime %}
            {% if self.end_datetime.date == self.start_datetime.date %}
              {# starts and ends on same day #}
              <div>
                {{ self.start_datetime|nettes_datum }}<span class="color-grey">, {{ self.start_datetime|date:"SHORT_DATE_FORMAT" }}</span><br>
                {{ self.start_datetime|time:"" }}&nbsp;–&nbsp;{{ self.end_datetime|time:"" }}&#x202F;Uhr
              </div>
            {% else %}
              {# starts and ends on different days #}
              <div>
                ab {{ self.start_datetime|nettes_datum }}<span class="color-grey">, {{ self.start_datetime|date:"SHORT_DATE_FORMAT" }}</span><br>
                {{ self.start_datetime|time:"" }}&#x202F;Uhr
              </div>
              <div class="margin-top-half">
                bis {{ self.end_datetime|nettes_datum }}<span class="color-grey">, {{ self.end_datetime|date:"SHORT_DATE_FORMAT" }}</span><br>
                {{ self.end_datetime|time:"" }}&#x202F;Uhr
              </div>
            {% endif %}
          {% else %}
            <div>
              {{ self.start_datetime|nettes_datum }}<span class="color-grey">, {{ self.start_datetime|date:"SHORT_DATE_FORMAT" }}</span><br>
              {{ self.start_datetime|time:"" }}&#x202F;Uhr
            </div>
          {% endif %}
          <a class="font-size-1 font-family-sans color-grey" href="?format=ical">Im Kalendar speichern</a>
        </div>
      </div>

      <!-- location -->
      <div class="grid-12 margin-top-2 font-family-extra font-size-2">
        <div class="grid-12__col-1"><i class="icon-location-pin"></i></div>
        <div class="grid-12__col-11">
          {{ self.location }}<br>
          <a class="font-size-1 font-family-sans color-grey" href="https://www.google.de/maps/search/{{ self.location }}">Auf Karte anzeigen</a>
        </div>
      </div>

      <!-- links etc. -->
      {% if self.website_url %}
        <div class="grid-12 margin-top-2">
          <div class="grid-12__col-1"><i class="icon-share-alt"></i></div>
          <div class="grid-12__col-11">
            <a class="color-grey" href="{{ self.website_url }}">{{ self.website_url }}</a>
          </div>
        </div>
      {% endif %}

      {% if self.facebook_event_url %}
      <div class="grid-12 margin-top-1">
        <div class="grid-12__col-1"><i class="icon-social-facebook"></i></div>
        <div class="grid-12__col-11">
          <a class="color-grey" href="{{ self.facebook_event_url }}">Facebook-Event</a>
        </div>
      </div>
      {% endif %}

      {% if self.contact_mail %}
      <div class="grid-12 margin-top-1">
        <div class="grid-12__col-1"><i class="icon-envelope"></i></div>
        <div class="grid-12__col-11">
          <a class="color-grey" href="mailto:{{ self.contact_mail }}">Kontakt per E-Mail</a>
        </div>
      </div>
      {% endif %}
    </aside>

  </div>
</div>
{% endblock %}
