{% extends "core/__base.html" %}
{% load wagtailcore_tags nettes_datum srcset wagtailimages_tags %}

{% block body_class %}template-event-index-page{% endblock %}

{% block content %}
<header class="header">
  <div class="container js-scrolls__offsetElement">
    <h1>Veranstaltungen, Seminare, Demos</h1>
    <div>
      <a class="color-green margin-right-3 font-size-2" href="{{ self.get_add_mail }}"><i class="icon-plus"></i> Vorschlagen</a>
      <a class="color-green margin-right-3 font-size-2" href="#"><i class="icon-magnifier"></i> Suchen</a>
    </div>
  </div>
</header>


<div class="scrolls js-scrolls dragscroll">
  <div class="fixed-grid-12 scrolls__inner">



    <div class="fixed-grid-12__col-4 scrolls__element">
      <h2 class="area-title">Noch diese Woche</h2>
      {% for event in this_week %}
        {% include "core/_event_partial.html" with only_weekday=True %}
      {% endfor %}
    </div>

    <div class="fixed-grid-12__col-4 fixed-grid-12__offset-1 scrolls__element">
      <h2 class="area-title">Nächste Woche</h2>
      {% for event in next_week %}
        {% include "core/_event_partial.html" %}
      {% endfor %}
    </div>

    {% if later_this_month %}
      <div class="fixed-grid-12__col-4 fixed-grid-12__offset-1 scrolls__element">
        <h2 id="later_this_month" class="area-title">Später im {% now "M" %}</h2>
        {% for event in later_this_month %}
          {% include "core/_event_partial.html" %}
        {% endfor %}
      </div>
    {% endif %}

    <div class="fixed-grid-12__col-4 fixed-grid-12__offset-1 scrolls__element">
      <h2 id="next_month" class="area-title">Nächsten Monat</h2>
      {% for event in next_month %}
        {% include "core/_event_partial.html" %}
      {% endfor %}
    </div>

    <div class="fixed-grid-12__col-4 fixed-grid-12__offset-1 scrolls__element">
      <h2 id="after" class="area-title">Noch Später</h2>
      {% for event in after %}
        {% include "core/_event_partial.html" %}
      {% endfor %}
    </div>

    <a class="scrolls__button-next js-scrolls__button-next" href="#">
      <i class="icon-arrow-right-circle"></i>
    </a>

  </div>
</div>

{% endblock %}
