{% extends "core/__base.html" %}
{% load wagtailcore_tags wagtailimages_tags srcset humanize nettes_datum stuff %}

{% block body_class %}event-page-template{% endblock %}

{% block content %}
<div class="container">
  <div class="grid-12">

    <!-- the main column -->
    <main class="grid-12__col-7">
      <!-- title and subtitle -->
      <h1>{{ self.title }}</h1>
      {% if self.subtitle %}
        <h2>{{ self.subtitle }}</h2>
      {% endif %}

      <!-- the content -->
      {{ self.content }}
    </main>


    <!-- the side column -->
    <aside class="grid-12__col-4 float-right">

      <!-- image -->
      {% if self.main_image %}
      <div class="image ">
        {% image self.main_image original as original_image %}
          <a class="cursor-zoom-in" href="{{ original_image.url }}">
            <img src="{{ original_image.url }}"
              srcset="{{ self.main_image|srcset:'width-320 width-640 width-1280 width-695 width-1792' }}"
              sizes="(min-width: 60em) 20em, 95vw"
              alt="{{ original_image.alt }}"
              class="main-image panel panel--no-padding">
          </a>
      </div>
      {% endif %}

      <!-- time -->
      <div class="grid-12 margin-top-2 font-family-extra font-size-2">
        <i class="grid-12__col-1 icon-clock" aria-hidden="true"></i>
        <div class="grid-12__col-11">
          {% if self.end_datetime %}
            {% if self.end_datetime.date == self.start_datetime.date %}
              {# starts and ends on same day #}
              <div>
                {{ self.start_datetime|nettes_datum_grey_date }}
                {% if not self.all_day %}
                  <br>{{ self.start_datetime|time:"" }}&nbsp;–&nbsp;{{ self.end_datetime|time:"" }}&#x202F;Uhr
                {% endif %}
              </div>
            {% else %}
              {# starts and ends on different days #}
              <div>
                ab {{ self.start_datetime|nettes_datum_grey_date }}
                {% if not self.all_day %}
                  <br>{{ self.start_datetime|time:"" }}&#x202F;Uhr
                {% endif %}
              </div>
              <div class="margin-top-half">
                bis {{ self.end_datetime|nettes_datum_grey_date }}
                {% if not self.all_day %}
                  <br>{{ self.end_datetime|time:"" }}&#x202F;Uhr
                {% endif %}
              </div>
            {% endif %}
          {% else %}
            <div>
              {{ self.start_datetime|nettes_datum_grey_date }}
              {% if not self.all_day %}
                <br>{{ self.start_datetime|time:"" }}&#x202F;Uhr
              {% endif %}
            </div>
          {% endif %}
          <span class="font-size-1 font-family-sans color-grey">
            Im Kalendar speichern:
            <a class="color-grey" href="?format=ical">iCal</a>,
            <a class="color-grey" href="{{ self.create_google_calendar_link }}">Google</a>
          </span>
        </div>
      </div>

      <!-- location -->
      {% if self.location %}
      <div class="grid-12 margin-top-2 font-family-extra font-size-2">
        <i class="grid-12__col-1 icon-location-pin" aria-hidden="true"></i>
        <span class="grid-12__col-11">
          {{ self.location }}<br>
          <a class="font-size-1 font-family-sans color-grey" href="https://www.google.de/maps/search/{{ self.location }}">Auf Karte anzeigen</a>
        </span>
      </div>
      {% endif %}

      <!-- links etc. -->
      {% if self.website_url %}
        <a href="{{ self.website_url }}"
           class="grid-12 margin-top-1 display-block"
           title="Website besuchen">
          <i class="grid-12__col-1 icon-share-alt" aria-hidden="true"></i>
          <span class="grid-12__col-11 color-grey">{{ self.website_url|prettyurl }}</span>
        </a>
      {% endif %}

      {% if self.facebook_event_url %}
      <a href="{{ self.facebook_event_url }}" class="grid-12 margin-top-1 display-block">
        <i class="grid-12__col-1 icon-social-facebook" aria-hidden="true"></i>
        <span class="grid-12__col-11 color-grey">Facebook-Event</span>
      </a>
      {% endif %}

      <!-- contact information -->
      {% if self.contact_mail or self.contact_phone %}
      <div class="margin-top-2">
        <span class="color-grey">Kontakt: {% if self.contact_name %}{{ self.contact_name }}{% endif %}</span>

        {% if self.contact_mail %}
        <a href="mailto:{{ self.contact_mail }}"
           class="grid-12 margin-top-1 display-block"
           title="E-Mail schreiben">
          <i class="grid-12__col-1 icon-envelope" aria-hidden="true"></i>
          <span class="grid-12__col-11">{{ self.contact_mail }}</span>
        </a>
        {% endif %}

        {% if self.contact_phone %}
        <a href="{{ self.contact_phone.as_rfc3966 }}"
           class="grid-12 margin-top-1 display-block"
           title="Anrufen">
          <i class="grid-12__col-1 icon-phone" aria-hidden="true"></i>
          <span class="grid-12__col-11">{{ self.contact_phone|prettyphone }}</span>
        </a>
        {% endif %}

      </div>
      {% endif %}

    </aside>

  </div>
</div>
{% endblock %}
