{% extends "core/__base.html" %}
{% load wagtailcore_tags wagtailimages_tags srcset humanize stuff render_partial %}
{% load static from staticfiles %}

{% block content %}
<main class="max-w-screen-lg mx-auto mt-10">
  <div class="mx-4">

    <h1 class="leading-tighter text-green-500 text-2xl xl:text-4xl font-bold mt-0 mb-5 lg:mb-10">
      {% if self.heading %}
        {{ self.heading }}
      {% else %}
        {{ self.title }}
      {% endif %}
    </h1>

    {% if countrywide_projects %}
      <h2 id="projekte-des-landesbueros" class="text-base md:text-xl mb-2 mt-5 md:mb-5 md:mt-16 text-gray-700">Projekte des Landesbüros</h2>
      <div class="flex flex-wrap items-start justify-start -mx-1 xl:-mx-8">
        {% for group in countrywide_projects %}
          {% include "core/_group.html" with counter=forloop.revcounter %}
        {% endfor %}
      </div>
    {% endif %}

    {% if groups %}
      <h2 id="mitglieder-und-projektgruppen" class="text-base md:text-xl mb-2 mt-5 md:mb-5 md:mt-16 text-gray-700">Mitglieder und Projektgruppen</h2>
      <div class="flex flex-wrap items-start justify-start -mx-1 xl:-mx-8">
        {% for group in groups %}
          {% include "core/_group.html" with counter=forloop.revcounter  %}
        {% endfor %}
      </div>
    {% endif %}

    {% if other_projects %}
      <h2 id="projekte-von-janun-mitgliedsgruppen" class="text-base md:text-xl mb-2 mt-5 md:mb-5 md:mt-16 text-gray-700">Projekte von JANUN-Mitgliedsgruppen</h2>
      <div class="flex flex-wrap items-start justify-start -mx-1 xl:-mx-8">
        {% for group in other_projects %}
          {% include "core/_group.html" with counter=forloop.revcounter  %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</main>
{% endblock %}
