{% extends "core/__base.html" %}
{% load wagtailcore_tags wagtailimages_tags srcset humanize stuff %}
{% load static from staticfiles %}
{% load render_partial %}


{% block body_class %}person-index-page{% endblock %}

{% block content %}


  <div class="pageheader">
    <h1>Netzwerk und Projektgruppen</h1>
    <img class="pageheader__image" src="{% static 'core/images/projekte-1.png' %}" alt="" >
  </div>

  {% if countrywide_projects %}
    <div class="center-container">
      <h2 class="area-title area-title--centered">Landesweite Projekte</h2>
      <div class="card-grid">
        {% for project in countrywide_projects %}
          {% render_partial project %}
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if groups %}
    <div class="center-container">
      <h2 class="area-title area-title--centered">Mitglieder und Projektgruppen</h2>
      <div class="card-grid">
        {% for group in groups %}
          {% render_partial group %}
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if other_projects %}
    <div class="center-container">
      <h2 class="area-title area-title--centered">Projekte von JANUN-Mitgliedsgruppen</h2>
      <div class="card-grid">
        {% for project in other_projects %}
          {% render_partial project %}
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if not groups and not other_projects and not countrywide_projects %}
    <div class="container padding-top-6 padding-bottom-5">
      <i class="icon-present color-green" style="font-size: 7rem" aria-hidden="true"></i>
      <div class="margin-bottom-3 margin-top-4 big-font">
      <div class="color-green">Ein Geschenk für Dich.</div>
        <div>Gruppen und Projekte, die wir zeigen könnten, gibt es aber leider keine.</div>
      </div>
      <span><a class="color-green" href="/admin/">Du kannst das ändern.</a></span>
    </div>
  {% endif %}

{% endblock %}
