{% extends "core/__base.html" %}
{% load wagtailcore_tags stuff %}

{% block content %}
<main class="max-w-screen-lg mx-auto mt-8 md:mt-10 px-4">

  <header class="my-8 md:my-16 max-w-2xl mx-auto text-center">
    <h1 class="md:leading-tighter text-green-500 text-2xl md:text-3xl font-bold mt-0 mb-2 lg:mb-4">
      {% if self.heading %}
        {% highlight self.heading self.highlight_in_heading "text-purple" %}
      {% else %}
        {{ self.title }}
      {% endif %}
    </h1>
    {% if self.subtitle %}
      <h2 class="text-base text-gray-700 md:text-xl">{{ self.subtitle }}</h2>
    {% endif %}
  </header>



  {% if countrywide_projects %}
    <h2 id="projekte-des-landesbueros" class="text-base mb-2 text-gray-700">Projekte des Landesbüros</h2>
    <div class="flex flex-wrap items-start justify-start -mx-1 xl:-mx-8 mb-8 md:mb-16 xl:mb-24">
      {% for group in countrywide_projects %}
        {% include "core/_group.html" with counter=forloop.revcounter %}
      {% endfor %}
    </div>
  {% endif %}

  {% if groups %}
    <h2 id="mitglieder-und-projektgruppen" class="text-base mb-2 text-gray-700">Mitglieder und Projektgruppen</h2>
    <div class="flex flex-wrap items-start justify-start -mx-1 xl:-mx-8 mb-8 md:mb-16 xl:mb-24">
      {% for group in groups %}
        {% include "core/_group.html" with counter=forloop.revcounter  %}
      {% endfor %}
    </div>
  {% endif %}

  {% if other_projects %}
    <h2 id="projekte-von-janun-mitgliedsgruppen" class="text-base mb-2 text-gray-700">Projekte von JANUN-Mitgliedsgruppen</h2>
    <div class="flex flex-wrap items-start justify-start -mx-1 xl:-mx-8 mb-8 md:mb-16 xl:mb-24">
      {% for group in other_projects %}
        {% include "core/_group.html" with counter=forloop.revcounter  %}
      {% endfor %}
    </div>
  {% endif %}
</main>
{% endblock %}
