{% extends "core/__base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static from staticfiles %}
{% load srcset %}
{% load stuff %}
{% load render_partial %}


{% block body_class %}template-homepage{% endblock %}

{% block content %}

  <div class="margin-top-3">

    {% if highlights %}
      <div class="clear-after">
        <div class="card-grid clear-after">
          {% for highlight in highlights %}
            {% render_partial highlight.highlighted_page.specific %}
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% if upcoming_events %}
      <h2 class="container area-title">Nächste Veranstaltungen</h2>
      <div class="clear-after">
        <div class="card-grid clear-after">
          {% for event in upcoming_events %}
            {% render_partial event %}
          {% endfor %}
          {% if more_upcoming_events %}
            <a class="button button--filled color-orange float-right"
               href="/veranstaltungen">mehr Veranstaltungen…</a>
          {% endif %}
        </div>
      </div>
    {% endif %}


    {% if articles %}
      <h2 class="area-title container">Letzte Neuigkeiten</h2>
      <div class="clear-after">
        <div class="card-grid clear-after">
          {% for article in articles %}
            {% include "core/_article.html" %}
          {% endfor %}
        </div>
        {% if more_articles %}
          <a class="button button--filled color-orange float-right"
             href="/artikel">mehr Artikel…</a>
        {% endif %}
      </div>
    {% endif %}


  </div>

{% endblock %}
