{% extends "core/__base.html" %}

{% load wagtailcore_tags %}
{% load static from staticfiles %}


{% block body_class %}template-homepage{% endblock %}

{# navbar should be transparent #}
{% block top %}
  {% include "core/_navbar.html" with navbar_class="navbar--green" %}
{% endblock %}


{% block content %}
  {# show header #}
  {# include 'core/_header.html' #}


  <div class="container-dis margin-top-2-dis">
    {% include 'core/_hero.html' %}
  </div>

  <!-- <div class="template-homepage__menu margin-top-3">
    <div class="template-homepage__menu-inner">
      <ul class="menu">
        <li class="menu__item"><a href="#">Mobilität</a></li>
        <li class="menu__item"><a href="#">Flucht</a></li>
        <li class="menu__item"><a href="#">Umwelt &amp; Natur</a></li>
      </ul>
    </div>
  </div> -->


  <div class="container margin-top-4">

    <!-- <h2 class="area-title">
      <span class="area-title__inner color-red">Highlights</span>
    </h2> -->

    <div class="grid-12">
      {% for event in highlights %}
        <div class="grid-12__col-4@medium">
          {% include 'events/_event_partial.html' %}
        </div>
      {% endfor %}
    </div>



    <h2 class="area-title js-sticky@medium">
      <span class="area-title__inner color-blue">Veranstaltungen</span>
    </h2>

    <div class="grid-12">
      {% for event in events %}
        <div class="grid-12__col-4@medium">
          {% include 'events/_event_partial.html' %}
        </div>
      {% endfor %}
    </div>
  </div>

</div>


{% endblock %}
