{% extends "core/__base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static from staticfiles %}
{% load srcset %}
{% load stuff %}
{% load render_partial %}


{% block body_class %}template-homepage{% endblock %}

{% block content %}
  {% include "core/_header.html" %}

  <div class="center-container">

    {% if highlights %}
      <div class="clear-after">
        <h2 class="area-title area-title--centered">Aktuelle Highlights</h2>
        <div class="card-grid card-grid--center-one">
          {% with "green" as card_color %}
            {% for highlight in highlights %}
              {% render_partial highlight.highlighted_page.specific %}
            {% endfor %}
          {% endwith %}
        </div>
      </div>
    {% endif %}

    {% if upcoming_events %}
      <div class="clear-after">
        <h2 class="area-title area-title--centered">Nächste Veranstaltungen</h2>
        <div class="card-grid card-grid--center-one">
          {% for event in upcoming_events %}
            {% render_partial event %}
          {% endfor %}
          {% if more_upcoming_events %}
            <a class="float-right" href="/veranstaltungen">mehr Veranstaltungen…</a>
          {% endif %}
        </div>
      </div>
    {% endif %}

    {% if articles %}
      <h2 class="area-title area-title--centered container">Letzte Neuigkeiten</h2>
      <div class="clear-after">
        <div class="card-grid card-grid--center-one">
          {% for article in articles %}
            {% render_partial article %}
          {% endfor %}
        </div>
        {% if more_articles %}
          <a class="float-right"
             href="/artikel">mehr Artikel…</a>
        {% endif %}
      </div>
    {% endif %}


  </div>

{% endblock %}
