{% extends "base.html" %}
{% load static janun_tags wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block top %}
  {% get_site_root as site_root %}
  {% navbar parent=site_root calling_page=self transparent=True fixed=False %}

  <div style="padding: 64px 0; background: green; margin-bottom: 40px; color: white">
    <div class="container">
    <h1>Suchergebnisse</h1>
    {% if search_query %}
      Sie haben gesucht nach: "{{search_query}}"<br>
    {% endif %}
  </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container">

    {% if search_results %}
      <div class="panel-container">
        {% for result in search_results %}
          {% include "core/_article.html" with short=True article=result %}
        {% endfor %}
      </div>

        {% if search_results.has_previous %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
        {% endif %}

        {% if search_results.has_next %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
        {% endif %}
    {% elif search_query %}
      Leider nichts gefunden.
    {% endif %}

  </div>
{% endblock %}
