{% extends "core/__base.html" %}
{% load wagtailcore_tags %}
{% load static from staticfiles %}

{% block body_class %}template-search{% endblock %}

{% block title %}Search{% endblock %}


{% block content %}
  <div class="container">

    {% if search_results %}
    <main>
      <h2 class="area-title">Suchergebnisse</h2>
      <div class="grid grid--of-3">
        {% for object in search_results %}
          <div class="grid__element">
            {% include object.partial_template_name %}
          </div>
        {% endfor %}
      </div>
    </main>

        {% if search_results.has_previous %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
        {% endif %}

        {% if search_results.has_next %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
        {% endif %}
    {% elif search_query %}
      Leider nichts gefunden.
    {% endif %}

  </div>
{% endblock %}
