{% load staticfiles %}

<div class="navbar-container transparent fixed">
  <nav class="navbar" role="navigation">

    <a class="logo" href="/"><img width="37" height="36" alt="JANUN Logo" src="{% static 'janunde_styleguide/images/components/navbar/janun_logo.svg' %}"></a>
    <a class="title" href="/">JANUN</a>
    <button class="menu-toggle collapsed" type="button" title="Menü ein-/ausblenden" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"><span class="hamburger"></span></button>

    <div class="collapse" id="navbar-collapse">
      <ul class="navbar-menu">
        <li><a href="/aktuelles">Aktuelles</a></li>

        <li class="dropdown">
          <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Über uns</a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Selbstverständnis</a></li>
            <li><a href="#">Themen</a></li>
            <li><a href="#">Geschichte</a></li>
            <li><a href="#">Struktur</a></li>
            <li><a href="#">Grundsätze</a></li>
            <li><a href="#">Satzung</a></li>
            <li><a href="#">Jobs</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Netzwerk &amp; Projekte</a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Gemeinschaftsgärtnerei Acker Pella</a></li>
            <li><a href="#">Landesjugendbüro Hannover</a></li>
            <li><a href="#">Jugendumweltbüro Hannover</a></li>
            <li><a href="#">Kampagnenbüro Braunschweig</a></li>
            <li><a href="#">Lüneburg</a></li>
          </ul>
        </li>
        <li><a href="#">Angebote</a></li>
        <li><a href="#">Veranstaltungen</a></li>
        <li><a href="#">Kontakt</a></li>
      </ul>
    </div>


  </nav>
</div>
