{% extends "statistic/base.html" %}
{% block tabs %}
  <ul style="padding: 0; display:flex; list-style:none ">
    <li style="margin:5px"><a href="{% url 'statistic' %}">Übersicht</a></li>
    <li style="margin:5px; font-weight:bold"><a href="{% url 'statistic_browse' %}">Durchsuchen</a></li>
  </ul>
{% endblock %}

{% block results %}

<div class="panel">
    <form style="display: flex; align-items:baseline; justify-content:space-between" method="get">
        {{ filter.form.as_p }}
        <a href="{% url 'statistic_browse' %}" class="button text-replace icon icon-cross">Reset</a>
        <button type="submit" class="button">Filter</button>
    </form>
</div>

<table class="listing">
  <thead>
    <td>Zeitpunkt</td>
    <td>Seite</td>
    <td>Status</td>
    <td>Herkunft</td>
    <td>Browser</td>
  </thead>
  <tbody>
    {% for request in requests %}
      <tr>
        <td>{{ request.time }}</td>
        <td>{{ request.path }}</td>
        <td>{{ request.response }} {{ request.get_response_display }}</td>
        <td>{{ request.referer|default:"-" }}</td>
        <td>{{ request.browser|default:"-" }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<nav class="pagination" aria-label="Seitennummerierung">
  <p>
    Seite {{ page_obj.number }} von {{ page_obj.paginator.num_pages }}
  </p>
  <ul>
    {% if requests.has_previous %}
      <li class="prev">  
        <a href="?page={{ requests.previous_page_number }}" class="icon icon-arrow-left ">Vorherige</a>
      </li>
    {% endif %}
    {% if requests.has_next %}
    <li class="next">       
      <a href="?page={{ requests.next_page_number }}" class="icon icon-arrow-right-after ">Nächste</a>   
    </li>
    {% endif %}
  </ul>
</nav>
{% endblock %}