{% extends "statistic/base.html" %}
{% block tabs %}
  <ul style="padding: 0; display:flex; list-style:none ">
    <li style="margin:5px"><a href="{% url 'statistic' %}">Übersicht</a></li>
    <li style="margin:5px; font-weight:bold"><a href="{% url 'statistic_browse' %}">Durchsuchen</a></li>
  </ul>
{% endblock %}

{% block results %}

<div class="panel">
    <form style="display: flex; align-items:baseline; justify-content:space-between" method="get">
        {{ filter.form.as_p }}
        <a href="{% url 'statistic_browse' %}" class="button text-replace icon icon-cross">Reset</a>
        <button type="submit" class="button">Filter</button>
    </form>
</div>

<div class="panel">
    <span style="font-weight:bold">{{ paginator.count }} Aufrufe</span> für die Filterkriterien gefunden.
</div>

<div style="overflow:auto">
  <table class="listing">
    <thead>
      <td>Zeitpunkt</td>
      <td>Seite</td>
      <td>Status</td>
      <td>Herkunft</td>
      <td>Browser</td>
      <td>Eingeloggt</td>
    </thead>
    <tbody>
      {% for request in requests %}
        <tr>
          <td>{{ request.time }}</td>
          <td><a title="Seite öffnen" href="{{ request.path }}">{{ request.path|truncatechars:50 }}</a> <a href="{% url 'statistic_browse' %}?path={{ request.path }}" title="Nach Seite filtern" class="icon icon-search"></a></td>
          <td>{{ request.response }} {{ request.get_response_display }}</td>
          <td><a title="Referer öffnen" href="{{ request.referer }}">{{ request.referer|truncatechars:50|default:"-" }}</a> {% if request.referer %}<a href="{% url 'statistic_browse' %}?referer={{ request.referer }}" title="Nach Referer filtern" class="icon icon-search"></a>{% endif %}</td>
          <td><span title="{{ request.user_agent }}">{{ request.browser|default:"-" }}</span></td>
          <td>{{ request.user|default:"-" }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<nav class="pagination" aria-label="Seitennummerierung">
  <p>
    Seite {{ page_obj.number }} von {{ page_obj.paginator.num_pages }}
  </p>
  <ul>
    {% if page_obj.has_previous %}
      <li class="prev">  
        <a href="?page={{ page_obj.previous_page_number }}" class="icon icon-arrow-left ">Vorherige</a>
      </li>
    {% endif %}
    {% if page_obj.has_next %}
    <li class="next">       
      <a href="?page={{ page_obj.next_page_number }}" class="icon icon-arrow-right-after ">Nächste</a>   
    </li>
    {% endif %}
  </ul>
</nav>
{% endblock %}