{% extends "statistic/base.html" %}
{% load wagtailadmin_tags i18n %}

{% block tabs %}
  <ul style="padding: 0; display:flex; list-style:none ">
    <li style="margin:5px; font-weight:bold"><a href="{% url 'statistic' %}">Übersicht</a></li>
    <li style="margin:5px"><a href="{% url 'statistic_browse' %}">Durchsuchen</a></li>
  </ul>
{% endblock %}

{% block results %}
<div class="panel summary">
  <section>
    <h2 style="margin-left: 20px">Besuche</h2>
    <ul class="stats">
      <li>
        <span>{{ visits_today }}</span> heute
      </li>
      <li>
        <span>{{ visits_this_week }}</span> diese Woche
      </li>
      <li>
        <span>{{ visits_this_month }}</span> diesen Monat
      </li>
    </ul>
  </section>
</div>

<div class="panel">
  <script src="https://cdn.jsdelivr.net/npm/vega@5.9.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@4.0.2"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.2.1"></script>
  <script type="application/javascript">
      vegaEmbed('#plot', '{% url 'statistic_plot' %}');
  </script>

  <div style="width: 100%" id="plot"></div>

  <style>
  #plot canvas {
    max-width: 100%!important;
    height: auto!important;
  }
  </style>
</div>


<div class="panel">
  <section>
    <h2>Top Seiten</h2>
    <p>Welche Seiten haben am meisten Aufrufe?</p>
    <table class="listing">
      <thead>
        <td>Seite</td>
        <td>Aufrufe</td>
      </thead>
      <tbody>
        {% for path in top_paths %}
          <tr>
            <td><a href="{% url 'statistic_browse' %}?path={{ path.path }}">{{ path.path }}</a></td>
            <td>{{ path.path__count }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>



<div class="panel">
  <section>
    <h2>Top externe Herkünfte:</h2>
    <p>Auf welchen Seiten haben Besucher einen Link geklickt?</p>
    <table class="listing">
      <thead>
        <td>Herkunft</td>
        <td>Aufrufe</td>
      </thead>
      <tbody>
        {% for path in top_referers %}
          <tr>
            <td><a href="{% url 'statistic_browse' %}?referer={{ path.referer }}">{{ path.referer|truncatechars:50 }}</a></td>
            <td>{{ path.referer__count }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>


<div class="panel">
  <section>
    <h2>Top Fehler:</h2>
    <p>Auf welchen Seiten mit Fehler passieren die meisten Aufrufe?</p>
    <table class="listing">
      <thead>
        <td>Seite</td>
        <td>Aufrufe</td>
        <td>Fehler</td>
      </thead>
      <tbody>
        {% for path in top_error_paths %}
          <tr>
            <td><a href="{% url 'statistic_browse' %}?path={{ path.path }}">{{ path.path }}</a></td>
            <td>{{ path.path__count }}</td>
            <td>{{ path.response }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>

{% endblock %}