{% extends "core/__base.html" %}
{% load wagtailcore_tags stuff %}
{% load static from staticfiles %}

{% block body_class %}template-error{% endblock %}
{% block title %}404. Seite nicht gefunden.{% endblock %}

{% block content %}
<div class="container">
  <div class="text-container">

    <h1>
      <div class="template-error__emotion">
        Sorry,
      </div>
      Seite nicht gefunden!
    </h1>

    <div class="text-align-center">
      <p>Vielleicht findest Du was Du suchst, über unsere Suche?</p>
      <form action="/search">
        <input name="query" type="search" autofocus
               class="template-error__searchinput"
             placeholder="Suchbegriff" value="{{ request.path|pathtosearch }}">
        <input type="submit"
          class="button button--filled color-green template-error__searchsubmit"
          value="Suche">
      </form>
    </div>

  </div>
</div>
{% endblock %}

{# dont show footer #}
{% block footer %}
{% endblock %}
