{% extends "core/__base.html" %}
{% load wagtailcore_tags stuff %}
{% load static from staticfiles %}

{% block body_class %}template-error{% endblock %}
{% block title %}404. Seite nicht gefunden.{% endblock %}

{% block content %}
<div class="container">
  <div class="text-container">

    <h1>
      <div class="template-error__emotion">
        Sorry,
      </div>
      Seite nicht gefunden!
    </h1>

    <div class="text-align-center">
      <p>Offenbar suchst du nach »{{ request.path }}«.</p>
      <p>Probier doch Folgendes:</p>

      <a class="button button--filled color-green" href="{% url 'search' %}?q={{ request.path|pathtosearch }}">Suche</a><br>
      <a class="button button--filled color-green" href="/">Startseite</a><br>
      <!-- TODO: only show if not 404 for old page? -->
      <a class="button color-orange" href="http://alt.janun.de{{ request.path }}">alte Website probieren</a><br>
    </div>


  </div>
</div>
{% endblock %}

{# dont show footer #}
{% block footer %}
{% endblock %}
