{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load static from staticfiles %}


{% block body_class %}template-404{% endblock %}
{% block title %}404. Seite nicht gefunden.{% endblock %}

{# overwrite the default navbar with a transparent navbar and header #}
{% block top %}
  {% include "core/_navbar.html" with navbar_class="navbar--transparent navbar--fixed" %}

  <header class="header">
    <div id="header-video">
      <video autoplay loop poster="{% static 'core/images/header-poster.jpg' %}">
        <source src="{% static 'core/videos/header-video.mp4' %}" type="video/mp4" />
        <source src="{% static 'core/videos/header-video.webm' %}" type="video/webm" />
      </video>
    </div>
    <div class="content">
      <h1>404. Seite nicht gefunden.</h1>
      <p>Die Seite, die Du aufrufen wolltest, gibt es nicht.</p>
      <p>Vielleicht findest Du sie mit der Suche:</p>
      <form class="search" action="/search/" method="get">
          <input type="search" name="query" placeholder="Suche">
      </form>
    </div>
  </header>
{% endblock %}

{# dont show footer #}
{% block footer %}
{% endblock %}
