{% extends "core/__base.html" %}
{% load wagtailcore_tags %}
{% load static from staticfiles %}

{% block body_class %}template-error{% endblock %}
{% block title %}500. Ein Fehler ist aufgetreten.{% endblock %}

{% block content %}
<div class="container">
  <div class="text-container">

    <h1>
      <div class="template-error__emotion">
        Oh nein!
      </div>
      Bei uns ist irgendwas kaputt.
      <div class="template-error__sorry">Das tut uns leid!</div>
    </h1>


    <div class="block-paragraph">
      <p>
        Ein Fehler ist auf unserem Server aufgetreten.<br>
        Das ist <strong>nicht deine Schuld</strong>, sondern unsere.
      </p><br>
    </div>

    <div class="text-align-center">
      <a href="" class="button button--filled color-green">
        <i class="icon-refresh"></i>
        nochmal laden
      </a><br>
      <a href="/" class="button color-green">
        zur Startseite
      </a><br>
      <a href="mailto:admin@janun.de?subject=Fehler 500 {{ request.get_full_path }}"
         class="display-block padding-half">
        E-Mail schreiben
      </a>
    </div>

  </div>
</div>
{% endblock %}

{# dont show footer #}
{% block footer %}
{% endblock %}
