{% load static from staticfiles %}

<!DOCTYPE html>
<html class="no-js" lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="theme-color" content="rgb(70, 187, 0)">
    <title>500. Ein Fehler ist aufgetreten. - JANUN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block css %}
      <link rel="stylesheet" type="text/x-scss" href="{% static "core/css/all.css" %}" />
    {% endblock %}
  </head>

  <body>

    <!-- bogus navbar -->
    <div class="navbar navbar--green navbar--transparent navbar--absolute">
      <nav class="navbar__inner" role="navigation" aria-label="Hauptmenü">
        <a class="navbar__item" href="/">
          <img class="navbar__logo"
               alt="JANUN Logo"
               src="{% static 'core/images/components/navbar/janun_logo.svg' %}">
        </a>
        <a href="/" class="navbar__item">
          JANUN
        </a>
      </nav>
    </div>

    <header class="header" style="background: rgba(196, 23, 55, 0.6);">
      <div class="video-background">
        <video class="video-background__video js-mq-video-loader hide@no-js hide@until-medium" autoplay loop poster="{% static 'core/images/header-poster/header-poster-1024.jpg' %}">
          <source media="(min-device-width: 1280px)" data-src="{% static 'core/videos/header-video/header-video-1280.mp4' %}" type="video/mp4">
          <source media="(min-device-width: 1280px)" data-src="{% static 'core/videos/header-video/header-video-1280.webm' %}" type="video/webm">
          <source media="(min-device-width: 1024px) and (max-device-width: 1279px)" data-src="{% static 'core/videos/header-video/header-video-1024.mp4' %}" type="video/mp4">
          <source media="(min-device-width: 1024px) and (max-device-width: 1279px)" data-src="{% static 'core/videos/header-video/header-video-1024.webm' %}" type="video/webm">
        </video>
      </div>
      <div class="header__content">
        <h1>500. Ein Fehler ist aufgetreten.</h1>
        <p>
          Es tut uns leid:
          Ein Fehler ist auf der Website aufgetreten.
          Versuche es später nochmal.
        </p>
      </div>
    </header>

  </body>
</html>
