.center-container {
  margin-left: auto;
  margin-right: auto;
  width: rem-calc(300px);

  @include above(rem-calc(660px)) {
    width: rem-calc(630px);
  }

  @include above(rem-calc(990px)) {
    width: rem-calc(960px);
  }
}
