@mixin container($width: rem-calc(960)) {
  margin-left: 1rem;
  margin-right: 1rem;

  @include above($width) {
    max-width: $width;
    margin-left: auto;
    margin-right: auto;
  }

  &--margin-top {
    margin-top: 2rem;
    @include above($medium) {
      margin-top: 3rem;
    }
  }

}

.container {
  @include container;
}


.text-container {
  @include container(rem-calc(640));
}
