@mixin container($width: rem-calc(960)) {
  margin-left: 1.5rem;
  margin-right: 1.5rem;

  @include above($width) {
    max-width: $width;
    margin-left: auto;
    margin-right: auto;
  }

}

.container {
  @include container;
}


.text-container {
  @include container(rem-calc(640));
}
