// fixed width grid library
// it is very easy to define new grids...
// follows BEM-naming

// row mixin
//
// * removes outer left and right margins
// * clears the floats of the columns
@mixin fixedrow($gutter: rem-calc(20)) {
  margin-left: -$gutter/2;
  margin-right: -$gutter/2;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// column mixin
//
// * is just 100% on mobile
// * is col / sum wide on 960px or higher
@mixin fixedcol($col, $sum, $gutter: rem-calc(20)) {
  width: 100%;
  padding-left: $gutter/2;
  padding-right: $gutter/2;

  @media only screen and (min-width: rem-calc(960)) {
    width: $col / $sum * rem-calc(960);
    //float: left;
  }
}


@mixin fixedoffset($col, $sum) {
  margin-left: $col / $sum * rem-calc(960);
}

// fluid 12 column grid
//
// @example markup:
// <div class="grid-12">
//   <div class="grid-12__col-6">...</div>
//   <div class="grid-12__col-6">...</div>
// </div>
.fixed-grid-12 {
  @include fixedrow;
  @for $i from 1 through 12 {
    &__col-#{$i} {
      @include fixedcol($i, 12)
    }
  }
  @for $i from 1 through 12 {
    &__offset-#{$i} {
      @include fixedoffset($i, 12)
    }
  }
}
