$flex-grid-margin: rem-calc(10px);

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;

  @include above($large) {
    justify-content: space-between;
    margin-left: - $flex-grid-margin;
    margin-right: - $flex-grid-margin;

    & > * {
      margin-left: $flex-grid-margin;
      margin-right: $flex-grid-margin;
    }

  }

}
