// float based grid library
// it is very easy to define new grids...
// follows BEM-naming

// row mixin
//
// * removes outer left and right margins
// * clears the floats of the columns
@mixin row($gutter: 1.25rem) {
  margin-left: -$gutter/2;
  margin-right: -$gutter/2;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// column mixin
//
// * is just 100% on mobile
// * is col / sum wide on 960px or higher
@mixin col($col, $sum, $gutter: 1.25rem) {
  width: 100%;
  padding-left: $gutter/2;
  padding-right: $gutter/2;

  @media only screen and (min-width: rem-calc(960)) {
    width: percentage($col / $sum);
    float: left;
  }
}

// 12 column grid
//
// @example markup:
// <div class="grid-12">
//   <div class="grid-12__col-6">...</div>
//   <div class="grid-12__col-6">...</div>
// </div>
.grid-12 {
  @include row;
  @for $i from 1 through 12 {
    &__col-#{$i} {
      @include col($i, 12)
    }
  }
}
