$gutter: 1.25rem;

// fluid 12 column grid
//
// @example markup:
// <div class="grid-12">
//   <div class="grid-12__col-6">...</div>
//   <div class="grid-12__col-6">...</div>
// </div>
.grid-12 {
  margin-left: -$gutter/2;
  margin-right: -$gutter/2;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  @for $i from 1 through 12 {
    &__col-#{$i} {
      float: left;
      padding-left: $gutter/2;
      padding-right: $gutter/2;
      width: percentage($i / 12);
    }
  }

  @for $i from 1 through 12 {
    &__offset-#{$i} {
      margin-left: percentage($i / 12);
    }
  }

  @for $i from 1 through 12 {
    &__col-#{$i}\@medium {
      float: left;
      padding-left: $gutter/2;
      padding-right: $gutter/2;
      @include above($medium) {
        width: percentage($i / 12);
      }
    }
  }
}
