{% extends "wagtailimages/images/index.html" %}
{% load wagtailimages_tags %}
{% load i18n %}


{% block content %}
    {% trans "Images" as im_str %}

    {% if user_can_add %}
        {% trans "Add an image" as add_img_str %}
        {% include "wagtailadmin/shared/header.html" with title=im_str add_link="wagtailimages:add_multiple" icon="image" add_text=add_img_str search_url="wagtailimages:index" %}
    {% else %}
        {% include "wagtailadmin/shared/header.html" with title=im_str icon="image" search_url="wagtailimages:index" %}
    {% endif %}

    <div class="nice-padding">
        {% if collections %}
            <form class="col12 image-search search-bar" action="{% url 'wagtailimages:index' %}" method="GET" novalidate>
                <ul class="fields col9">
                    {% include "wagtailadmin/shared/collection_chooser.html" %}
                </ul>
                <div class="col3"><a class="button" href="{% url 'wagtailadmin_collections:add' %}">Sammlung erstellen</a></div>
            </form>
        {% endif %}

        <div id="image-results">
            {% include "wagtailimages/images/results.html" %}
        </div>
    </div>

{% endblock %}
