/**
 * Banner to be shown on top of the beta page
 * @atom betabanner
 * @markup
 *   <div class="betabanner">
 *     <div class="betabanner__inner">
 *        Text im betabanner
 *        <a href="#" class="betabanner__close float-right">×</a>
 *        <a href="#">Link</a>
 *     </div>
 *   </div>
 */
.betabanner {
  background-color: $white;

  &__inner {
    @include container;
    @include until($medium) {
      font-size: rem-calc(14);
    }

    padding-top: rem-calc(18);
    padding-bottom: rem-calc(18);
    @include above($medium) {
      padding-top: rem-calc(22);
      padding-bottom: rem-calc(22);
    }
    color: $red;

    a {
      color: $red;
      text-decoration: underline;
    }
  }

  &__close {
    line-height: 1rem;
    font-size: 2rem;
    text-decoration: none !important;
    margin-left: 1rem;
    padding: 0 0.5rem;
  }
}
