.big-search {
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;

  &:before {
    @extend .icon-magnifier;
    color: $white;
    font-size: 30px;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;

    @include above($medium) {
      font-size: 40px;
    }
  }

  &__input {
    position: relative;
    font-size: 28px;
    font-weight: bold;
    background-color: transparent;
    appearance: none;
    border: none;
    border-bottom: rem-calc(2) solid $search-color;
    color: $search-color;
    border-radius: 0;
    padding-left: 40px;
    width: 100%;

    @include above($medium) {
      font-size: 39px;
      padding-left: 50px;
    }

    @include above($large) {
      border-bottom-width: rem-calc(4);
    }


    &::-webkit-search-cancel-button {
      display: none;
    }

    &:-webkit-autofill {
      background-color: $white !important;
      color: $brown;
    }

    &:placeholder-shown {
      border-bottom-color: $search-placeholder-color;
    }

    &::placeholder {
      color: $search-placeholder-color;
    }

    &:focus {
      outline: none;
      border-bottom-color: $search-focus-color;
    }
  }
}
