$bigcard-padding: rem-calc(20px);
$bigcard-border-radius: rem-calc(5px);
$bigcard-width: rem-calc(300px);
$bigcard-height: rem-calc(390px);
$bigcard-image-height: rem-calc(150px);

$bigcard-background: $white;
$bigcard-text-color: $grey;
$bigcard-hover-text-color: $brown;
$bigcard-title-color: $brown;
$bigcard-color-text-color: $white;
$bigcard-color-hover-text-color: darken($bigcard-color-text-color, 20%);
$bigcard-color-title-color: $white;

$related-group-size: rem-calc(70px);


.related-group {
  a {
    position: relative;
    color: $bigcard-text-color;

    &:hover {
      color: $bigcard-hover-text-color;
    }
  }

  &__image-wrapper {
    background-color: $bigcard-background;
    width: $related-group-size;
    height: $related-group-size;
    border-radius: 50%;
    border: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.146 * $related-group-size;
    z-index: 10;
    @include shadow(1);

    &:hover {
      @include above($large) {
        @include shadow(2);
        z-index: 10;
      }
    }
  }

  &__image {
    max-width: 0.707 * $related-group-size;
    max-height: 0.707 * $related-group-size;
  }

  &__name {
    position: relative;
    display: block;
    text-align: center;
    font-size: rem-calc(14px);
    font-weight: normal;
    margin-bottom: rem-calc(5px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


/**
 * @example
 *   <div class="bigcard">
 *   </div>
 */
.bigcard {
  position: relative;
  background-color: $bigcard-background;
  width: $bigcard-width;
  height: $bigcard-height;
  margin-bottom: 2*$card-grid-margin;
  border-radius: $bigcard-border-radius;
  @include shadow(1);
  transition: box-shadow 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: $bigcard-text-color;
  font-family: $font-family-sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: rem-calc(20px);
  line-height: rem-calc(30px);

  &__inner {
    overflow: hidden;
    border-radius: $bigcard-border-radius;
  }

  a {
    position: relative;
    color: $bigcard-text-color;

    &:hover {
      color: $bigcard-hover-text-color;
    }
  }

  @include above($large) {
    &:hover {
      @include shadow(2);
    }
  }


  &--color {
    color: $bigcard-color-text-color;
    a {
      color: $bigcard-color-text-color;
      &:hover {
        color: $bigcard-color-hover-text-color;
      }
    }

    @each $color, $value in $colors {
      &-#{$color} {
        background-color: $value;
      }
    }
  }


  &__image, &__image-placeholder {
    position: relative;
    height: $bigcard-image-height;
    width: 100%;
    background-color: $baige;
  }

  &__image-placeholder {
    @each $color, $value in $colors {
      &--color-#{$color} {
        background-color: $value;
      }
    }
  }


  &__content {
    padding: $bigcard-padding / 2 $bigcard-padding;
    height: $bigcard-height - $bigcard-image-height - rem-calc(30px) - rem-calc(30px);
    overflow: hidden;
    text-overflow: ellipsis;

    &--padding-top {
      padding-top: $related-group-size - rem-calc(32px);
    }
  }

  &__title {
    margin-bottom: 10px;
    margin-top: 0;
    font-size: rem-calc(28.28px);
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: rem-calc(70px);
    font-weight: bold;
    color: $bigcard-title-color;

    .bigcard--color & {
      color: $bigcard-color-title-color;
    }
  }

  &__subtitle {
    font-size: rem-calc(14px);
    font-weight: bold;
    margin-bottom: rem-calc(10px);
  }

  &__datetime {
    display: block;

    i {
      font-size: 16px;
    }
  }

  &__location {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    i {
      font-size: 16px;
    }
  }

  &__footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding: 0 $bigcard-padding;
    height: rem-calc(30px);
    line-height: rem-calc(30px);
    font-size: rem-calc(14px);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  &__secondary {
    font-size: rem-calc(14px);
    position: absolute;
    display: block;
    height: rem-calc(30px);
    line-height: rem-calc(30px);
  }

  &__tertiary-container {
    position: absolute;
    right: $bigcard-padding;
    width: rem-calc(60px);

    a {
      position: relative;
    }
  }

  &__related-group {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: $bigcard-image-height - $related-group-size * 3/4;
  }

  &__top-text {
    position: absolute;
    top: rem-calc(-24px);
    right: 0;
    font-size: rem-calc(14px);
    line-height: rem-calc(24px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    z-index: 10;
    color: $brown;
  }

  &__corner {
    position: absolute;
    top: 0;
    right: 0;
    width: rem-calc(40px);
    height: rem-calc(40px);
    background: $white;
    border-bottom-left-radius: $bigcard-border-radius;
    border-top-right-radius: $bigcard-border-radius;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: rem-calc(14px);
    z-index: 10;
    i { color: $brown; }
    @include shadow(1);
  }

  &__text {
    font-size: rem-calc(14px);
    text-align: left;
  }

  &__button {
    border-radius: rem-calc(2px);
    border: 1px solid $bigcard-text-color;
    font-size: rem-calc(16px);
    padding: rem-calc(0 10);

    &:hover {
      border-color: $bigcard-hover-text-color;
    }

    .bigcard--color & {
      border-color: $bigcard-color-text-color;
      &:hover {
        border-color: $bigcard-color-hover-text-color;
      }
    }
  }

}
