$bigcard-width: rem-calc(240px);

.bigcircle {
  margin: 40px;
  margin-top: 0;
  margin-bottom: 60px;
  width: $bigcard-width;
  height: rem-calc(330px);
  @supports (display: flex) {
    height: auto;
  }

  &__image-wrapper {
    position: relative;
    height: $bigcard-width;
    width: $bigcard-width;
    border-radius: 50%;
    overflow: hidden;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1/4 * (2-$SQRT2) * $bigcard-width;
    @include shadow(1);
    margin-bottom: rem-calc(10px);
    transition: box-shadow 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);

    .bigcircle:hover & {
      @include shadow(2);
    }
  }

  &__image {
    max-width: $SQRT2/2 * $bigcard-width;
    max-height: $SQRT2/2 * $bigcard-width;
  }

  &__text {
    text-align: center;
    color: $grey;
  }

  &__title {
    font-size: rem-calc(28px);
    color: $brown;
    font-weight: bold;
  }



}
