/**
 * Block on a page for a (file) attachment
 * @molecule attachment
 * @section blocks
 * @markup
 *   <div class="block-attachment">
 *     <span class="block-attachment__metadata">vom 23.3.2016, PDF</span>
 *     <h3 class="block-attachment__title">Formular</h3>
 *     <a class="block-attachment__button button button--filled color-green">Download</a>
 *   </div>
 */
.block-attachment {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;

  @extend .click-area;

  width: 100%;

  margin-top: rem-calc(40px);
  margin-bottom: rem-calc(30px);

  padding-left: rem-calc(44px);
  padding-right: rem-calc(28px);
  padding-top: rem-calc(38px);
  padding-bottom: rem-calc(38px);

  background-color: $white;
  box-shadow: rem-calc(0 1px 2px) rgba($black, 0.1);

  &:first-of-type {
    margin-top: 0;
  }

  // // wider than parent
  // .userim & {
  //   @include above(rem-calc(830px)) {
  //     width: rem-calc(830px);
  //     margin-left: rem-calc(-95px);
  //     margin-right: rem-calc(-95px);
  //   }
  // }

  // icon
  &:before {
    display: none;
    @include above($medium) {
      display: inline;
    }
    @extend .icon-arrow-down-circle;
    float: left;
    color: $green;
    font-size: rem-calc(45px);
    margin-right: rem-calc(32px);
  }

  &__data {
    margin-right: rem-calc(20px);
  }

  &__title {
    //display: inline-block;
    font-size: rem-calc(20px);
    line-height: 1.2;
    margin-top: rem-calc(5px);
    margin-bottom: 0;
  }

  &__metadata {
    font-size: rem-calc(12px);
    line-height: 1.2;
    color: $grey;

    @include above($medium) {
      font-size: rem-calc(16px);
    }

    // small icon on mobile
    &:before {
      @extend .icon-arrow-down-circle;
      float: left;
      color: $green;
      font-size: rem-calc(18px);
      margin-left: rem-calc(-24px);
      margin-right: rem-calc(8px);

      @include above($medium) {
        display: none;
      };
    }
  }

  &__button {
    margin-bottom: 0;
    margin-top: rem-calc(15px);

    @include above($medium) {
      margin-left: auto;
      margin-top: 0;
    }
  }

}
