.block-table {
  @include p;
  overflow-x: auto;
  margin-top: rem-calc(32px);
  margin-bottom: rem-calc(32px);

  &:first-of-type {
    margin-top: 0;
  }

  .userim & {
    position: relative;
    width: 100vw;
    left: calc( 50% - 50vw );

    @include above(rem-calc(830px)) {
      width: rem-calc(830px);
      left: inherit;
      right: inherit;
      margin-left: rem-calc(-95px);
      margin-right: rem-calc(-95px);
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    border: 1px solid $green;
  }

  thead {
    font-family: $font-family-sans-serif;
    font-weight: bold;

    th {
      padding: rem-calc(0 16px);
      @include above($medium) {
        padding: rem-calc(4 16px);
      }
    }
  }

  th {
    font-family: $font-family-sans-serif;
    font-weight: bold;
    background-color: $green;
    color: $white;
    padding: rem-calc(8 16px);
    @include above($medium) {
      padding: rem-calc(16 16px);
    }
  }

  td {
    vertical-align: text-top;
    padding: rem-calc(8 16px);
    @include above($medium) {
      padding: rem-calc(16 16px);
    }
  }

  tr:nth-child(even) {
    background-color: $silver;
  }

  tr:hover {
    background-color: darken($silver, 2.5%);
  }

}
