/**
 * Block image
 * inside .userim it uses the rim
 * @molecule image
 * @section blocks
 * @markup
 *   <div class="userim">
 *     <div class="block-image">
 *       <img class="block-image__image" src="@{image:1280:650}">
 *       <p class="block-image__caption">Caption</p>
 *       <p class="block-image__attribution">Attribution</p>
 *     </div>
 *     <div class="block-image">
 *       <picture>
 *         <img class="block-image__image block-image__image--full-width" src="@{image:1280:650}">
 *       </picture>
 *       <p class="block-image__caption">Caption</p>
 *       <p class="block-image__attribution">Attribution</p>
 *    </div>
 *  </div>
 */
.block-image {
  margin-bottom: rem-calc(20px);
  margin-top: rem-calc(20px);

  @include above($medium) {
    margin-bottom: rem-calc(40px);
    margin-top: rem-calc(40px);
  }

  &__image {
    width: 100%;
  }

  .userim &__image {
    width: 99.5vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    @include above(rem-calc(830px)) {
      width: rem-calc(830px);
      left: inherit;
      right: inherit;
      margin-left: rem-calc(-95px);
      margin-right: rem-calc(-95px);
    }

    &--full-width {
      width: 99.5vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
    }
  }


  &__caption {
    margin-top: rem-calc(6px);
    font-family: $font-family-serif;
    color: $brown;
    font-style: italic;
    font-size: rem-calc(14px);
    line-height: rem-calc(28px);

    @include above($medium) {
      margin-top: rem-calc(12px);
      font-size: rem-calc(18px);
      line-height: rem-calc(30.6);
    }
  }

  &__attribution {
    white-space: nowrap;
    font-family: $font-family-serif;
    color: $grey;
    font-style: normal;
    font-size: rem-calc(12px);
    line-height: rem-calc(28px);

    @include above($medium) {
      font-size: rem-calc(16px);
      line-height: rem-calc(30.6);
    }
  }

}
