$teaser-angle: -5deg;

.block-teaser {
  width: 100%;
  margin-bottom: 60px;
  overflow: hidden;
  padding: 30px;

  @include above($medium) {
    margin-top: 60px;
  }

  &__inner {
    backface-visibility: hidden;
    position: relative;
    width: 120%;
    left: -10%;
    overflow: hidden;
    min-height: 100px;
    padding: 50px;
    @media (min-height: 600px) {
      padding: 120px;
    }
    @media (min-height: 1200px) {
      padding: 140px;
    }
    transform: rotate($teaser-angle);

    // green overlay
    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 120%;
      height: 120%;
      background: rgba(18, 117, 0, 0.75);
      z-index: 10;
    }

    // fransig border
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -5%;
      right: 0;
      width: 110%;
      height: 100%;
      background: url(static("core/images/rand2.svg")), url(static("core/images/rand2-top.svg"));
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: bottom, top;
      z-index: 100;
    }
  }

  // background picture
  &__background {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%) rotate(-$teaser-angle);
    min-width: 120%;
    min-height: 120%;
    filter: grayscale(100%);
    z-index: -1;
  }

  &__video {
    /*display: none;*/
  }

  &__content {
    color: $white;
    position: relative;
    z-index: 100;
    text-align: center;
    transform: rotate(-$teaser-angle);

  }

  &__title {
    font-weight: bold;
    font-size: 40px;
    @include text-shadow(2);
    margin-bottom: 20px;
    // @include above($medium) {
    //   font-size: 8vh;
    // }
    @media (min-height: 600px) {
      font-size: 70px;
    }
    @media (min-height: 1200px) {
      font-size: 100px;
    }
  }

  &__subtitle {
    font-weight: bold;
    font-size: 20px;
    @include text-shadow(2);
    margin-top: 0;
    // @include above($medium) {
    //   font-size: 4vh;
    // }
    @media (min-height: 600px) {
      font-size: 35px;
    }
    @media (min-height: 1200px) {
      font-size: 50px;
    }
  }

}
