.block-sticker {
  //position: absolute;
  display: inline-block;
  height: 0;
  //width: auto;
  margin-bottom: 30px;
  background-color: red;

  @include above($medium) {
    margin-bottom: 50px;
  }

  a {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    color: $white;
    border-radius: 50%;
    padding: rem-calc(12px);

    @include above($medium) {
      padding: rem-calc(22px);
      font-size: rem-calc(28px);
    }
  }

  @include above(rem-calc(1024px)) {
    margin-bottom: 0;

    &:nth-of-type(2n+0) {
      float: right;
      a {
        position: relative;
        display: inline-block;
        left: calc(100% + 20px);
        transform: rotate(-10deg);
      }
    }

    &:nth-of-type(2n+1) {
      float: left;
       a {
         position: relative;
         display: inline-block;
         right: calc(100% + 30px);
         transform: rotate(10deg);
       }
    }

  }
}
