/**
 * Paragraph block
 * inside .userim it uses the rim
 * @section blocks
 * @molecule paragraph
 * @markup
 *   <div class="userim">
 *     <div class="block-paragraph">
 *       <p>Dies ist Text…</p>
 *       <ul>
 *         <li>und</li>
 *         <li>Liste…</li>
 *       </ul>
 *     </div>
 *   </div>
 *   <div class="block-paragraph">
 *     <p>Dies ist Text…</p>
 *     <ul>
 *       <li>und</li>
 *       <li>Liste…</li>
 *     </ul>
 *   </div>
 */
.block-paragraph {
  @include p;

  p {
    @include p;
  }



  ul, ol {
    @include p;
    margin-left: rem-calc(-20px);
    list-style: none;
  }

  li {
    position: relative;
    margin-bottom: rem-calc(5px);

    // .userim & {
    //   @include above($medium) {
    //     margin-left: 0;
    //   }
    // }

    &:before {
      position: absolute;
      left: rem-calc(-20px);
      top: 0;
      color: $green;
    }
  }

  ol {
    counter-reset: section;
  }

  ol li:before {
    counter-increment: section;
    content: counters(section,".") "." " ";
  }

  ul li:before {
    content: "●";
    font-size: rem-calc(17px);
    @include above($medium) {
      font-size: rem-calc(20px);
      top: rem-calc(-3px);
    }
  }

}
