$teaser-angle: -5deg;

.block-teaser {
  width: 100%;
  margin-bottom: 40px;
  margin-bottom: 60px;
  overflow: hidden;
  @include above($xlarge) {
    margin-top: 60px;
  }
  @include above($medium) {
    padding: 30px;
  }

  &__inner {
    backface-visibility: hidden;
    position: relative;
    overflow: hidden;
    min-height: 100px;
    padding: 60px 0;
    @media (min-height: 600px) {
      width: 120%;
      left: -10%;
      padding: 130px 20px;
    }
    @media (min-height: 1000px) {
      padding: 160px 0;
    }

    // overlay
    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 120%;
      height: 120%;
      // background: rgba(18, 117, 0, 0.75);
      background: rgba(darken($green, 10%), 0.75);
      z-index: 10;
    }

    // fransig border
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -5%;
      right: 0;
      width: 110%;
      height: 100%;
      min-width: 900px;
      background: url(static("core/images/rand2.svg")), url(static("core/images/rand2-top.svg"));
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: bottom, top;
      z-index: 100;
    }
  }

  // background picture
  &__background {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    min-width: 120%;
    min-height: 120%;
    filter: grayscale(100%);
    z-index: -1;
  }

  &__inner--rotate {
    @include above($medium) {
      transform: rotate($teaser-angle);
    }
    .block-teaser__background {
      @include above($medium) {
        transform: translate(-50%, -30%) rotate(-$teaser-angle);
      }
    }
    .block-teaser__content {
      @include above($medium) {
        transform: rotate(-$teaser-angle);
      }
    }
  }

  &__video {
    /*display: none;*/
  }

  &__content {
    color: $white;
    position: relative;
    z-index: 100;
    text-align: center;
  }

  &__title {
    font-weight: bold;
    font-size: 45px;
    @include text-shadow(2);
    margin-bottom: 20px;
    // @include above($medium) {
    //   font-size: 8vh;
    // }
    @media (min-height: 600px) {
      font-size: 70px;
    }
    @media (min-height: 1000px) {
      font-size: 100px;
      line-height: 1.0;
    }
  }

  &__subtitle {
    font-weight: bold;
    font-size: 25px;
    @include text-shadow(2);
    margin-top: 0;
    // @include above($medium) {
    //   font-size: 4vh;
    // }
    @media (min-height: 600px) {
      font-size: 35px;
    }
    @media (min-height: 1000px) {
      font-size: 50px;
    }
  }

}

.block-teaser + .block-box,
.block-teaser + .block-embed,
.block-teaser + .block-newsletter,
.block-teaser + .block-events
 {
  position: relative;
  top: -200px;
  margin-bottom: -150px;
  z-index: 100;
}

.block-teaser + .block-events {
  .area-title, .bigcard__top-text {
    color: $white;
    display: none;
  }
}
