/**
 * H2 block
 * @section blocks
 * @molecule h2
 * @markup
 *   <div class="block-h2">
 *     <h2>Eine Unterüberschrift</h2>
 *   </div>
 *   <div class="block-h2 color-blue">
 *     <h2>Eine Unterüberschrift</h2>
 *   </div>
 */
.block-h2 h2 {
  font-size: rem-calc(20px);
  line-height: 1.2;

  @include above($medium) {
    font-size: rem-calc(30px);
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  &.block-h2--bold {
    font-weight: bold;
    font-size: rem-calc(26px);
    @include above($medium) {
      font-size: rem-calc(40px);
    }
  }
}
