// TODO: This should replace the inline styles on the event boxes


$box-width: rem-calc(300px);
$box-height: rem-calc(205px);
$box-picture-height: rem-calc(113px);


.box {
  width: $box-width;
  height: $box-height;

  background-color: $white;
  border-radius: rem-calc(5px);

  &__picture {
    height: $box-picture-height;
  }

  &__content {

  }
}
