/**
 * @atom Button
 * @markup
 *   <a href="#" class="button">link button</a>
 *   <button href="#" class="button">button button</button>
 *   <a href="#" class="button button--small">small</a>
 *   <a href="#" class="button button--green">green</a>
 *   <a href="#" class="button button--white">white</a>
 */
.button {
  display: inline-block;
  font-family: $font-family-extra;
  font-size: rem-calc(20px);
  line-height: 1.2;
  min-width: rem-calc(200px);
  padding: rem-calc(16 20);
  margin-bottom: rem-calc(12);

  text-align: center;

  border-style: solid;
  @include until($medium) {
    border-width: rem-calc(1);
  }
  @include above($medium) {
    border-width: rem-calc(2);
  }
  border-radius: rem-calc(2);

  background: transparent;
  cursor: pointer;
  transition: background 0.1s ease-out 0s;

  &:focus {
    outline: 0;
  }

  &:active {
    text-decoration: none;
  }

  &--small {
    font-size: rem-calc(16px);
    padding: rem-calc(6 20 8);
    min-width: 0;
    font-weight: normal;
  }


  &--green {
    border-color: $green;
    color: $green;

    &:hover, &:focus {
      color: $lighterdark;
      background-color: $white;
    }
  }


  &--white {
    border-color: $white;
    color: $white;

    &:hover, &:focus {
      color: $lighterdark;
      background-color: $white;
    }
  }

}
