$button-default-color: $brown;

.button {
  display: inline-block;
  border-radius: 38px;

  font-size: 20px;
  height: 42px;
  line-height: 42px;

  // min-width: rem-calc(200px);
  padding-left: 25px;
  padding-right: 25px;
  margin: 10px;

  text-align: center;
  border: solid rem-calc(2px) $button-default-color;
  background: transparent;
  cursor: pointer;
  color: $button-default-color;
  @include shadow(1);

  @include above($medium) {
      height: 50px;
      line-height: 50px;
      font-size: 24px;
      padding-left: 35px;
      padding-right: 35px;
  }
  @include above($xlarge) {
      height: 60px;
      line-height: 60px;
      font-size: 30px;
      padding-left: 45px;
      padding-right: 45px;
  }

  &:hover {
    color: inherit;
  }

  &:focus {
    outline: 0;
  }

  &:active {
    text-decoration: none;
    box-shadow: none;
  }

  &--primary {
    color: $white;
    font-weight: bold;
    background-color: $green;
    border-color: $green;
    border: none;

    &:hover {
      color: $white;
    }
  }

  &--link {
    border: none;
    box-shadow: none;
  }

  &--small {
    font-size: rem-calc(16px);
    padding: rem-calc(6 20 8);
    min-width: 0;
    font-weight: normal;
  }

  @each $color, $value in $colors {
    &--primary.color-#{$color} {
      background-color: $value;
    }
  }

}
