.byline {
  font-family: $font-family-sans-serif;
  font-size: rem-calc(20px);
  line-height: rem-calc(30px);
  margin-bottom: rem-calc(30px);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;

  @include above($medium) {
    margin-bottom: rem-calc(60px);
    margin-top: rem-calc(30px);
  }

  .userim & {
    @include above(rem-calc(765px)) {
      margin-left: rem-calc(-50px);
    }
  }

  &__author-name {

  }

  &__dates {
    margin-left: auto;
    color: $grey;
    font-size: rem-calc(18px);
    @include above($medium) {
      font-size: rem-calc(20px);
    }
  }

  &__created {
    font-weight: bold;
  }

  &__author-photo {
    width: rem-calc(64px);
    height: rem-calc(64px);
    border-radius: 50%;
    margin-right: rem-calc(10px);

    @include above($medium) {
      margin-right: rem-calc(20px);
      width: rem-calc(100px);
      height: rem-calc(100px);
    }
  }
}
