$card-padding: rem-calc(20px);
$card-border-radius: rem-calc(5px);
$card-width: rem-calc(300px);
$card-height: rem-calc(240px);
$card-image-height: rem-calc(113px);

.card {
  position: relative;
  background-color: $white;
  width: $card-width;
  height: $card-height;
  border-radius: $card-border-radius;
  margin-bottom: 2*$card-grid-margin;
  @include shadow(1);
  overflow: hidden;
  transition: box-shadow 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);

  @include above($large) {
    &:hover {
      @include shadow(2);
    }
  }

  &__content {
    padding: $card-padding / 2 $card-padding;
    z-index: 1;
    overflow: hidden;
    font-size: rem-calc(14px);
    font-family: $font-family-sans-serif;
    font-weight: bold;
    background-color: $white;
  }

  &__title {
    margin-bottom: 10px;
    margin-top: 0;
    font-size: rem-calc(28.28px);
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-family: $font-family-sans-serif;
    font-weight: bold;
  }

  &__content--short &__title {
    -webkit-line-clamp: 2;
  }

  &__subtitle {
    font-size: rem-calc(14px);
    font-family: $font-family-sans-serif;
    font-weight: bold;
  }

  &__text {
    font-size: rem-calc(14px);
  }

  &__overlay {
    position: absolute;
    bottom: $card-height - $card-image-height;
    padding-left: $card-padding;
    background-color: rgba($white, 0.8);
    width: 100%;
    height: rem-calc(30px);
    line-height: rem-calc(30px);
    font-size: rem-calc(14px);
    font-family: $font-family-sans-serif;
    font-weight: bold;
  }

  &__related-group {
    position: absolute;
    top: rem-calc(10px);
    right: rem-calc(10px);
    background-color: $white;
    width: rem-calc(50px);
    height: rem-calc(50px);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem-calc(7.5px);

    img {
      max-width: rem-calc(35px);
      max-height: rem-calc(35px);
    }
  }

  &__overlay-link {
    position: relative;
    float: right;
    line-height: rem-calc(30px);
    height: rem-calc(30px);
    width: rem-calc(30px);
    padding-left: rem-calc(8px);
    padding-right: rem-calc(8px);
  }

  &__image, &__image-placeholder {
    // position: absolute;
    // top: 0;
    height: $card-image-height;
    width: 100%;
    background-color: $baige;

    &--short {
      height: $card-image-height - rem-calc(30px);
    }
  }

  @each $color, $value in $colors {
    &--color-#{$color} {
      .card__image-placeholder {
        background-color: $value;
      }
    }
  }
  &--with-image {
    background-color: $white;
  }


}
