/** @atom click-area
 *
 * @description
 *  Creates a clickable area which can also contain other links.
 *  Useful for boxes that link to content pages,
 *  but have other links too.
 *
 *  Doesnt really work with elements inside click-area,
 *  that have position-absolute like overlays.
 *
 * @markup
 *   <div class="click-area">
 *     <a href="#other-link">other-link</a>
 *     <a href="#area-link" class="click-area__area-link">area-link</a>
 *   </div>
 */
.click-area {
  position: relative;

  a {
    z-index: 1;
  }

  &__area-link {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
    background: transparent;
    z-index: 0 !important;
    opacity: 0;
  }
}
