@import "bower_components/pickadate/lib/themes/default";
@import "bower_components/pickadate/lib/themes/default.date";
@import "bower_components/pickadate/lib/themes/default.time";

.picker {
  font-family: $font-family-sans-serif;
  color: $brown;
  font-size: 14px;

  &__day {
    &:hover {
      background: #ccc;
      color: $brown;
    }

    &--selected, &--selected, &--highlighted, .picker--focused &--selected {
      background: $green;
      color: $white;
      &:hover {
        background: $green;
        color: $white;
      }
    }

  }


  &__button {
    color: $brown;
    &:hover {
      color: $brown;
    }

    &--today, &--clear, &--close {
      color: $brown;
      &:before {
        display: none;
      }
    }
  }

}
