$search-color: $brown;
$search-placeholder-color: rgba($brown, 0.2);
$search-focus-color: $green;
$search-action-color: $green;

/**
 * Nach Veranstaltungen suchen
 * @atom event search
 * @section Events
 * @markup
 *   <form class="event-search js-search">
 *     <input class="event-search__input js-search-focus big-font js-swap-placeholder" data-placeholder-small="Suche" type="search" name="query" placeholder="Was interessiert dich? Oder wo?" autocomplete="off">
 *     <input class="hide@until-medium event-search__submit" type="submit" value="Suchen">
 *     <a class="event-search__close icon-clicktarget@until-medium js-search-close-button" href="#">
 *       <span class="hide@until-medium">Schließen</span>
 *       <span class="hide@medium" style="line-height: 1rem">×</span>
 *     </a>
 *   </form>
 */
.event-search {
  position: relative;

  &__input {
    background-color: transparent;
    padding: 0;
    appearance: none;
    border: none;
    border-bottom: rem-calc(2) solid $search-color;
    color: $search-color;
    border-radius: 0;

    &::-webkit-search-cancel-button {
      display: none;
    }

    &:-webkit-autofill {
      background-color: $white !important;
      color: $brown;
    }

    &:placeholder-shown {
      border-bottom-color: $search-placeholder-color;
    }

    &::placeholder {
      color: $search-placeholder-color;
    }

    &:focus {
      outline: none;
      border-bottom-color: $search-focus-color;
    }


    @include until($medium) {
      float: right;
      width: 90%;
      margin-top: -0.5rem;
    }

    @include above($medium) {
      width: 60rem;
      border-bottom-width: rem-calc(4);
    }
  }


  &__submit {
    font-weight: bold;
    color: $search-action-color;
    margin-right: 3rem;
    @include font-size-2;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    appearance: none;
    font-family: inherit;
  }


  &__close {
    color: $search-action-color;
    @include font-size-2;

    @include until($medium) {
      position: absolute;
      left: 0;
      top: 0;

      span {
        color: $search-action-color;
        font-size: rem-calc(40px);
      }
    }
  }

}
