.event {
  margin-bottom: rem-calc(18px);
  width: rem-calc(300);
  height: rem-calc(205);
  overflow: hidden;
  border-radius: 5px;

  // highlight on hover for large screens
  // because medium probably have touch
  @include above($large) {
    transition: box-shadow .2s;
    &:hover {
      box-shadow: rem-calc(0 2px 5px) rgba($black, 0.25);
    }
  }

  h3 {
    font-family: $font-family-extra;
    margin-bottom: 0;
    a {
      color: $brown;
    }
  }
}
