/**
 * Footer.
 * The empty footer generates padding.
 * Otherwise footer items are shown next to each other
 * @atom footer
 * @markup
 *   <footer class="footer">
 *     <a class="footer__item">Footer Item</a>
 *     <a class="footer__item">Footer Item</a>
 *   </footer>
 *   <footer class="footer"></footer>
 */
.footer {
  position: relative;
  padding-top: rem-calc(20px);
  padding-bottom: rem-calc(20px);
  margin-top: rem-calc(40px);
  text-align: center;
  line-height: rem-calc(25px + 16px);
  color: $white;
  background-color: $grey;
  // border-top: 1px solid $grey;

  @include above($medium) {
    padding-top: rem-calc(50px);
    padding-bottom: rem-calc(50px);
  }

  a {
    color: $white;
    &:hover {
      color: $text-color-standard;
    }
  }

  &__item {
    padding: rem-calc(5px);
    @include above($medium) {
      padding-left: rem-calc(25px);
      padding-right: rem-calc(25px);
    }
  }
}
