input {
    border-radius: rem-calc(2);
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: $ghost;

    border: solid rem-calc(1) $brown;

    box-shadow: inset rem-calc(0 1 2) rgba($black, 0.1);
    color: $brown;
    display: block;

    font-size: 0.875rem;
    height: 2.3125rem;
    margin: 0 0 1rem 0;
    padding: 0.5rem;
    //max-width: rem-calc(400);
    transition: border-color 0.15s linear, background 0.15s linear;

    &:focus {
        background: $ghost;
        border-color: $green;
        outline: none;
    }
}
