$form-breakpoint: rem-calc(670px);

.form {
  background-color: $white;
  margin-top: 30px;
  padding: 30px 10px;
  width: 100%;
  @include shadow(1);
  @include above($form-breakpoint) {
    padding: 30px;
    max-width: rem-calc(640px);
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
  }

  fieldset {
    border: none;
    margin: 0;
    padding: 0;
    margin-top: rem-calc(30px);

    &:first-of-type {
      margin-top: 0;
    }

    legend {
      // border-bottom: 1px solid $green;
      display: block;
      width: 100%;
      font-family: $font-family-sans-serif;
      font-size: rem-calc(24px);
      line-height: 1.2;
      color: $green;
      margin-bottom: rem-calc(20px);

      @include above($form-breakpoint) {
        font-size: rem-calc(28.28px);
        margin-bottom: rem-calc(30px);
      }
    }
    legend ~ p {
      margin-top: rem-calc(-20px);
    }
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-family: $font-family-sans-serif;
    font-size: 20px;
    line-height: 1.2;
    font-weight: bold;
    color: $brown;

    a {
      border-bottom: 1px solid $brown;
      &:hover {
        color: $green;
        border-bottom-color: $green;
      }
    }
  }

  input:not([type="submit"]):not([type=checkbox]):not([type=file]), textarea, select {
    font-family: $font-family-sans-serif;
    font-size: 20px;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    color: $grey;
    padding: 10px;
    max-width: 100%;
    box-shadow: none;

    &:focus {
      @include shadow(1);
      border-color: $brown;
      outline: none;
      color: $brown;
    }
  }

  input[type=checkbox] {
    background: transparent;
    height: 20px !important;
  }

  input[type=number] {
    width: 100px;
  }

  &__input--full {
    width: 100%;
  }

  input[type=file] {
    width: 100%;
  }

  textarea {
    resize:vertical;
  }

  input[type=file] {
    font-size: 20px;
  }

  input:not([type="submit"]):not([type=file]), select {
    height: 48px;
  }

  // input[type=file] {
  //   width: 0.1px;
  // 	height: 0.1px;
  // 	opacity: 0;
  // 	overflow: hidden;
  // 	position: absolute;
  // 	z-index: -1;
  //
  //   & ~ label {
  //     font-size: 1.25em;
  //     font-weight: 700;
  //     // background-color: $grey;
  //     display: inline-block;
  //   }
  // }

  input:focus ~ label, textarea:focus ~ label,
  input:focus ~ .form__helptext, textarea:focus ~ .form__helptext,
  select:focus ~ label, select:focus ~ .form__helptext {
    color: $brown;
  }

  select {
    background: transparent;
    padding: 0 10px;
    width: 100%;
  }

  .icon-check {
    float: right;
    display: inline;
    color: $green;
    font-size: 30px;
    line-height: 48px;
    margin-left: 20px;
    vertical-align: middle;
  }

  &__fieldwrapper {
    display: block;
    margin-bottom: 50px;
    margin-right: 20px;
    width: 100%;

    &--has-error {
      label {
        color: $red !important;
      }
      input, textarea {
        border-color: $red !important;
        border-width: 2px !important;
      }
    }
  }

  .errorlist {
    margin: 0;
    padding: 0;
    li {
      display: block;
      margin-left: 0;
    }
  }

  p {
    font-family: $font-family-sans-serif !important;
    margin-bottom: 30px;
  }

  &__helptext {
    display: block;
    font-family: $font-family-sans-serif !important;
    font-size: 16px !important;
    line-height: 1.2;
    color: $grey;
    margin-bottom: 5px !important;
    margin-top: -5px;

    .length {
      float: right;
      margin-left: 5px;
    }

    // a {
    //   color: $grey;
    //   border-bottom: none;
    //   &:hover {
    //     color: $grey;
    //     text-decoration: underline;
    //   }
    // }
  }


  &__controls {
    padding-top: 30px;
    margin-top: 50px;
    text-align: center;
    @include above($form-breakpoint) {
      text-align: left;
    }
  }

}

.dateinput, .timeinput {
  position: relative;

  a {
    position: absolute;
    right: 12px;
    top: 0;
    color: $grey;
    &:hover, &:focus, &:active {
      color: $brown;
      outline: none;
      @include text-shadow(1);
    }
  }
}

.dateinput {
  margin-right: 5px;
  input {
    width: 150px;
  }
}

.timeinput input {
  width: 110px;
}

.extra-help {
  display: none;
  color: $grey;
  font-size: 14px;
  position: relative;
  top: 32px;
  left: 2px;
}



.activity-list {
  color: #ccc;

  li:before {
    color: #ccc;
  }

  &__active {
    color: $brown;

    &:before {
      color: $green !important;
    }
  }
}
