.header {
  position: relative;
  padding-top: rem-calc(20px);
  padding-bottom: rem-calc(20px);
  background-color: rgb(250, 250, 250);
  height: rem-calc(57px);
  z-index: 100;
  color: $white;


  a {
    color: $white;
  }

  &__inner {
    position: relative;
  }

  @include until($medium) {
    overflow-x: scroll;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      display: none;
    }

    a {
      color: $grey;
    }
  }

  @include above($medium) {
    height: rem-calc(200px);
    padding-top: rem-calc(30px);
    background-color: $green;
  }

}
