/// header
/// used on the startpage
///
/// @example markup
///   <header class="header">
///     <div class="header__content">
///       <h1>...</h1>
///       <p>...</p>
///       <div class="buttons">
///         <a href="/aktuelles" class="button white">Aktuelles</a>
///       </div>
///     </div>
///   </header>

$height-header: rem-calc(526);
$min-height-header: rem-calc(480);

.header {
  position: relative;
  width: 100%;

  // on mobile: full height
  @include until($medium) {
    height: $min-height-header; // fallback for vh
    height: 100vh;
    min-height: $min-height-header;
  }

  // on tablets and up: fixed height
  @include above($medium) {
    height: $height-header;
  }

  background: $green-overlay;

  // vertically center content using flexbox
  display: flex;
  align-items: center;
  justify-content: center;
  // fallback
  .no-flexbox & {
    padding-top: rem-calc(82);
  }
}

  .header__content {
    z-index: 5;
    max-width: rem-calc(800);
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;

    @include janun-text-shadow;
    text-align: center;

    // TODO: * is really bad!
    * {
      margin-left: auto;
      margin-right: auto;
      color: $white;
      font-family: $font-family-sans-serif;
    }

    p {
      max-width: rem-calc(450);
      padding: 1rem;
      @include p;
      font-family: $font-family-sans-serif;
    }



  }
