//
// @markup html:
// <div class="hover-reveal">
//   <span class="hover-reveal__hidden">hidden until hovered over div</span>
// </div>
//
.hover-reveal {
  @include above($large) {
    &__inline-block, &__inline, &__block {
      display: none;
    }
  }

  &:hover &__inline-block {
    display: inline-block;
  }

  &:hover &__inline {
    display: inline;
  }

  &:hover &__block {
    display: block;
  }
}
