.with-icon {
  position: relative;
  display: block;
  font-size: rem-calc(18px);
  padding: rem-calc(10px);
  margin: rem-calc(5px);
  margin-left: rem-calc(20px);

  &:before {
    position: absolute;
    left: rem-calc(-20px);
  }

  &--mail:before {
    @extend .icon-envelope;
  }

  &--phone:before {
    @extend .icon-phone;
  }

  &--clock:before {
    @extend .icon-clock;
  }

  &--home:before {
    @extend .icon-home;
  }

}
