.image-gallery {
  position: relative;
  width: 100%;
  background: $white;
  border-radius: 5px;
  padding: 20px;
  @include shadow(1);


  @include above($medium) {
    margin-bottom: rem-calc(60px);
    margin-top: rem-calc(60px);
  }
  .userim & {
    position: relative;
    width: 100vw;
    left: calc( 50% - 50vw );

    @include above(rem-calc(500px)) {
      width: 100%;
      left: inherit;
    }

    @include above(rem-calc(830px)) {
      width: rem-calc(830px);
      margin-left: rem-calc(-95px);
      margin-right: rem-calc(-95px);
      left: inherit;
    }
  }


  &__active-image-link {
    display: block;
    width: 100%;
    overflow: hidden;
    height: 200px;
    @include above($medium) {
      height: 550px;
    }
  }

  &__active-wrapper {
    position: relative;
  }

  &__active-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
  }

  &__attribution {
    height: 20px;
    font-family: $font-family-serif;
    color: $grey;
    font-style: normal;
    font-size: rem-calc(12px);
    line-height: rem-calc(28px);
  }


  &__image-list {
    margin-top: 20px;
    width: auto;
    overflow-x: scroll;
    white-space: nowrap;
  }

  &__image {
    height: 100px;
    width: auto;
    margin: 10px;

    &:first-of-type {
      margin-left: 0;
    }
  }

  &__prev, &__next {
    position: absolute;
    top: 0px;
    height: 100%;

    svg {
      position: relative;
      top: 40px;
      height: 40px;
      width: 40px;
      border-radius: 10px;
      background: white;
      padding: 10px;
      @include shadow(1);

      @include above($medium) {
        height: 60px;
        width: 60px;
        padding: 14px;
        top: 30%;
      }
    }

  }
  &__next {
    right: -20px;
    padding-left: 20px;
    @include above($medium) {
      right: -25px;
    }
  }
  &__prev {
    left: -20px;
    padding-right: 20px;
    @include above($medium) {
      left: -25px;
    }
  }
}
