// to replace an image with pattern of text
//
// @example markup
// <div class="image-placeholder">Text Text Text Text Text ...</div>
.image-placeholder {
  color: rgba(white, 0.4);
  font-family: $font-family-extra;
  line-height: rem-calc(17);
  font-size: rem-calc(14);
  overflow: hidden;
  word-wrap: break-word;
}
