/// image
///
/// @example markup
///   <div class="image image--centered-when-cropped ">
///     <img ...>
///   </div>
.image {
  position: relative;

  /// when the image is cropped by the browser
  /// this ensures it is cropped on both sides
  &--centered-when-cropped {
    overflow: hidden;
    text-align: center;

    a {
      display: block;
    }

    img {
      display: inline-block;
      position: relative;
      top: 0;
      left: 100%;
      margin-left: -200%;
      min-width: 100%;
    }
  }


  /// when the image is inside of a panel
  /// remove the paddings on the sides
  .panel & {
    margin-left: -$panel_padding;
    margin-right: -$panel_padding;
  }

}
