$image--fixed-height_height: $panel--fixed-height_height;

/// image
///
/// @example markup
///   <div class="image image--fixed-height">
///     <img ...>
///   </div>
.image {
  position: relative;

  // responsive
  img {
    width: 100%;
    height: auto;
  }

  // fallback text
  img:after {
    content: "Bild konnte nicht geladen werden.";
    display: block;
    margin: 1rem;
    color: $brown;
    display: block;
  }


  /// when the image is cropped by the browser
  /// this ensures it is cropped on both sides
  &--fixed-height {
    overflow: hidden;
    text-align: center;
    height: $image--fixed-height_height;

    img {
      position: relative;
      top: 0;
      left: 100%;
      margin-left: -200%;
      min-width: 100%;
      min-height: $image--fixed-height_height;
      width: auto;
    }

  }


  /// when the image is inside of a panel
  /// remove the paddings on the sides
  .panel & {
    margin-left: -$panel_padding;
    margin-right: -$panel_padding;
  }

}
