@import 'bower_components/hamburger-icon/hamburger-icon';

$medium-navbar-height: rem-calc(65);
$small-navbar-height: rem-calc(54);

@mixin box-shadow_navbar {
  box-shadow: rem-calc(0 2 4) rgba($black, 0.1);
}

@mixin scale-with-navbar($property, $value1, $value2) {
  @include scale-from-medium-to-large(
    $property, $value1, $value2
  );
}

// used to scale propertes like margin and height
@mixin scale-with-navbar-height($property: height) {
  @include scale-with-navbar(
    $property, $small-navbar-height, $medium-navbar-height
  );
}

/// navbar
///
/// @example markup
///   <div class="navbar navbar--green">
///     <div class="navbar__inner">
///       <a class="navbar__item" href="/"><img class="navbar__logo"></a>
///       <a class="navbar__item  navbar__clickable" href="/">Title</a>
///       <button class="navbar__item">Menu</button>
///     </div>
///   </div>
.navbar {
  width: 100%;
  z-index: 1000;
  @include scale-with-navbar-height;
  @include box-shadow_navbar;

  font-family: $font-family-sans-serif;
  font-size: rem-calc(18);
  color: $white;

  a {
    font-family: $font-family-sans-serif;
    color: $white;
  }

  // overwrite focus styles for all links and buttons
  // this also adds a padding...
  a, button {
    padding: 0.5rem;
    &:focus {
      text-decoration: none;
      outline: none;
      border-radius: rem-calc(2);
      background: rgba($white, 0.25);
    }
    &::-moz-focus-inner {
      border: 0;
    }
  }

  // normalize all buttons
  button {
    background: transparent;
    border: none;
  }

  &--fixed { position: fixed; }
  &--absolute { position: absolute; }

  &--green { background: $green; }
  &--red { background: $red; }

  &--transparent {
    background: transparent;
    box-shadow: none;
  }


  // horizontally center with fixed width
  &__inner {
    @include container;
    height: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
  }


  // vertically center
  &__item {
    display: inline;
    vertical-align: middle;
    @include scale-with-navbar-height(line-height);
    @include scale-with-navbar-height;
  }


  // special aligment/size for logo
  &__logo {
    display: inline-block;
    vertical-align: middle;

    width: rem-calc(28);
    height: rem-calc(27);
    @include above($medium) {
      width: rem-calc(37);
      height: rem-calc(36)
    }
  }

  &__title {
    font-weight: bold;
  }


  // this shows its content on a white background in mobile/tablet
  // and shows as a normal navbar__item else
  //
  // displaying/not displaying this is done via js and [aria-hidden]
  &__collapsible {

    @include until($large) {
      height: auto;

      position: absolute;
      @include scale-with-navbar-height(top);
      left: 0;

      width: 100vw;

      z-index: 1000;
      margin-top: 0;
      @include scale-with-navbar(padding-left, rem-calc(20), rem-calc(180));

      background: white;
      border-bottom: rem-calc(1) solid $green;

      a {
        color: $brown;
      }
    }
  }

}


/// menu
///
/// @example markup
///   <ul class="menu">
///     <li class="menu__item"><a href="#">link</a></li>
///     <li class="menu__item  menu__item--active"><a href="#">link</a></li>
///   </ul>
.menu {
  display: inline-block;
  height: 100%;

  @include until($large) {
    padding-bottom: rem-calc(37);
    padding-top: rem-calc(25);
  }

  &__item {
    @include above($large) {
      display: inline-block;
      margin-right: rem-calc(20);
    }

    // margin between adjacent menu__items on mobile
    &+& {
      @include until($large) {
        margin-top: rem-calc(24);
      }
    }

    // the active menu item
    &--active {
      @include above($large) {
        border-bottom: rem-calc(5) solid $brown;
      }
      @include until($large) {
        font-weight: bold;
      }
    }
  }
}

// if its part of a navbar, have each menu__item have 100% height,
// so that the border-bottom on menu__item--active be on the bottom
// of the navbar.
.navbar .menu__item {
  @include above($large) {
    height: 68%; // magic number!!!
  }
}
