.onpagemenu {
  position: absolute;
  left: rem-calc(40);
  display: inline;
  white-space: nowrap;

  &__item {
    margin-right: rem-calc(10);
    padding: rem-calc(8px);
    border-radius: rem-calc(5px);

    &:focus {
      outline: none;
      border: rem-calc(2px) solid lighten($grey, 40%);
      padding: rem-calc(6px);
    }

    &.active {
      background-color: lighten($grey, 40%);
    }
  }
}


// offset scrolling to #target.onpagemenu-scrollmark
$onpagemenu-scrollmark-offset: rem-calc(57px); // height of onpagemenu
.onpagemenu-scrollmark {
  height: auto;
  &:before {
    outline: 1px solid blue;
    display: block;
    content: " ";
    margin-top: - $onpagemenu-scrollmark-offset;
    height: $onpagemenu-scrollmark-offset;
    visibility: hidden;
  }
}
