// overlay, i.e. over an image
//
// <div class="overlay">
//   <img ... or whatever>
//   <div class="overlay__content">...text...</div>
// </div>
.overlay {
  position: relative;

  &__content {
    position: absolute;
    height: auto;
    text-align: left;
    z-index: 1;

    h2, h3, h4 {
      margin-bottom: 0;
    }

    &--white-transparent {
      background: rgba($white, 0.8);
      height: rem-calc(30);
      line-height: rem-calc(30);
      padding-left: rem-calc(20);
      padding-right: rem-calc(0);
    }

  }
}
