$pageheader-height: rem-calc(60px);
$pageheader-height-medium: rem-calc(200px);
$pageheader-h1-margin: rem-calc(20px);
$pageheader-h1-font-size: rem-calc(20px);
$pageheader-h1-font-size-medium: rem-calc(40px);

.pageheader {
  position: relative;
  display: block;
  height: $pageheader-height;
  @include above($medium) {
    height: $pageheader-height-medium;
  }
  // padding-top: 30px;
  background-color: $green;
  color: $white;
  @include shadow(1);
  text-align: center;
  overflow: hidden;

  // display: none;
  //
  // @include above($medium) {
  //   display: block;
  // };

  h1 {
    margin: $pageheader-h1-margin 0;
    font-size: $pageheader-h1-font-size;
    @include above($medium) {
      font-size: $pageheader-h1-font-size-medium;
    }
    color: $white;
    text-shadow: 1px 1px 1px #000;
  }

  &__image {
    display: none;
    @include above($medium) {
      display: inline;
    };

    position: relative;
    bottom: 0px;
    height: $pageheader-height-medium - 2* $pageheader-h1-margin - 1.25*$pageheader-h1-font-size-medium;
  }
}
