.pagemenu {
  margin: 0;
  padding: 0;
  list-style: none;


  // menu item
  &__item {
    color: $grey;
    display: inline;
    margin-left: rem-calc(10px);
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 5px;

    @include above($medium) {
      font-size: rem-calc(20px);
      margin-left: rem-calc(20px);
      &:first-of-type {
        padding-left: 0;
        margin-left: 0;
      }
    }

    a:hover {color: $brown;}


    // the active item
    &--active {
      border-bottom: 1px solid $green;

      a, a:hover { color: $green; }

      @include above($medium) {
        border-width: 2px;
      }
    }
  }


}
