$panel_padding: rem-calc(22);
$panel--fixed-height_height: rem-calc(196);

/// panel
///
/// is a container for content, article etc.
///
/// the padding creates a problem on children elements,
/// for example images should not have padding,
/// the util classes below are to cope with that
.panel {
  @include janun-box-shadow;

  display: block;
  word-wrap: break-word;
  background-color: $white;
  padding: $panel_padding;

  &--fixed-height\@medium {
    @include above($medium) {
      height: $panel--fixed-height_height;
    }
  }
}


/// utility class to remove the panel padding
.remove-panel-padding {
  &--all {
    margin: -$panel_padding;
  }
  &--on-sides {
    margin-left: -$panel_padding;
    margin-right: -$panel_padding;
  }
  &--on-top {
    margin-top: -$panel_padding;
  }
  &--on-bottom {
    margin-bottom: -$panel_padding;
  }
}

/// utility class to (re-)add the panel padding
.add-panel-padding {
  &--all {
    padding: $panel_padding;
  }
  &--on-sides {
    padding-left: $panel_padding;
    padding-right: $panel_padding;
  }
  &--on-top {
    padding-top: $panel_padding;
  }
  &--on-bottom {
    padding-bottom: $panel_padding;
  }
}
