$panel_padding: rem-calc(22);
$panel--fixed-height_height: rem-calc(196);

/**
 * a container for content, article etc.
 *
 * the padding creates a problem on children elements,
 * for example images should not have padding,
 * the util classes below are to cope with that
 *
 * @atom panel
 * @markup
 *   <div class="panel">text</div>
 */
.panel {
  box-shadow: 0 1px 1px rgba($black, 0.1);
  border-radius: rem-calc(5px);

  display: block;
  word-wrap: break-word;
  background-color: $white;
  padding: $panel_padding;

  &--border-radius-tr-lb {
    border-radius: rem-calc(0 5px 0 5px);
  }

  &--hover-shadow:hover {
    box-shadow: 0 1px 3px rgba($black, 0.1);
  }

  &--no-padding {
    padding: 0
  }

  &--side-padding {
    padding-top: 0;
    padding-bottom: 0;
  }

  &__negative-margin {
    &-all {
      margin: -$panel_padding;
    }
    &-sides {
      margin-left: -$panel_padding;
      margin-right: -$panel_padding;
    }
    &-top {
      margin-top: -$panel_padding;
    }
    &-bottom {
      margin-bottom: -$panel_padding;
    }
    &-up {
      margin-top: -$panel_padding;
      margin-left: -$panel_padding;
      margin-right: -$panel_padding;
    }
  }

  &--fixed-height\@medium {
    @include above($medium) {
      height: $panel--fixed-height_height;
    }
  }
}

/// utility class to (re-)add the panel padding
.add-panel-padding {
  &--all {
    padding: $panel_padding;
  }
  &--on-sides {
    padding-left: $panel_padding;
    padding-right: $panel_padding;
  }
  &--on-top {
    padding-top: $panel_padding;
  }
  &--on-bottom {
    padding-bottom: $panel_padding;
  }
}
