/// partial is a small block representing the content type
$height-partial: rem-calc(196);
$height-partial-small: rem-calc(98);

.partial {
  @include above($medium) {
    height: $height-partial;
  }

  padding-bottom: 0;
  padding-top: 0;

  img {
    min-height: $height-partial;
  }
}
