.person {
  margin: 30px;
  width: rem-calc(240px);

  &__photo {
    display: block;
    height: rem-calc(240px);
    width: rem-calc(240px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: rem-calc(25px);
    border-radius: 50%;
  }

  &__data {
    text-align: center;
    font-family: $font-family-sans-serif;
    font-size: rem-calc(18px);
    line-height: 1.4;

    a {
      position: relative;
      padding: 5px;
    }

    // data grey until hovered
    @include above($medium) {
      color: $grey;
      a { color: $grey; }

      .person:hover & {
        color: $brown;
        a {
          color: $brown;
          &:hover {
            color: $green;
          }
        }
      }
    }
  }

  &__name {
    text-align: center;
    font-family: $font-family-sans-serif;
    // margin-top: rem-calc(10px);
    margin-bottom: rem-calc(8px);
    font-weight: bold;
    color: $brown;
  }

  &__role, &__phone, &__mail {
    display: block;
  }

  &__phone:before {
    @extend .icon-phone;
    margin-right: 8px;
  }

  &__mail:before {
    @extend .icon-envelope;
    margin-right: 8px;
  }
}
