$person-width: rem-calc(240px);
$person-height: rem-calc(420px);

.person {
  margin: 40px;
  width: $person-width;
  height: $person-height;

  &__photo-wrapper {
    height: $person-width;
    width: $person-width;
    margin-bottom: rem-calc(25px);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 0;
    @include shadow(1);
    transition: box-shadow 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);

    @include above($large) {
      .person:hover & {
        @include shadow(2);
      }
    }
  }

  &__photo {
    height: $person-width;
    width: $person-width;
    background-color: #ddd;
    line-height: $person-width;
    text-align: center;
    white-space: nowrap;
  }

  &__data {
    text-align: center;
    font-family: $font-family-sans-serif;
    font-size: rem-calc(18px);
    line-height: 1.4;

    a {
      position: relative;
      padding: 5px;
    }

    // data grey until hovered
    @include above($medium) {
      color: $grey;
      a {
        color: $grey;
        &:focus {
          color: $green;
        }
      }

      .person:hover & {
        color: $brown;
        a {
          color: $brown;
          &:hover, &:focus {
            color: $green;
          }
        }
      }
    }
  }

  &__name {
    text-align: center;
    font-family: $font-family-sans-serif;
    // margin-top: rem-calc(10px);
    margin-bottom: rem-calc(8px);
    font-weight: bold;
    color: $brown;
  }

  &__role, &__phone, &__mail {
    display: block;
  }

  &__phone:before {
    @extend .icon-phone;
    margin-right: 8px;
  }

  &__mail:before {
    @extend .icon-envelope;
    margin-right: 8px;
  }
}

.click-area__area-link:focus {
  & ~ .person__photo-wrapper .person__photo {
    @include shadow(2);
  }
  & ~ .person__data {
    color: $brown;
    a {
      color: $brown;
    }
  }
}
