// padding-bottom hack
.responsive-object {
  position: relative;
  min-width: 100%;
  height: 0;
  //padding-bottom is set inline

  iframe, img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%
  }
}


.panel .block-embedded_video {
  margin-left: -$panel_padding;
  margin-right: -$panel_padding;
}
