// padding-bottom hack
.responsive-object {
  position: relative;
  background-color: #ddd;
  //padding-bottom is set inline

  img, video, iframe, object, embed {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}


.panel .block-embedded_video {
  margin-left: -$panel_padding;
  margin-right: -$panel_padding;
}
