/// header
/// used on the startpage
///
/// @example markup
///   <header class="header">
///     <div class="header__content">
///       <h1>...</h1>
///       <p>...</p>
///       <div class="buttons">
///         <a href="/aktuelles" class="button white">Aktuelles</a>
///       </div>
///     </div>
///   </header>

$height-header: rem-calc(526); // approx size of video
$min-height-header: rem-calc(480);

.site-header {
  width: 100%;
  background: $green-overlay;

  // on mobile: full height
  @include until($medium) {
    height: 100vh;
    min-height: $min-height-header;
    padding-top: rem-calc(82); // magic number
  }

  // on tablets and up: fixed height
  @include above($medium) {
    height: $height-header;
    padding-top: rem-calc(110); // magic number
  }

  &__content {
    z-index: 5;
    max-width: rem-calc(800); // magic number
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;

    @include janun-text-shadow;
    text-align: center;
    color: $white;
    font-family: $font-family-sans-serif;

    p {
      margin: 0 auto;
      max-width: rem-calc(450); // magic number
      padding: 1rem;
      @include p;
      font-family: $font-family-sans-serif;
    }
  }
}
