.small-search {
  position: relative;

  &:before {
    @extend .icon-magnifier;
    color: $brown;
    font-size: 16px;
    position: absolute;
    height: 100%;
    top: 4px;
    left: 0px;
  }

  &__input {
    width: 75px;
    appearance: none;
    border: none;
    font-size: 16px;
    //border: 1px solid $aluminum;
    // background-color: rgba($green, 0.3);
    color: $brown;
    // border-radius: 5px;
    padding: 4px 4px 4px 20px;
    transition: all 0.1s;

    &:focus, &[value] {
      width: 130px;
      // height: 30px;
      // padding: 10px 10px 10px 30px;
      // font-size: 20px;
      // border-color: $grey;
      outline: none;
      border-bottom: 1px solid $brown;

      &::placeholder {
        color: $white;
      }
    }

    &::-webkit-search-cancel-button {
      display: none;
    }

    &::placeholder {
      color: $brown;
    }
  }
}
