/**
 * @atom subtitle
 */
.subtitle {
  font-size: rem-calc(20px);
  line-height: rem-calc(24px);
  color: $grey;
  margin-top: rem-calc(20px);
  @include above($medium) {
    font-size: rem-calc(30px);
    line-height: rem-calc(36px);
  }
}
