/// teaser
///
/// is a kind of full-width heading with background
/// but not an actual heading; like a pull-quote or sth.
///
/// @example markup
///      <div class="teaser">
///        <span class="teaser__text">Dies ist der Teaser-Text</span>
///      </div>
///
.teaser {
  @include scale-from-small-to-medium(
    padding-top, rem-calc(30), rem-calc(50)
  );
  @include scale-from-small-to-medium(
    padding-bottom, rem-calc(30), rem-calc(50)
  );

  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  background-image: linear-gradient($green-overlay, $green-overlay),
    url(static('core/images/header-poster/header-poster-1024.jpg'));

  &__text {
    @include h1;
    @include janun-text-shadow;
    @include container;

    display: block;
    font-family: $font-family-sans-serif;
    text-align: center;
    color: $white;
  }

}
