/**
 * Title of a page
 * @molecule title
 * @section blocks
 * @markup
 *   <div class="block-title">
 *     <h1>Dies ist ein Titeel</h1>
 *   </div>
 *   <div class="block-title">
 *     <h1 class="color-green">Dies ist ein Titel</h1>
 *   </div>
 */
.title {
  font-family: $font-family-sans-serif;
  color: $green;
  font-size: rem-calc(28.28px);
  line-height: rem-calc(30px);
  font-weight: bold;

  @include above($medium) {
    font-size: rem-calc(56.543px);
    line-height: rem-calc(60px);
    margin-bottom: rem-calc(30px);
  }

  @each $color, $value in $colors {
    &--color-#{$color} {
      color: $value;
    }
  }
}
