/**
 * Title of a page
 * @molecule title
 * @section blocks
 * @markup
 *   <div class="block-title">
 *     <h1>Dies ist ein Titeel</h1>
 *   </div>
 *   <div class="block-title">
 *     <h1 class="color-green">Dies ist ein Titel</h1>
 *   </div>
 */
.title {
  font-family: $font-family-extra;
  font-size: rem-calc(30px);
  line-height: rem-calc(41px);
  font-weight: 700;
  margin-bottom: rem-calc(10px);
  @include above($medium) {
    font-size: rem-calc(60px);
    line-height: 1.35;
  }
}
