/// video-background
///
/// @example markup
///   <div class="video-background">
///     <video class="video-background__video>
///       <source ... />
///       <source ... />
///     </video>
///   </div>

.video-background {
  position: relative;
  overflow: hidden;

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    min-height: 100%;
    min-width: 100%;
  }

}
