/// video-background
///
/// @example markup
///   <div class="video-background">
///     <video class="video-background__video>
///       <source ... />
///       <source ... />
///     </video>
///   </div>

.video-background {
  position: relative;
  overflow: hidden;


  &__wrapper {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: url(static('core/images/header-poster/header-poster-1024.jpg'));
    background-size: cover;
    z-index: -1;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    @media (min-width: 800px) {
      height: 300%;
      top: -100%;
    }
    @media (max-width: 800px) {
      width: 300%;
      left: -100%
    }
  }

}
