/// video-background
///
/// @example markup
///   <div class="video-background">
///     <video class="video-background__video>
///       <source ... />
///       <source ... />
///     </video>
///   </div>

.video-background {
  position: relative;
  overflow: hidden;

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    min-height: 100%;
    min-width: 100%;

    //background-image: url(static('core/images/header-poster/header-poster-640.jpg'));
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
    // background image for different resolutions
    @include until($medium) {
      background-image: url(static('core/images/header-poster/header-poster-320x528.jpg'));
    }
    @include until($medium) {
      @media (min-resolution: 2dppx) {
        background-image: url(static('core/images/header-poster/header-poster-640x528.jpg'));
      }
    }
    @include between($medium, $large) {
      background-image: url(static('core/images/header-poster/header-poster-640.jpg'));
    }
    @include between($medium, $large) {
      @media (min-resolution: 2dppx) {
        background-image: url(static('core/images/header-poster/header-poster-1024.jpg'));
      }
    }
    @include between($large, $xlarge) {
      background-image: url(static('core/images/header-poster/header-poster-1024.jpg'));
    }
    @include above($large) {
      @media (min-resolution: 2dppx) {
        background-image: url(static('core/images/header-poster/header-poster-1280.jpg'));
      }
    }
    @include above($xlarge) {
      background-image: url(static('core/images/header-poster/header-poster-1280.jpg'));
    }
  }

}
