<div class="block-attachment__data">
  <span class="block-attachment__metadata">
    {{ value.created_at }},
    {{ value.file_extension|upper }}-Datei,
    {{ value.file.size|filesizeformat }}
  </span>
  <h3 class="block-attachment__title">{{ value.title }}</h3>
</div>
<!-- <a class="block-attachment__button button button--filled color-green"
    href="{{ value.url }}" target="_blank">Download</a> -->
<a class="block-attachment__button"
    href="{{ value.file.url }}" target="_blank">Download</a>
<a  href="{{ value.file.url }}" class="click-area__area-link" target="_blank">Download</a>
