{% load render_partial %}
{% if upcoming %}
  <div class="container">
    {% if self.heading %}
      <h2 id="{{ self.heading|slugify }}" class="area-title">{{ self.heading }}</h2>
    {% endif %}

    <div class="block-highlights__grid">
      {% for event in upcoming %}
        <div class="block-highlights__grid-item">
          {% render_partial event %}
        </div>
      {% endfor %}
    </div>

    <a class="block-highlights__link" href="/veranstaltungen">Alle Veranstaltungen</a>
  </div>
{% endif %}
