{% load wagtailcore_tags humanize wagtailimages_tags srcset stuff %}
{% load wagtailsettings_tags %}
{% get_settings %}

<div class="overflow-hidden lg:h-1000 lg:-mb-32">
  <div class="max-w-screen-lg xl:max-w-screen-xl mx-auto">
    <div class="relative">

      {% if self.background %}
      <div class="flex justify-center mt-5 lg:mt-0">
        <picture class="lg:absolute lg:top-0 lg:left-0 lg:-mt-20 -ml-20 lg:ml-0">
          {% image self.background format-webp as background_webp %}
          <source srcset="{{ background_webp.url }}" media="(min-width: 600px)" type="image/webp">
          {% image self.background format-webp height-800 as background_webp_mobile %}
          <source srcset="{{ background_webp_mobile.url }}" type="image/webp">

          {% image self.background height-1000 format-png as background_png %}
          <source srcset="{{ background_png.url }}" media="(min-width: 600px)" type="image/png">
          {% image self.background height-600 format-jpeg as background_jpg_mobile %}
          <source srcset="{{ background_jpg_mobile.url }}" type="image/jpg">

          <img src="{{ background_png.url }}" class="max-w-none h-400 md:h-500 lg:h-1000">
        </picture>
      </div>
      {% endif %}

      <div class="relative pt-4 -mt-24 bg-gray-100 lg:bg-transparent lg:absolute lg:left-0 lg:mt-32 px-4">
        {% if self.heading %}
          <h1 class="mx-auto max-w-xs max-w-xl text-green-500 text-center lg:text-left text-4xl md:text-5xl xl:text-6xl font-bold lg:leading-none lg:tracking-tight-">
            {% highlight self.heading self.highlight_in_heading "text-purple" %}
          </h1>
        {% endif %}

        {% if self.text %}
          <div class="hidden lg:block my-10 max-w-md pr-2 text-xl">
            {{ self.text|richtext }}
          </div>
        {% endif %}

        {% if self.text_mobile %}
          <div class="lg:hidden mx-auto max-w-xs text-center">
            {{ self.text_mobile|richtext }}
          </div>
        {% endif %}

        {% if self.buttons %}
          <div class="text-center lg:text-left my-5">
            {% for button in self.buttons %}
              <a class="text-sm lg:text-base inline-flex items-center h-8 lg:h-10 pt-px pl-6 pr-4 mb-4 rounded-full
                {% if button.primary %}shadow bg-green-600 text-white font-bold hover:bg-green-500
                {% else %}bg-white text-green-600 border border-green-600 hover:text-green-500 hover:border-green-500{% endif %}"
                href="{{ button.link }}">
                {{ button.text }}
                <svg class="inline-block ml-3 fill-current h-5 w-5" viewBox="0 0 20 20">
                <path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z" /></svg>
              </a><br>
            {% endfor %}
          </div>
        {% endif %}

        {% if settings.core.SocialMediaSettings.social_medias.all %}
          <div class="flex items-center justify-center lg:justify-start my-8 lg:mt-10 -mx-2">
            {% for social_media in settings.core.SocialMediaSettings.social_medias.all %}
              {% image social_media.icon_color original as icon %}
              <a class="mx-2 md:transition-transform md:duration-200 md:transform md:hover:scale-105" href="{{ social_media.link }}" title="{{ social_media.tooltip }}">
                <img class="w-8" loading="lazy" src="{{ icon.url }}">
              </a>
            {% endfor %}
          </div>
        {% endif %}

      </div>
    </div>
  </div>
</div>


<style>
.content {
  padding-top: 0 !important;
}
.navbar-is-top:not(.menuOpen) {
  transition: all 0s;
  background: transparent !important;
  box-shadow: none !important;
}
</style>

<script>
function updateNavbarIsTop() {
  var navbar = document.querySelector('.navbar')
  if (window.scrollY > 60) {
    navbar.classList.remove('navbar-is-top')
  } else {
    navbar.classList.add('navbar-is-top')
  }
}

document.addEventListener('scroll', updateNavbarIsTop)
updateNavbarIsTop()
</script>