{% load render_partial %}

{% if self.heading %}
  <h2 id="{{ self.heading|slugify }}" class="block-highlights__heading {% if self.objects|length > 2 %}block-highlights--left{% endif %}">{{ self.heading }}</h2>
{% endif %}

<div class="block-highlights__grid">
  {% for object in self.objects %}
    <div class="block-highlights__grid-item">
      {% render_partial object.specific %}
    </div>
  {% endfor %}
</div>

<a class="block-highlights__link {% if self.objects|length > 2 %}block-highlights--left{% endif %}" href="/veranstaltungen">Alle Veranstaltungen</a>
<a class="block-highlights__link {% if self.objects|length > 2 %}block-highlights--left{% endif %}" href="/artikel">Alle Artikel</a>
