{% load wagtailcore_tags wagtailimages_tags %}


<div class="bg-white py-10">

  <div class="max-w-screen-lg mx-auto px-4">
    {% if self.heading %}
      <h2 id="{{ self.heading|slugify }}" class="mb-10 font-bold text-center">{{ self.heading }}</h2>
    {% endif %}

    <div class="flex flex-wrap justify-center xl:-mx-4">
      {% for object in self.objects %}
        {% with object=object.specific %}
          <a href="{% pageurl object %}" class="-ml-5 mb-8 md:mx-4 lg:mx-10 flex md:block group block w-full sm:w-64">

            <div class="flex-shrink-0 overflow-hidden h-32 w-40 md:h-40 md:w-full bg-gray-200 mr-5">
              {% if object.get_image %}
                {% image object.get_image fill-512x320 as image %}
                <img src="{{ image.url }}" class="h-full w-full object-cover md:transition-transform md:duration-200 md:transform md:group-hover:scale-105" alt="{{ image.alt }}">
              {% endif %}
            </div>

            <div>
              <h3 class="inline-block text-xl md:mt-5 mb-2 font-bold text-brown group-hover:text-green-600">{{ object.title }}</h3>
              <p class="text-sm font-light leading-snug md:leading-normal">{{ object.get_description|truncatechars:100 }}</p>
            </div>
          </a>
        {% endwith %}
      {% endfor %}
    </div>
  </div>  

</div>