{% load wagtailcore_tags wagtailimages_tags stuff %}
<div class="{% if self.white_background %}bg-white{% endif %} relative w-full overflow-hidden">

  <div class="relative max-w-screen-lg mx-auto px-4 my-16 z-10">
    {% if self.heading %}
      <h2 id="{{ self.heading|slugify }}" class="text-2xl md:text-4xl max-w-2xl mx-auto mb-10 text-green-500 font-bold text-center">
        {% highlight self.heading self.highlight_in_heading "text-purple" %}
      </h2>
    {% endif %}

    <div class="flex flex-wrap items-start md:justify-center xl:-mx-6">
      {% for group in groups %}
        <a class="relative mx-2 xl:mx-8 my-3 xl:my-6 flex flex-col items-center group w-24 md:w-32" href="{% pageurl group %}">
          <div class="rounded-full border border-transparent group-hover:border-gray-400 overflow-hidden bg-white shadow h-16 w-16 md:h-24 md:w-24 md:group-hover:shadow-md md:transition-shadow md:duration-200">
            <picture>
              {% image group.logo max-512x512 format-webp as logo_webp %}
              {% image group.logo max-512x512 as logo %}
              <source srcset="{{ logo_webp.url }}" type="image/webp">
              <img class="h-full w-full object-contain p-3" loading="lazy" src="{{ logo.url }}">
            </picture>
          </div>

          <div class="mt-3 text-center text-xs md:text-sm md:text-base">
            {{ group.title }}
          </div>

          {% if group.subtitle %}
            <div style="top: 100%" class="absolute hidden z-20 lg:block opacity-0 lg:group-hover:opacity-100 rounded bg-white shadow-md px-3 py-2 mt-2 text-center text-brown text-xs">
              {{ group.subtitle }}
            </div>
          {% endif %}
        </a>
      {% endfor %}
    </div>
  </div>
</div>