{% load wagtailcore_tags wagtailimages_tags stuff %}

<div class="{% if self.white_background %}bg-white{% endif %}">
  <div class="max-w-screen-lg mx-auto px-4 py-20 z-10">

    {% if self.heading %}
      <h2 id="{{ self.heading|slugify }}" class="text-2xl md:text-3xl max-w-2xl mx-auto mb-12 lg:my-24 text-green-500 font-bold text-center js-animate-in" data-animation="zoomIn">
        {% highlight self.heading self.highlight_in_heading "text-purple" %}
      </h2>
    {% endif %}


    <div class="flex flex-wrap justify-around items-stretch">
      {% include_block self.blocks %}
    </div>

    {% comment %} social media {% endcomment %}
    {% if settings.core.SocialMediaSettings.social_medias.all %}
      <div class="my-10 md:my-20">
        <h4 class="text-base md:text-lg text-gray-800 text-center mb-6 md:mb-10">Mehr Social Media</h4>
        <div class="flex items-center justify-center mx-auto">
          {% for social_media in settings.core.SocialMediaSettings.social_medias.all %}
            {% image social_media.icon_color original as icon %}
            <a class="mx-3 md:transition-transform md:duration-200 md:transform md:hover:scale-125" href="{{ social_media.link }}" target="_blank" title="{{ social_media.tooltip }}">
              <img class="w-6 md:w-8" loading="lazy" src="{{ icon.url }}">
            </a>
          {% endfor %}
        </div>
      </div>
    {% endif %}

  </div>
</div>