<iframe
  src="{{ value.url }}"
  allowFullScreen="{{ value.allowFullScreen }}"
  frameborder="0"
></iframe>

<style>
    .block-iframe {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .block-iframe iframe {
      width: {{ value.width }}px;
      height: {{ value.height }}px;
      margin-bottom: 60px;
      margin-top: 60px;
    }

    @media (min-width: 1000px) {
    .userim .block-iframe iframe {
      width: 1000px;
      margin-left: -180px;
      margin-right: -180px;
      height: {% widthratio value.height value.width 1000 %}px;
    }
  }
</style>
