{% load wagtailimages_tags srcset %}

{% image value original as original_image %}

<div class="remove-panel-padding--on-sides">
  <div class="image attribution">
    <a class="cursor-zoom-in" href="{{ original_image.url }}">
      {% image value jpg as original_image %}
      <img src="{{ original_image.url }}"
        srcset="{{ value|srcset:'width-320|jpg width-640|jpg width-1280|jpg width-695|jpg width-1792|jpg' }}"
        sizes="(min-width: 40em) 43.38em, 100vw"
        alt="{{ original_image.alt }}">
      {% if value.attribution %}
        <div class="attribution__content">{{ value.attribution }}</div>
      {% endif %}
    </a>
  </div>
</div>
