{% load wagtailcore_tags %}

<figure>
  {% include_block value.table %}
  <table>
      {% if value.table.table_header %}
          <thead>
          <tr>
              {% for column in value.table.table_header %}
                  <th>
                      {% if column.strip %}
                          {% if value.table.html_renderer %}
                              {{ column.strip|safe|linebreaksbr }}
                          {% else %}
                              {{ column.strip|linebreaksbr }}
                          {% endif %}
                      {% endif %}
                  </th>
              {% endfor %}
          </tr>
          </thead>
      {% endif %}
      <tbody>
      {% for row in value.table.data %}
          <tr>
              {% for column in row %}
                  {% if value.table.first_col_is_header and forloop.first %}
                      <th>
                          {% if column.strip %}
                              {% if value.table.html_renderer %}
                                  {{ column.strip|safe|linebreaksbr }}
                              {% else %}
                                  {{ column.strip|linebreaksbr }}
                              {% endif %}
                          {% endif %}
                      </th>
                   {% else %}
                      <td>
                          {% if column.strip %}
                              {% if html_renderer %}
                                  {{ column.strip|safe|linebreaksbr }}
                              {% else %}
                                  {{ column.strip|linebreaksbr }}
                              {% endif %}
                          {% endif %}
                      </td>
                   {% endif %}
              {% endfor %}
          </tr>
      {% endfor %}
      </tbody>
  </table>


  {% if value.caption %}
    <figcaption class="text-container block-image__caption">{{ value.caption }}</figcaption>
  {% endif %}
</figure>
