{% load wagtailcore_tags humanize wagtailimages_tags srcset stuff %}

<div class="block-teaser__inner">

  {% if self.background %}
    {% image self.background original as background %}
    <img src="{{ background.url }}"
      srcset="{{ self.background|srcset:'width-300 width-600 width-900 width-1200 width-1500 width-1700 original' }}"
      sizes="100vw"
      class="block-teaser__background"
      alt="{{ image.alt }}">
  {% endif %}

  <div class="block-teaser__content container">
    {% if self.title %}
      <h2 class="block-teaser__title">{{ self.title }}</h2>
    {% endif %}

    {% if self.subtitle %}
      <h3 class="block-teaser__subtitle">{{ self.subtitle }}</h3>
    {% endif %}
  </div>

</div>
