{% load stuff %}
{% load wagtailembeds_tags %}
{% with embed=value.embed.url|get_embed %}

  <figure itemprop="video" itemscope itemtype="http://schema.org/VideoObject">

    {{ value.embed }}

    <figcaption class="block-image__caption">
      <span itemprop="caption">
        {% if value.caption %}
          {{ value.caption }}
        {% else %}
          {{ embed.title }}
        {% endif %}
      </span>
      {% if embed.author_name %}
        <span itemprop="author"
              itemscope itemtype="http://schema.org/Person"
              class="block-image__attribution">
          {{ embed.type|capfirst }}: <span itemprop="name">{{ embed.author_name|title }}</span>
          (<a href="{{ embed.url }}">{{ embed.provider_name }}</a>)
        </span>
      {% endif %}
    </figcaption>

  </figure>

{% endwith %}
