{% load wagtailimages_tags %}

<a target="_blank" href="{{ value.url }}">
  {% if value.image %}
    {% image value.image width-600 %}
  {% else %}
    <div class="block-video_link__blackbg"></div>
  {% endif %}

  <svg class="playbutton" width="114.29" height="114.29" viewBox="0 0 114.29 114.29">
    <circle cx="57.14" cy="57.14" r="57.14"/>
    <path class="playbutton__inner" d="M48.24 39.68a2 2 0 0 0-2 2l-.03 27.91a2 2 0 0 0 3.05 1.7L72.3 57.33a2 2 0 0 0 0-3.4l-23-13.95a2 2 0 0 0-1.05-.3z"/>
  </svg>
</a>

{% if value.caption %}
  <figcaption class="block-image__caption">
    <span itemprop="caption">
      {{ value.caption }}
    </span>
  </figcaption>
{% endif %}

<style>
  .block-video_link {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .block-video_link a {
    position: relative;
    display: block;
    width: 100%;
  }

  .block-video_link__blackbg {
    display: block;
    width: 100%;
    padding-bottom: 56.25%;
    background: black;
  }

  .block-video_link img {
    width: 100%;
    height: auto;
  }

  .playbutton {
    position: absolute;
    width: 90px;
    top: calc(50% - 50px);
    left: calc(50% - 45px);
    pointer-events: none;
  }

  .playbutton circle {
    fill: rgba(35,15,15, 0.8);
    transition: fill .5s ease;
  }

  .playbutton__inner {
    fill: white;
  }

  .block-video_link a:hover .playbutton circle,
  .playbutton:hover circle {
    fill: rgba(254,0,0, 0.8);
  }

  .template-homepage .block-video_link {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 12px rgba(0,0,0,.23), 0 3px 12px rgba(0,0,0,.16);
    padding: 40px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
  }
</style>