{% extends "core/__base.html" %}
{% load wagtailcore_tags wagtailimages_tags srcset humanize stuff %}
{% load static from staticfiles %}

{% block body_class %}about-page{% endblock %}


{% block content %}

{% include "core/_pageheader.html" %}

<div class="container userim">

  {% if self.content %}
    <div class="text-container">
      {% include_block self.content %}
    </div>
  {% endif %}

</div>
{% endblock %}


{% block js %}
  {{ block.super }}
  <script>
    $(document).ready(function() {
      var colors = ['red', 'orange', 'blue']
      $('.rich-text a').each(function (i, link) {
        var randColor = colors[i%colors.length];
        $(link).addClass('bg-color-' + randColor)
      });
    });
  </script>
{% endblock %}
