{% load wagtailcore_tags wagtailimages_tags srcset humanize stuff %}


<div class="person click-area"
     itemscope itemtype="http://schema.org/Person">

  {% if person.photo %}
    {% image person.photo fill-250x250 as fallback_image %}
    <img src="{{ fallback_image.url }}"
      srcset="{{ person.photo|srcset:'fill-250x250' }}"
      sizes="(min-width: 48em) and (max-width: 59.9375em) 30vw, (min-width: 60em) 19.1875em, 95vw"
      alt="{{ original_image.alt }}"
      class="person__photo">
    <link itemprop="image" href="{{ fallback_image.url }}">
  {% endif %}

  <div class="person__data">
    <h2 itemprop="name" class="person__name">
      <div class="person__firstname">{{ person.title.split.0 }}</div>
      <div class="person__lastname">{{ person.title.split.1 }}</div>
    </h2>

    {% if person.role %}
      <div class="person__role" itemprop="role">{{ person.role }}</div>
    {% endif %}
    <!-- {% if person.mail %}
      <div><a itemprop="mail" href="mailto:{{ person.mail }}">{{ person.mail }}</a></div>
    {% endif %}
    {% if person.phone %}
      <div><a itemprop="phone" href="{{ person.phone.as_rfc3966 }}">{{ person.phone|prettyphone }}</a></div>
    {% endif %} -->
    <a href="{% pageurl person %}" class="click-area__area-link"></a>
  </div>
</div>
