{% load wagtailcore_tags wagtailimages_tags srcset humanize stuff %}
{% load static from staticfiles %}

<div class="person click-area"
     itemscope itemtype="http://schema.org/Person">

  <a href="{% pageurl person %}" class="click-area__area-link">{{ person.title }}</a>

  {% if person.photo %}
    {% image person.photo fill-250x250 as fallback_image %}
    <img src="{{ fallback_image.url }}"
      srcset="{{ person.photo|srcset:'fill-250x250' }}"
      sizes="(min-width: 48em) and (max-width: 59.9375em) 30vw, (min-width: 60em) 19.1875em, 95vw"
      alt="{{ original_image.alt }}"
      class="person__photo">
    <link itemprop="image" href="{{ fallback_image.url }}">
  {% else %}
    <img class="person__photo" alt="" src="{% static 'core/images/person-outline.svg' %}">
  {% endif %}

  <div class="person__data">
    <h2 itemprop="name" class="person__name">
      {{ person.title }}
    </h2>

    {% if person.role %}
      <span class="person__role" itemprop="role">{{ person.role }}</span>
    {% endif %}
    {% if person.mail %}
      <a class="person__mail" itemprop="mail" href="mailto:{{ person.mail }}">{{ person.mail }}</a>
    {% endif %}
    {% if person.phone %}
      <a class="person__phone" itemprop="phone" href="{{ person.phone.as_rfc3966 }}">{{ person.phone|prettyphone }}</a>
    {% endif %}
  </div>

</div>
