{% extends "core/__base.html" %}
{% load wagtailcore_tags wagtailimages_tags srcset humanize stuff %}

{% block body_class %}person-index-page{% endblock %}

{% block content %}

  {% include "core/_pageheader.html" %}

  <!-- <nav class="person-index-page__controls">
    <div class="container">
      <ul role="menubar" class="pagemenu">
        <li role="menuitem" class="pagemenu__item"><a href="#">Büros</a></li>
        <li role="menuitem" class="pagemenu__item pagemenu__item--active"><a href="#">Leute</a></li>
      </ul>
    </div>
  </nav> -->


  {% if offices %}
    <div class="center-container margin-top-3">
        <div class="card-grid">
          {% for office in offices %}
            {% include 'contact/_office.html' with object=office %}
          {% endfor %}
        </div>
    </div>
  {% else %}
    <div class="container padding-top-6 padding-bottom-5">
      <i class="icon-present color-green" style="font-size: 7rem" aria-hidden="true"></i>
      <div class="margin-bottom-3 margin-top-4 big-font">
      <div class="color-green">Ein Geschenk für Dich.</div>
        <div>Büros, die wir zeigen könnten, gibt es aber leider keine.</div>
      </div>
      <span><a class="color-green" href="/admin/">Du kannst das ändern.</a></span>
    </div>
  {% endif %}

  {% if people %}
    <div class="center-container">
      <div class="card-grid">
        {% for person in people %}
          {% include 'contact/_person.html' %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endblock %}
