{% extends "core/__base.html" %}
{% load wagtailcore_tags wagtailimages_tags srcset humanize stuff %}
{% load render_partial %}

{% block body_class %}person-index-page{% endblock %}

{% block content %}

  {% include "core/_pageheader.html" %}

  {% if offices %}
    <div class="center-container margin-top-3">
        <div class="card-grid">
          {% for office in offices %}
            {% render_partial office %}
          {% endfor %}
        </div>
    </div>
  {% else %}
    <div class="container padding-top-6 padding-bottom-5">
      <i class="icon-present color-green" style="font-size: 7rem" aria-hidden="true"></i>
      <div class="margin-bottom-3 margin-top-4 big-font">
      <div class="color-green">Ein Geschenk für Dich.</div>
        <div>Büros, die wir zeigen könnten, gibt es aber leider keine.</div>
      </div>
      <span><a class="color-green" href="/admin/">Du kannst das ändern.</a></span>
    </div>
  {% endif %}

  {% if people.live %}
    <div class="center-container">
      <div class="card-grid">
        {% for person in people.live %}
          {% render_partial person %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endblock %}
