{% extends "core/__base.html" %}
{% load wagtailcore_tags wagtailimages_tags srcset humanize stuff %}

{% block body_class %}person-page{% endblock %}


{% block content %}

{% image value.image original as original_image %}
<a href="{{ original_image.url }}">
  {% image value.image original as original_image %}
  <img src="{{ original_image.url }}"
    srcset="{{ value.image|srcset:'width-320 width-640 width-1280 width-695 width-1792' }}"
    {% if value.full_width %}
      sizes="100vw"
    {% else %}
        sizes="(min-width: 60em) 51.875em, (min-width: 40em) 40em, 100vw"
    {% endif %}
    alt="{{ original_image.alt }}"
    class="block-image__image {% if value.full_width %}block-image__image--full-width{% endif %}">
</a>

{% endblock %}
