{% extends "core/__base.html" %}
{% load wagtailcore_tags wagtailimages_tags srcset humanize stuff %}
{% load static from staticfiles %}

{% block body_class %}person-page{% endblock %}


{% block content %}
  <div class="container"
       itemscope itemtype="http://schema.org/Person">

     <!-- title -->
     <div class="float-right@medium grid-12__col-7@medium margin-bottom-2">
       <h1 class="title margin-top-0 padding-top-0" itemprop="name">{{ self.title }}</h1>
       {% if self.role %}
         <div itemprop="jobTitle" class="subtitle">
           {{ self.role }}
         </div>
       {% endif %}
    </div>


    <div class="grid-12 margin-top-2">
      <!-- the side column -->
      <div class="grid-12__col-4@medium float-left js-sticky@medium">

        <!-- image -->
        <div class="person__photo-wrapper">
          {% if self.photo %}
            {% image self.photo width-768 as original_image %}
            {% image self.photo fill-250x250 as fallback_image %}
            <a href="{{ original_image.url }}">
              <img src="{{ fallback_image.url }}"
                srcset="{{ self.photo|srcset:'fill-250x250' }}"
                sizes="(min-width: 48em) and (max-width: 59.9375em) 30vw, (min-width: 60em) 19.1875em, 95vw"
                alt="{{ original_image.alt }}"
                class="person__photo">
            </a>
            <link itemprop="image" href="{{ fallback_image.url }}">
            {% if self.photo.attribution %}
              <div class="person-page__photo-attribution">{{ self.photo.attribution }}</div>
            {% endif %}
          {% else %}
            <img class="person__photo" alt="" src="{% static 'core/images/person-outline.svg' %}">
          {% endif %}
        </div>


        <!-- Contact Details -->
        {% if self.mail %}
          <a class="with-icon with-icon--mail" itemprop="email"
              href="mailto:{{ self.mail }}">{{ self.mail }}</a>
        {% endif %}

        {% if self.phone %}
        <a class="with-icon with-icon--phone" itemprop="telephone"
           href="{{ self.phone.as_rfc3966 }}">{{ self.phone|prettyphone }}</a>
        {% endif %}

        <!-- TODO -->
        <!-- <span class="with-icon with-icon--clock">
          erreichbar Dienstag bis Freitag
        </span> -->

        {% if self.office %}
          <span itemprop="workLocation" class="with-icon with-icon--home">
            <a href="{% pageurl self.office %}">{{ self.office.title }}</a>
          </span>
        {% endif %}

      </div>



      <!-- the main column -->
      <div class="grid-12__col-7@medium float-right margin-top-2@until-medium">
        <!-- the content -->
        <div itemprop="description">
          {% include_block self.text %}
        </div>
      </div>



    </div>
  </div>
{% endblock %}
