@mixin grid($spacing: 2rem, $children-selector: '> div, > article', $columns: 2) {

  // flexbox "fallback" if no masonry used or available
  .no-js &.masonry, &:not(.masonry) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
  }

  margin-left: -$spacing/2;
  margin-right: -$spacing/2;

  &#{$children-selector} {
    width: 100%;
    height: auto;
    @include breakpoint($small-breakpoint) {
      width: #{100/$columns - 5}%; // fallback if no calc
      width: calc(#{100/$columns}% - #{$spacing});
    }
    margin-left: $spacing/2;
    margin-right: $spacing/2;
    margin-bottom: $spacing;
  }
}

.grid-2col {
  @include grid;
}

.grid-3col {
  @include grid($columns: 3);
}

.grid-2col-medium-3-col {
  @include grid($columns: 2);
  @include breakpoint($medium-breakpoint) {
    @include grid($columns: 3);
  }
}

.grid-medium-2col {
  @include grid($columns: 1);
  @include breakpoint($medium-down) {
    @include grid;
  }
}
