{% extends "janunde_styleguide/base.html" %}
{% load janun_styles %}

{% block content %}

  {% header scroll_down_id="test" %}
    <h1>Test header</h1>
    <p>Lorem ipsum dolor sit amet.<p>
  {% endheader %}

  {% header video=True scroll_down_id="test" %}
    <h1>Wir sind das Jugendumweltnetzwerk Niedersachsen</h1>
    <p>JANUN ist aktiv für ein gutes Leben in einer ökologischen und sozial gerechten Welt.</p>
    <div class="buttons">
      <a href="#" class="line-button">JANUN entdecken</a>
    </div>
  {% endheader %}

{% endblock %}
