{% load static from staticfiles %}

<!DOCTYPE html>
<html class="no-js" lang="{% block lang %}de{% endblock %}">
  <head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#3a9d00">
    <title>{% block title %}JANUN –  {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "_favicons.html" %}
    {% block meta %}{% endblock %}
    {% include "_google-verification.html" %}
    {% block css %}<link rel="stylesheet" type="text/css" href="{% static "core/css/all.css" %}">{% endblock %}
  </head>

  {% include "analytics/_rollbar.html" %}

  <body class="{% block body_class %}{% endblock %}"
        itemscope itemtype="http://schema.org/WebPage">

    {% if BETABANNER %}
      {% include "_betabanner.html" %}
    {% endif %}

    {% block body_content %}{% endblock %}

    {% block js %}{% endblock %}

    {% if FREESURVEYCREATOR_ID %}
      {% include "_survey.html" %}
    {% endif %}

    {% include "analytics/_mouseflow.html" %}
    {% include "analytics/_piwik.html" %}

    {% block extra_js %}{% endblock %}
  </body>
</html>
