<div class="betabanner">
  <div class="betabanner__inner">
    <span class="hide@until-large">
      Danke! Hier testen wir die neue JANUN-Webseite.
    </span>

    Wir freuen uns über dein
    <a id="toggleFeedback" href="mailto:admin@janun.de?subject=Feedback zur neuen Veranstaltungsseite">Feedback</a>.

    <a class="hide@until-medium betabanner__close float-right hide@no-js" href="#" title="Dieses Banner schließen">×</a>
    <a class="hide@until-medium float-right" href="http://janun.de/">zur alten Seite</a>
  </div>
</div>
