<div class="betabanner" id="betabanner">
  <div class="betabanner__inner">
    <span class="hide@until-large">
      Danke! Hier testen wir die neue JANUN-Webseite.
    </span>

    Wir freuen uns über dein
    <a id="toggleFeedback" href="mailto:admin@janun.de?subject=Feedback zur neuen Veranstaltungsseite">Feedback</a>.

    <a class="hide@until-medium betabanner__close float-right hide@no-js" href="#" title="Dieses Banner schließen">×</a>
    <a class="hide@until-medium float-right" href="http://janun.de/">zur alten Seite</a>
  </div>
</div>
<script>
  function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
      var c = ca[i];
      while (c.charAt(0)==' ') c = c.substring(1,c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
  }

  if (readCookie('hide-betabanner')) {
    document.getElementById('betabanner').style.display = 'none';
  }
</script>
