<!-- freesurveycreator -->
<script>
  (function() {
    // hack: delete the cookie, so the survey wont be hidden
    document.cookie = "survWidget=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;";

    // toggle the freesurvey
    $('#toggleFeedback').click(function (event) {
      event.preventDefault();
      toggleVisibility('{{ FREESURVEYCREATOR_ID }}');
    });
  })();
</script>
<script type='text/javascript' src='//freesurveycreator.com/embeds/{{ FREESURVEYCREATOR_ID }}.js'></script>
<style>
  .fb-cr p, .fb-cr a, .fb-cr textarea, .fb-cr button, .fsc-logo {
    font-family: Cabin, sans-serif;
  }
</style>
