{% load static compress janun_tags wagtailuserbar %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %} - JANUN{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% compress css %}
            <link rel="stylesheet" type="text/x-scss" href="{% static "janunde/scss/all.scss" %}" />
            {% block css %}{% endblock %}
	    {% endcompress %}
    </head>

    <body class="{% block body_class %}{% endblock %}">

        {% block top %}
            {% get_site_root as site_root %}
            {% navbar parent=site_root calling_page=self %}
        {% endblock %}

        <div class="content">
            {% wagtailuserbar %}

            {% block content %}{% endblock %}
        </div>

        {% block footer %}
            {% include "core/footer.html" %}
        {% endblock %}

        {% compress js %}
            {# use self hosted jquery because of privacy concerns for users #}
            <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'core/js/collapse.js' %}"></script>
            <script type="text/javascript" src="{% static 'core/js/dropdown.js' %}"></script>
            <script type="text/javascript" src="{% static 'core/js/transition.js' %}"></script>
            <script type="text/javascript" src="{% static 'core/js/components/navbar/navbar.js' %}"></script>
        {% endcompress %}

    </body>
</html>
