{% extends "core/__base.html" %}
{% load wagtailcore_tags stuff %}

{% block body_class %}{% endblock %}

{% block content %}
<main class="max-w-xl mx-auto px-4 mt-10">

  {% include "core/_breadcrumbs.html" %}

  <header class="mb-6">
    <h1 class="leading-tighter text-green-500 text-3xl md:text-4xl font-bold mt-0 mb-2">
      Passwort benötigt
    </h1>
  </header>

  <p class="my-6">Du brauchst ein Passwort, um die Seite <strong>{{ self.title }}</strong> zu betrachten.</p>

  <form class="form p-5 shadow" action="{{ action_url }}" method="POST">
    {% csrf_token %}

    {{ form.non_field_errors }}

    {{ form.password.label_tag }}    
    {{ form.password }}
    {{ form.password.errors }}

    {% for field in form.hidden_fields %}
      {{ field }}
    {% endfor %}

    <div class="mt-6 flex justify-end">
      <input class="bg-green-500 font-bold text-white px-5 py-2 rounded-full hover:bg-green-600 hover:shadow" type="submit" value="Weiter" />
    </div>
  </form>
   
</main>
{% endblock %}
