$search-input-width: 12rem;

.search {

  input[type=search] {
    border-radius: 0;
    border: none;
    background: rgba(white, 0.2);
    border-bottom: 1px solid white;
    color: white;
    font-style: italic;
    width: $search-input-width;
  }
}

.js .search.animate input[type=search] {
  width: 0;
  opacity: 0;
  transition: 0.2s linear;

  &:focus {
    transition: 0.2s linear;
    opacity: 1;
    width: $search-input-width;
  }
}
