@import "./fonts.css";

@import "tailwindcss/base";
@import "tailwindcss/components";

@import "./rich-text";

@import "tailwindcss/utilities";


/* works only on firefox */
.hyphens-auto {
	hyphens: auto;
}
@supports not (hyphens: auto) {
	.hyphens-auto {
		@apply break-words;
	}
}

html {
	scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

@screen lg {
	.userim .-userim-mx-20 {
		@apply -mx-20;
	}
}


@screen md {
	.md\:animated {
			animation-duration: 1s;
			animation-fill-mode: both;
	}
}