@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.block-paragraph p {
	@apply font-sans text-lg text-brown leading-relaxed;
}


.cursor-zoom-in {
	cursor: zoom-in;
}

html {
	scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}
