@import "tailwindcss/base";
@import "tailwindcss/components";

@import "./rich-text";

@import "tailwindcss/utilities";


/* works only on firefox */
.hyphens-auto {
	hyphens: auto;
}

html {
	scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

@screen lg {
	.userim .-userim-mx-20 {
		@apply -mx-20;
	}
}

.rich-text-gray-900 .rich-text,
.rich-text-gray-900 .rich-text p {
	@apply text-gray-900;
}