{% load wagtailcore_tags wagtailimages_tags janun_tags %}

<article class="panel partial {% block partial-class %}{% endblock %}">
  <div class="wrapper">

    {% if object.main_image %}
    <a class="main-image-wrapper" href="{% pageurl object %}">
      {% image object.main_image jpg as original_image %}
      <img src="{{ original_image.url }}"
        srcset="{{ object.main_image|srcset:'fill-320x192|jpg fill-640x384|jpg fill-1280x768|jpg fill-695x417|jpg fill-1792x1075|jpg' }}"
        sizes="(min-width: 40em) and (max-width: 64em) 48vw, (min-width: 64em) 20em, 100vw"
        alt="{{ original_image.alt }}"
        class="main-image">
    </a>
    {% endif %}

    <div class="overlay">
      <h3><a href="{% pageurl object %}" title="{{object.title}}">{{ object.title }}</a></h3>
    </div>

  </div>
</article>
