/// partial is a small block representing the content type
.partial {
  @include janun-box-shadow;
  //width: rem-calc(320);
  height: rem-calc(192);
  //overflow: hidden;

  .main-image {
    width: 100%;
    height: 100%;
  }

  .wrapper {
    position: relative;

  }

  .overlay {
    width: 100%;
    height: auto;

    padding-left: 1rem;
    padding-right: 1rem;

    position: absolute;
    bottom: 0;

    background: rgba($white, 0.75);
  }
}
