// resets for buttons
button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.line-button {
  border: solid 2px get-color(white);
  border-radius: 4px;
  padding: 0.75rem 0.75rem 0.625rem;
  color: get-color(white);
  min-width: 13.625rem;
  background: transparent;
  @include ms-respond(font-size, 1);
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0.75rem;

  //transition: background-color 300ms ease-out 0s;
  &:hover {
    color: get-color(lighterdark) !important;
    text-shadow: none;
    background-color: get-color(white);
    //transition: background-color 300ms ease-out 0s;
  }
  &:active {
    text-decoration: none;
  }
}
